{% extends 'layouts/eg-layout.html' %}

{% block body %}
{% raw %}
    <div ng-controller="KineticGraphCtrl">
        <div class="row">
            <div class="col-md-6">
                <h1>Demand with Constant Price Elasticity</h1>

                <p>Drag the price up and down to see how the price elasticity at point A changes...or doesn't...</p>
                <hr/>
                <div id="graph"></div>
            </div>
            <div class="col-md-6 big">
                <div class="well">
                    <p style="float:right;color:red">{{error}}</p>

                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">a = {{
                            params.a | number : 0}}
                        </div>
                        <div class="col-xs-8" id="sliderA"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">b = {{
                            params.b | number : 2}}
                        </div>
                        <div class="col-xs-8" id="sliderB"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">P = {{
                            params.price | number : 0}}
                        </div>
                        <div class="col-xs-8" id="sliderPrice"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <equation class="demand">\frac{dQ^D}{dP} = -abP^{-b-1} || = - ({{ params.a | number : 0}})({{
                            params.b | number : 2}}) {{params.price | number:0}}^{-{{ params.b + 1 | number : 2}} } || =
                            {{ model.slopeAtPrice(params.price) | number:2 }}
                        </equation>
                    </div>
                    <div class="col-xs-6">
                        <equation class="growth">Q^D(P) = aP^{-b} || = {{ params.a | number : 0}} \times {{params.price
                            | number:0}}^{-{{ params.b | number : 2}} } || = {{ model.quantityAtPrice(params.price) |
                            number:2 }}
                        </equation>
                    </div>
                </div>
                <hr/>
                <equation>\epsilon_{Q^D,P} = \color{ {{ color('demand') }} }{ \frac{dQ^D}{dP} } \times \frac{P}{\color{
                    {{color('growth')}} }{Q^D(P)}} || = \color{ {{ color('demand') }} }{ {{
                    model.slopeAtPrice(params.price) | number:2 }} } \times \frac{ {{ params.price | number:0 }} }{
                    \color{ {{color('growth')}} }{ {{ model.quantityAtPrice(params.price) | number:2 }} } }|| = -{{
                    params.b | number: 2 }}
                </equation>
            </div>
        </div>
    </div>
    <script>
        var scopeDefinition = {
            params: {
                price: 30,
                a: 625,
                b: 1
            },
            restrictions: [
                {
                    expression: 'params.price',
                    restrictionType: 'range',
                    max: 100,
                    min: 1,
                    precision: 1
                },
                {
                    expression: 'params.a',
                    restrictionType: 'range',
                    max: 2000,
                    min: 100,
                    precision: 5
                },
                {
                    expression: 'model.quantityAtPrice(params.price)',
                    restrictionType: 'range',
                    max: 100,
                    min: 10
                },
                {
                    expression: 'params.b',
                    restrictionType: 'range',
                    max: 2,
                    min: 0.1,
                    precision: 0.01
                }

            ],
            model: {
                type: 'EconGraphs.ConstantElasticityDemand',
                definition: {
                    elasticityMethod: 'constant',
                    type: 'Monomial',
                    def: {
                        level: 'params.a',
                        coefficient: 1,
                        powers: [1, 'params.b']
                    }

                }
            },
            views: [
                {
                    type: 'KG.Graph',
                    definition: {
                        element_id: 'graph',
                        xAxisDef: {min: 0, max: 100, title: '\\text{Quantity Demanded}'},
                        yAxisDef: {min: 0, max: 100, title: '\\text{Price}'},
                        objects: ['model.curve', 'model.priceLine', 'model.quantityDemandedAtPrice', 'model.slopeLine']
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'sliderA',
                        param: 'a',
                        axisDef: {min: 0, max: 2000, tickValues: [0, 1000, 2000]}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'sliderB',
                        param: 'b',
                        axisDef: {min: 0, max: 2, tickValues: [0, 1, 2]}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'sliderPrice',
                        param: 'price',
                        axisDef: {min: 0, max: 100, tickValues: [0, 50, 100]}
                    }
                }
            ]
        }
    </script>
{% endraw %}
{% endblock %}