{% extends 'layouts/econgraphs.html' %}

{% block body %}
{% raw %}
    <div ng-controller="KineticGraphCtrl">
        <div class="row">
            <div class="col-md-8">
                <h1>Demand with Constant Price Elasticity</h1>

                <p>Drag the price up and down to see how the price elasticity at point A changes...or doesn't...</p>
                <hr/>
                <div id="graph"></div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <p style="float:right;color:red">{{error}}</p>

                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">a = {{
                            params.a | number : 0}}
                        </div>
                        <div class="col-xs-8" id="sliderA"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">b = {{
                            params.b | number : 2}}
                        </div>
                        <div class="col-xs-8" id="sliderB"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">P = {{
                            params.price | number : 0}}
                        </div>
                        <div class="col-xs-8" id="sliderPrice"></div>
                    </div>
                </div>
                <equation class="demand">Q^D(P) = aP^{-b} = {{ model.quantityAtPrice(params.price) | number:2 }}</equation>
                <hr/>
                <equation class="green">\frac{dQ^D}{dP} = -abP^{-b-1} = {{ model.slopeAtPrice(params.price) | number:2 }}</equation>
                <hr/>
                <equation>\epsilon_{Q^D,P} = \color{ {{ color('green') }} }{ \frac{dQ^D}{dP} } \times \frac{P}{\color{
                    {{color('demand')}} }{Q^D(P)}} || = \color{ {{ color('green') }} }{ {{
                    model.slopeAtPrice(params.price) | number:2 }} } \times \frac{ {{ params.price | number:0 }} }{
                    \color{ {{color('demand')}} }{ {{ model.quantityAtPrice(params.price) | number:2 }} } }|| = -{{
                    params.b | number: 2 }}
                </equation>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock %}

{% block model %}

    <script>
        var scopeDefinition = {
            params: {
                price: 30,
                a: 120,
                b: 1
            },
            restrictions: [
                {
                    expression: 'params.price',
                    restrictionType: 'range',
                    max: 60,
                    min: 2,
                    precision: 1
                },
                {
                    expression: 'params.a',
                    restrictionType: 'range',
                    max: 400,
                    min: 100,
                    precision: 10
                },
                {
                    expression: 'model.quantityAtPrice(params.price)',
                    restrictionType: 'range',
                    max: 60,
                    min: 1
                },
                {
                    expression: 'params.b',
                    restrictionType: 'range',
                    max: 2,
                    min: 0.1,
                    precision: 0.01
                }

            ],
            model: {
                type: 'EconGraphs.ConstantElasticityDemand',
                definition: {
                    elasticityMethod: 'constant',
                    type: 'Monomial',
                    def: {
                        level: 'params.a',
                        coefficient: 1,
                        powers: [1, 'params.b']
                    }

                }
            },
            views: [
                {
                    type: 'KG.Graph',
                    definition: {
                        element_id: 'graph',
                        xAxisDef: {min: 0, max: 60, title: '\\text{Quantity Demanded}'},
                        yAxisDef: {min: 0, max: 60, title: '\\text{Price}'},
                        square: true,
                        objects: [
                            {
                                type: 'KG.FunctionPlot',
                                definition: {
                                    name: 'demand',
                                    className: 'demand',
                                    fn: 'model.demandFunction',
                                    label: {
                                        text: 'D'
                                    }
                                }
                            },
                            {
                                type: 'KG.HorizontalLine',
                                definition: {
                                    name: 'priceLine',
                                    className: 'price',
                                    type: 'HorizontalLine',
                                    yDrag: 'price',
                                    y: 'params.price',
                                    params: {
                                        yInterceptLabel: 'P'
                                    }
                                }
                            },
                            {
                                type: 'KG.Point',
                                definition: {
                                    name: 'quantityDemandedAtPrice',
                                    className: 'demand',
                                    coordinates: {x: 'model.quantityAtPrice(params.price)', y: 'params.price'},
                                    yDrag: true,
                                    droplines: {
                                        vertical: 'Q^D(P)'
                                    }
                                }
                            },
                            {
                                type: 'KG.Line',
                                definition: {
                                    name: 'slopeLine',
                                    className: 'green dotted',
                                    lineDef: {
                                        point: {
                                            x: 'model.quantityAtPrice(params.price)',
                                            y: 'params.price'
                                        },
                                        slope: '1/model.slopeAtPrice(params.price)',
                                        yDomainDef: {
                                            min: '0.5*params.price',
                                            max: '1.5*params.price'
                                        }
                                    },
                                    label: {
                                        text: 'model.slopeAtPriceWords(params.price)',
                                        align: 'center',
                                        valign: 'top',
                                        dimensions: {width: 100, height: 30}
                                    }
                                }
                            }
                        ]
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'sliderA',
                        param: 'a',
                        axisDef: {min: 100, max: 400}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'sliderB',
                        param: 'b',
                        axisDef: {min: 0, max: 2}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'sliderPrice',
                        param: 'price',
                        axisDef: {min: 0, max: 60}
                    }
                }
            ]
        }
    </script>
{% endblock %}

{% block js %}

    <script src="{{ url_for('static', filename='js/kg/kg-v0.02.js') }}"></script>

{% endblock %}