{% extends 'layouts/econgraphs.html' %}

{% block body %}
{% raw %}
    <div ng-controller="KineticGraphCtrl">
        <h1>Demand Elasticity along a Linear Demand Curve (Point Method)</h1>

        <p>Drag the endpoints of the demand curve to change its slope. Drag the price up and down to see how the price
            elasticity at point A changes.</p>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <div id="graph"></div>
            </div>
            <div class="col-md-6">
                <p class="math displayMath big">\color{ {{ color('green') }} }{\frac{dQ^D}{dP} = -\frac{ {{
                    params.demandQuantityIntercept | number:0 }} }{ {{ params.demandPriceIntercept | number:0}} } = {{
                    model.demandFunction.inverseSlope | number:2 }}}</p>
                <hr/>
                <equation>\epsilon_{Q^D,P} = \frac{P}{ \color{ {{ color('demand') }} }{Q^D(P)} } \times \color{ {{ color('green')
                    }} }{ \frac{dQ^D}{dP} } || = \frac{ {{ params.price | number:0 }} }{ \color { {{ color('demand') }}  } { {{
                    model.quantityAtPrice(params.price) | number:1 }}  } } \times \color{ {{ color('green') }} }{ {{
                    model.demandFunction.inverseSlope | number:2 }} } || = {{
                    model.priceElasticity(params.price).elasticityNumber() }}</equation>
                <p class="math displayMath"></p>
                <hr/>
                <p class="math displayMath big">\left| \epsilon_{Q^D,P} \right| = {{
                    model.priceElasticity(params.price).elasticityComparator}} \Rightarrow \text{ {{
                    model.priceElasticity(params.price).elasticityWord }}}</p>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock %}

{% block model %}
    <script>
        var scopeDefinition = {
            params: {
                price: 30,
                demandPriceIntercept: 40,
                demandQuantityIntercept: 80
            },
            restrictions: [
                {
                    expression: 'params.price',
                    restrictionType: 'range',
                    max: 'params.demandPriceIntercept',
                    min: 0,
                    precision: 1
                },
                {
                    expression: 'params.demandPriceIntercept',
                    restrictionType: 'range',
                    max: 100,
                    min: 5,
                    precision: 5
                },
                {
                    expression: 'params.demandQuantityIntercept',
                    restrictionType: 'range',
                    max: 100,
                    min: 5,
                    precision: 5
                }
            ],
            model: {
                type: 'EconGraphs.LinearDemand',
                definition: {
                    elasticityMethod: 'point',
                    price: 'params.price',
                    type: 'Linear',
                    def: {
                        point1: {
                            x: 0,
                            y: 'params.demandPriceIntercept'
                        },
                        point2: {
                            x: 'params.demandQuantityIntercept',
                            y: 0
                        }
                    }
                }
            },
            views: [
                {
                    type: 'KG.Graph',
                    definition: {
                        element_id: 'graph',
                        xAxisDef: {min: 0, max: 100, title: '\\text{Quantity }(Q)'},
                        yAxisDef: {min: 0, max: 100, title: '\\text{Price }(P)'},
                        objects: [
                            {
                                type: 'KG.Line',
                                definition: {
                                    name: 'demand',
                                    className: 'demand',
                                    linear: 'model.demandFunction',
                                    label: {
                                        text: 'D'
                                    },
                                    interaction: {
                                        highlight: 'demandCurve'
                                    }
                                }
                            },
                            {
                                type: 'KG.Point',
                                definition: {
                                    name: 'demandPriceIntercept',
                                    coordinates: {x: 0, y: 'params.demandPriceIntercept'},
                                    className: 'demand',
                                    interaction: {
                                        yDrag: 'params.demandPriceIntercept',
                                        highlight: 'demandCurve'
                                    }
                                }
                            },
                            {
                                type: 'KG.Point',
                                definition: {
                                    name: 'demandQuantityIntercept',
                                    coordinates: {x: 'params.demandQuantityIntercept', y: 0},
                                    className: 'demand',
                                    interaction: {
                                        xDrag: 'params.demandQuantityIntercept',
                                        highlight: 'demandCurve'
                                    }

                                }
                            },
                            {
                                type: 'KG.HorizontalLine',
                                definition: {
                                    name: 'priceLine',
                                    className: 'price',
                                    type: 'HorizontalLine',
                                    y: 'params.price',
                                    yInterceptLabel: 'P',
                                    interaction: {
                                        yDrag: 'price',
                                        highlight: 'priceLine'
                                    }
                                }
                            },
                            {
                                type: 'KG.Point',
                                definition: {
                                    name: 'quantityDemandedAtPrice',
                                    className: 'demand',
                                    coordinates: {x: 'model.quantityAtPrice(params.price)', y: 'params.price'},
                                    interaction: {
                                        yDrag: 'price'
                                    },
                                    droplines: {
                                        vertical: 'Q^D(P)'
                                    }
                                }
                            },
                            {
                                type: 'KG.GraphDiv',
                                definition: {
                                    name: 'slopeLabel',
                                    className: 'green',
                                    coordinates: {
                                        x: 'model.quantityAtPrice(params.demandPriceIntercept/3) + 1',
                                        y: 'params.demandPriceIntercept/3 + 1'
                                    },
                                    text: ["\\frac{dQ^D}{dP} =", 'model.demandFunction.inverseSlope | number:2'],
                                    align: 'left',
                                    valign: 'bottom',
                                    dimensions: {width: 100, height: 30},
                                    backgroundColor: 'white'
                                }
                            }]
                    }
                }
            ]
        }
    </script>
{% endblock %}

{% block js %}

    <script src="{{ url_for('static', filename='js/kg/kg-v0.02.js') }}"></script>

{% endblock %}