{% extends 'graphs/micro/consumer_theory/utility_budget_controls.html' %}

{% block graphs %}
    {% raw %}
    <h1>Utility Maximization: {{ model.utility.title }}</h1>
    <hr/>
    <div id="utility"></div>
    {% endraw %}
{% endblock %}

{% block belowControls %}
    <hr/>
            <toggle param="snapToOptimal" class="utility"><span ng-if="params.snapToOptimal">Make bundle draggable</span><span ng-if="!params.snapToOptimal">Snap to optimal bundle</span></toggle>
            <toggle param="showMap" class="utility" show-hide="true">indifference curve map</toggle>
    <toggle param="showPreferred" class="preferred" show-hide="true">preferred set</toggle>
                    <toggle param="showDispreferred" class="dispreferred" show-hide="true">dispreferred set</toggle>
{% endblock %}

    {% block jsadjustments %}
        <script>
        scopeDefinition.params.snapToOptimal = false;
        scopeDefinition.params.showMRS = false;
        scopeDefinition.views.push({
            type: 'KG.Graph',
            definition: {
                element_id: 'utility',
                square: true,
                xAxisDef: {min: 0, max: 50, title: '\\text{Units of Good X}'},
                yAxisDef: {min: 0, max: 50, title: '\\text{Units of Good Y}'},
                objects: [
                        preferred,
                        dispreferred,
                    indifferenceCurveMap[0],
                    indifferenceCurveMap[1],
                    indifferenceCurveMap[2],
                    indifferenceCurveMap[3],
                    indifferenceCurveMap[4],
                    indifferenceCurveMap[5],
                    indifferenceCurveMap[6],
                    indifferenceCurveMap[7],
                    indifferenceCurveMap[8],
                    budgetLine,
                        budgetXIntercept,
                        budgetYIntercept,
                    bundlePoint,
                    bundleOptimalY,
                    bundleOptimalX,
                    indifferenceCurve,
                    MRSline,
                    PCCX,
                    PCCY,
                    ICC
                ]
            }
        });
        </script>
    {% endblock %}