<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>EconGraphs</title>
    <meta name="viewport" content="width=device-width,initial-scale=0.5" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/katex.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/econ-graphs-v2.css') }}" rel="stylesheet"/>
</head>
<body ng-app="KineticGraphs" ng-controller="KineticGraphCtrl">
{% block navbar %}
{% if args['course'] == 'econ50' %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('courses',path='stanford/W16-ECON-50')}}">Econ 50 | Stanford | W16</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://coursework.stanford.edu/portal/site/W16-ECON-50-01">Coursework</a></li>
                <li><a href="https://piazza.com/stanford/winter2016/econ50">Piazza</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div style="height:50px"> </div>
    {% elif args['embed'] == 'true' %}
    <!-- embedded in an iframe -->
    {% else %}
    <div id="embedModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Embed this graph</h4>
                </div>
                <div class="modal-body">
                    <p>Copy the following URL to your clipboard:</p>
                    <textarea style="width:100%">http://econgraphs.org{{ request.path }}?embed=true{% for arg in request.args %}&{{ arg }}={{ request.args[arg] }}{% endfor %}
                    </textarea>
                </div>
            </div>
        </div>
    </div>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">econgraphs.org</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" data-target="#embedModal" style="cursor:pointer">Embed</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div style="height:50px"> </div>
{% endif %}

{% endblock %}
<div class="ng-cloak">
{% block body %}
{% endblock %}
<div class="watermark">Copyright (c) Christopher Makler / <a href="http://econgraphs.org">econgraphs.org</a></div>
</div>
{% block model %}
    <script>
        var scopeDefinition = { params: {}};
    </script>
{% endblock %}

<script src="{{ url_for('static', filename='js/lib/libraries.js') }}"></script>
<script>

        var scopeDefinition = scopeDefinition || { params: {}};

        {% for key in args %}

            if(scopeDefinition.params.hasOwnProperty('{{ key }}')) {
                var val = '{{ args[key] }}';
                var typedVal = isNaN(+val) ? val : +val;
                scopeDefinition.params['{{ key }}'] = typedVal;
            }

        {% endfor %}

    </script>
{% block js %}
    <script src="{{ url_for('static', filename='js/kg/kg-v0.04.js') }}"></script>
{% endblock %}

<script>
  function copyToClipboard(text) {
    window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
  }
</script>

</body>
</html>