<!DOCTYPE html>
<html ng-app="econGraphsApp">
<head>
    <title>EconGraphs</title>
    <script src="{{ url_for('static', filename='js/head.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/katex.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body ng-controller="Controller">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">econgraphs.org</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Might use this stuff later <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form> -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://econgraphs.org/about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="production_possibilities">Production Possibilities</a></li>
                        <li><a href="supply_and_demand">Supply and Demand</a></li>
                        <li><a href="elasticity_midpoint">Elasticity (Midpoint)</a></li>
                        <li><a href="linear_demand_point_elasticity">Elasticity along Linear Demand</a></li>
                        <li><a href="individual_and_market_demand">Individual and Market Demand</a></li>
                        <li><a href="cost_curves">Cost Curves</a></li>
                        <li><a href="indifference">Indifference Curves</a></li>
                        <li><a href="as_ad_phillips">Behind the AS-AD Model</a></li>
                        <li class="divider"></li>
                        <li><a href="#">More graphs coming soon...</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block body %}
{% endblock %}

<script src="{{ url_for('static', filename='js/econgraphs-v1.js') }}"></script>

{% block js %}
{% endblock %}

</body>
</html>