{% extends 'layouts/layout.html' %}
{% block body %}

    <div class="container-fluid mainPage" ng-controller="{% block controller %}{% endblock %}">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-center">{% block left_title %}{% endblock %}</h4>
                        <hr/>
                        <div id="left_graph"></div>
                        <!--<div>{% block left_description %}{% endblock %}</div>-->

                    </div>
                    <div class="col-md-4">
                        <h4 class="text-center">{% block center_title %}{% endblock %}</h4>
                        <hr/>
                        <div id="center_graph"></div>
                        <!--<div>{% block center_description %}{% endblock %}</div>-->
                    </div><div class="col-md-4">
                        <h4 class="text-center">{% block right_title %}{% endblock %}</h4>
                        <hr/>
                        <div id="right_graph"></div>
                        <!--<div>{% block right_description %}{% endblock %}</div>-->
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="well">
                    {% block controls %}{% endblock %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}