<html ng-app="econgraphsApp">
<% include header %>
<body>
<% include navbar %>
<div class="container-fluid mainPage" ng-controller="Controller">
	<h1>About econgraphs.org</h1>
	<hr/>
	<p>My name is Chris Makler. I've taught econ classes at the University of Pennsylvania and Stanford University, and worked as the Senior Economist for <a href="http://www.aplia.com" target="new">Aplia</a>, back when all Aplia did was econ. :)</p>
	<p>I've created econgraphs.org as an open source project to provide econ teachers with a standard set of interactive graphs they can use in classes.</p>
	<p>Most of the graphs here are actually sets of linked graphs -- for example, individual and market demand, or total and marginal costs for a firm -- so that econ teachers can illustrate the important underlying relationships within an economic model</p>
	<p>Comments and suggestions are very much appreciated; send me a note at <a href="mailto:chris@econgraphs.org">chris@econgraphs.org</a>. If you're technically minded, check out the source code on Github -- and if you're feeling really adventurous, add to the code and send me a pull request!</p>
	<p>Follow me on <a href="http://twitter.com/microeducation">Twitter</a> or <a href="http://facebook.com/microeducation">Facebook</a> for updates.</p>
</div>
<% include footer %>
</body>
</html>