<html ng-app="econgraphsApp">
<head>
	<title><%= title %></title>
	<script src="lib/d3.v2.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<script src="javascripts/graph_colors.js"></script>
	<script src="javascripts/market_supply_and_demand/graph_axes.js"></script>
	<script src="javascripts/market_supply_and_demand/supply_and_demand.js"></script>
	<script src="javascripts/market_supply_and_demand/price_indicator.js"></script>
	<script src="javascripts/market_supply_and_demand/quantity_indicators.js"></script>
	<script src="javascripts/controller.js"></script>
</head>
<body>
<div class="nav navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header navbar-brand">econgraphs.org</div>
</div>
<div class="container-fluid mainPage" ng-controller="Controller">
	<div class="row">
		<div class="col-md-4">
			<div id="graph1"></div>
		</div>
		<div class="col-md-4">
			<div id="graph2"></div>
		</div>
		<div class="col-md-4">
			<div class="form-inline">Price: <input type="range" min="10" max="90" step="1" ng-model="price"> {{ price }}</div>
			<hr/>
			<p>At a price of ${{ price }} per unit, consumers demand {{quantityDemanded*1000 | number:0}} units and producers supply {{quantitySupplied*1000 | number:0}} units.</p>
			<p ng-if="(quantityDemanded > quantitySupplied)">
			  	Therefore, there is a shortage of {{ (quantityDemanded - quantitySupplied)*1000 | number:0 }} units.
			</p>
			<p ng-if="(quantityDemanded < quantitySupplied)">
			    Therefore, there is a surplus of {{ (quantitySupplied - quantityDemanded)*1000 | number:0 }} units.
			</p>
			<p ng-if="(quantityDemanded == quantitySupplied)">
			    Therefore, the market is in equilibrium.
			</p>
		</div>
	</div>
	
	

</div>
</body>
</html>