<html ng-app="econgraphsApp">
<% include header %>
<body>
<% include navbar %>
<div class="container-fluid mainPage" ng-controller="Controller">
	<h1>EconGraphs</h1>
	<hr/>
	<h3><a href="demand">Individual and Market Demand</a></h3>
	<p>See how various factors shift individual and market demand curves.</p>
</div>
<% include footer %>
</body>
</html>