<html>
<script src="javascripts/d3.v2.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script type="text/javascript">
   function blockMove() {
      event.preventDefault() ;
}
</script>
<body ontouchmove="blockMove()">
<div id="graph">
</div>
<script src="javascripts/graph_colors.js"></script>
<script src="javascripts/graph_parameters.js"></script>
<script src="javascripts/graph_axes.js"></script>
<script src="javascripts/supply_and_demand.js"></script>
</body>
</html>