{% extends 'layouts/econ50/base.html' %}

{% block body %}
    {% raw %}

    <div>
        <div class="row">
            <div class="col-md-8">
                <h1>Isoquants{{ params.hasOwnProperty('selectedUtility') ? ': ' + model.utility.title : '' }}</h1>
                <hr/>
                <div id="utility"></div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <p class="subtitle">production function parameters</p>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">a = {{ params.a | number:1 }}
                        </div>
                        <div class="col-xs-9" id="aSlider"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">b = {{ params.b | number:1 }}
                        </div>
                        <div class="col-xs-9" id="bSlider"></div>
                    </div>
                    <div class="row" ng-show="params.selectedUtility == 'CES'" ng-init="render()">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">\sigma = {{1/(1-model.utility.r) | extendedReal: 2}}:
                        </div>
                        <div class="col-xs-9" id="subSlider"></div>
                    </div>
                </div>
            <hr/>
            <select ng-model="params.selectedUtility" ng-if="params.hasOwnProperty('selectedUtility')">
                <option value="CobbDouglas">Cobb-Douglas</option>
                <option value="Complements">Complements</option>
                <option value="Substitutes">Substitutes</option>
                <option value="CES">CES</option>
            </select>{% endraw %}
            {% block belowControls %}
                {% raw %}
                <div ng-show="params.selectedUtility == 'CobbDouglas'">
                    <equation>F(L,K) = L^aK^b || =L^{ {{ params.a | number:1 }} }K^{ {{ params.b | number:1 }} }
                </div>
                <div ng-show="params.selectedUtility == 'Complements'">
                    <equation>F(L,K) = \min \left\{ \frac{L}{a}, \frac{K}{b} \right\} || = \min \left\{ \frac{L}{ {{ params.a | number:1 }} }, \frac{K}{ {{ params.b | number:1 }} } \right\}</equation>
                </div>
                <div ng-show="params.selectedUtility == 'Substitutes'">
                    <equation>F(L,K) = aL + by || = {{ params.a | number:1 }}L + {{ params.b | number:1 }}K</equation>
                </div>
                <div ng-show="params.selectedUtility == 'CES'">
                    <equation>F(L,K) = (aL^\frac{\sigma - 1}{\sigma} + bK^\frac{\sigma - 1}{\sigma})^\frac{\sigma}{\sigma - 1} || = ({{ params.a | number:1 }}L^{ {{ model.utility.r | number:2 }} } + {{ params.b | number:1 }}K^{ {{ model.utility.r | number:2 }} })^{ {{ 1/model.utility.r | number: 2 }} }</equation>
                </div>
                <div class="math displayMath big" highlight="q1">F({{ params.L }},{{ params.K }}) = {{ model.utility.utility({x: params.L, y: params.K}) | number:2 }}</div>
                <div class="math displayMath big" highlight="q2" ng-show="params.showDouble">F({{ 2*params.L }},{{ 2*params.K }}) = {{ model.utility.utility({x: 2*params.L, y: 2*params.K}) | number:2 }}</div>
                <hr/>
                {% endraw %}
                <toggle param="showMRS" class="utility" show-hide="true">MRTS line</toggle>
                <toggle param="showKL" class="utility" show-hide="true">K/L ratio</toggle>
                <toggle param="showMap" class="utility" show-hide="true">isoquant map</toggle>
                <toggle param="showDouble" class="utility" show-hide="true">F(2L,2K)</toggle>


            {% endblock %}
        </div>
    </div>
    </div>


{% endblock %}

{% block model %}
    {% raw %}
    <script>

        var         cobbDouglasDefinition = {
                    type: 'EconGraphs.CobbDouglasUtility',
                    definition: {
                        xPower: 'params.a',
                        yPower: 'params.b'
                    }
                },
                complementsDefinition = {
                    type: 'EconGraphs.ComplementsUtility',
                    definition: {
                        bundle: {x: 'params.a', y: 'params.b'}
                    }
                },
                substitutesDefinition = {
                    type: 'EconGraphs.SubstitutesUtility',
                    definition: {
                        xCoefficient: 'params.a',
                        yCoefficient: 'params.b'
                    }
                },
                cesDefinition = {
                    type: 'EconGraphs.CESUtility',
                    definition: {
                        alpha: 'params.a/(params.a + params.b)',
                        sub: 'params.sub'
                    }
                },
                selectorDefinition = {
                    type: 'KG.Selector',
                    definition: {
                        selected: 'params.selectedUtility',
                        options: [
                            {
                                name: 'CobbDouglas',
                                label: 'Cobb\-Douglas',
                                selection: cobbDouglasDefinition
                            },
                            {
                                name: 'Complements',
                                label: 'Perfect Complements',
                                selection: complementsDefinition
                            },
                            {
                                name: 'Substitutes',
                                label: 'Perfect Substitutes',
                                selection: substitutesDefinition
                            },
                            {
                                name: 'CES',
                                label: 'CES',
                                selection: cesDefinition
                            }
                        ]
                    }
                },

                bundlePoint = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundle',
                        className: 'utility',
                        coordinates: {
                            x: 'params.L',
                            y: 'params.K'
                        },
                        interaction: {
                            draggable: true,
                            highlight: 'q1'
                        },
                        droplines: {
                            vertical: 'params.L',
                            horizontal: 'params.K'
                        }

                    }
                },
                indifferenceCurve = {
                    type: 'KG.FunctionPlot',
                    definition: {
                        name: 'indifference_curve',
                        className: 'utility',
                        fn: "model.utility.indifferenceCurveThroughBundleFn({x: params.L, y: params.K})",
                        interaction: {
                            highlight: 'q1'
                        },
                        label: {
                            text: ['q =','model.utility.utility({x: params.L, y: params.K}) | number:2']
                        }
                    }
                },
                bundlePoint2 = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundle2',
                        className: 'utility',
                        coordinates: {
                            x: '2*params.L',
                            y: '2*params.K'
                        },
                        show: 'params.showDouble',
                        interaction: {
                            draggable: false,
                            highlight: 'q2'
                        },
                        droplines: {
                            vertical: '2*params.L',
                            horizontal: '2*params.K'
                        }

                    }
                },
                indifferenceCurve2 = {
                    type: 'KG.FunctionPlot',
                    definition: {
                        name: 'indifference_curve2',
                        className: 'utility',
                        show: 'params.showDouble',
                        fn: "model.utility.indifferenceCurveThroughBundleFn({x: 2*params.L, y: 2*params.K})",
                        interaction: {
                            highlight: 'q2'
                        },
                        label: {
                            text: ['q =','model.utility.utility({x: 2*params.L, y: 2*params.K}) | number:2']
                        }
                    }
                },
                indifferenceCurveMap = [5,10,15,20,25,30,35,40,45].map(function(level) {
                    return {
                        type: 'KG.FunctionPlot',
                        definition: {
                            name: 'indifference_curve_'+level,
                            className: 'dataPathFamily',
                            fn: "model.utility.indifferenceCurveAtUtilityFn("+level+")",
                            interaction: {
                                highlight: 'indifferenceMap' + level
                            },
                            show: 'params.showMap',
                            label: {
                                text: ['q = ',level]
                            }
                        }
                    }

                }),
                MRSline = {
                    type: 'KG.Line',
                    definition: {
                        name: 'MRS',
                        className: 'demand dotted',
                        lineDef: {
                            point: {
                                x: 'params.L',
                                y: 'params.K'
                            },
                            slope: '-1*model.utility.mrs({x: params.L, y:params.K})',
                            xDomainDef: {
                                min: '0.5*params.L',
                                max: '1.5*params.L'
                            }
                        },
                        show: 'params.showMRS',
                        interaction: {
                            highlight: 'MRS'
                        },
                        label: {
                            text: ['MRTS_{L,K} = ','model.utility.mrs({x:params.L, y:params.K}) | number:2'],
                            valign: 'top',
                            align: 'center'
                        }
                    }
                },
                KLLine = {
                    type: 'KG.Line',
                    definition: {
                        name: 'KL',
                        className: 'supply dotted',
                        lineDef: {
                            point1: {
                                x: 'params.L',
                                y: 'params.K'
                            },
                            point2: {
                                x: 0,
                                y: 0
                            }
                        },
                        show: 'params.showKL',
                        interaction: {
                            highlight: 'KL'
                        },
                        label: {
                            text: ['\\frac{K}{L} = ','params.K/params.L | number:2']
                        }
                    }
                };


        var scopeDefinition = {
            params: {
                L: 20,
                K: 20,
                a: 0.5,
                b: 0.5,
                alpha: 0.5,
                sub: 0.5,
                showMap: false,
                showMRS: false,
                showKL: false,
                showDouble: false,
                selectedUtility: 'CobbDouglas'
            },
            graphParams: ['selectedBudget'],
            restrictions: [
                {
                    expression: 'params.L',
                    restrictionType: 'range',
                    min: 1,
                    max: 50,
                    precision: 1
                },
                {
                    expression: 'params.K',
                    restrictionType: 'range',
                    min: 1,
                    max: 50,
                    precision: 1
                }
            ],
            model: {
                type: 'EconGraphs.SelectableTwoGoodUtility',
                definition: {utility: selectorDefinition}
            },
            views: [
                {
                    type: 'KG.Graph',
                    definition: {
                        element_id: 'utility',
                        square: true,
                        xAxisDef: {min: 0, max: 50, title: '\\text{Labor (L)}'},
                        yAxisDef: {min: 0, max: 50, title: '\\text{Capital (K)}'},
                        objects: [
                            indifferenceCurveMap[0],
                            indifferenceCurveMap[1],
                            indifferenceCurveMap[2],
                            indifferenceCurveMap[3],
                            indifferenceCurveMap[4],
                            indifferenceCurveMap[5],
                            indifferenceCurveMap[6],
                            indifferenceCurveMap[7],
                            indifferenceCurveMap[8],

                            bundlePoint,
                            indifferenceCurve,
                                bundlePoint2,
                                indifferenceCurve2,
                            MRSline,
                        KLLine]
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'aSlider',
                        param: 'a',
                        precision: '0.1',
                        axisDef: {min: 0.1, max: 1, ticks: 0}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'bSlider',
                        param: 'b',
                        precision: '0.1',
                        axisDef: {min: 0.1, max: 1, ticks: 0}
                    }
                },
                    {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'subSlider',
                        param: 'sub',
                        axisDef: {min: -1, max: 1, ticks: 0}
                    }
                }

            ]
        }
    </script>
    {% endraw %}
{% endblock %}

{% block js %}
    <script>

        var selectedUtility = '{{ args.utilityFunction }}';

        if(selectedUtility == 'CobbDouglas') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = cobbDouglasDefinition;
        }

        if(selectedUtility == 'Leontief' || selectedUtility == 'PerfectComplements' || selectedUtility == 'Complements') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = complementsDefinition;
        }

        if(selectedUtility == 'Substitutes' || selectedUtility == 'PerfectSubstitutes') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = substitutesDefinition;
        }



    </script>

    {% block jsadjustments %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/kg/kg-v0.04.js', update='true') }}"></script>

{% endblock %}