{% extends 'layouts/content_layout.html' %}

{% block content %}

    <div class="container-fluid mainPage">
        <h1>Graphs</h1>
        <hr/>
        <h3><a href="{{ url_for('graphs', graph_name='production_possibilities')}}">Production Possibilities</a></h3>

        <p>See how resource constraints, productivity, and diminishing marginal returns combine to determine an
            economy's production possibilities frontier.</p>

        <h3><a href="{{ url_for('graphs', graph_name='supply_and_demand') }}">Supply and Demand</a></h3>

        <p>Explore the basic model of microeconomics, including surpluses and shortages, shifts in supply and demand,
            elasticity, and the effects of a tax.</p>

        <h3><a href="{{ url_for('graphs', graph_name='individual_and_market_demand')}}">Individual and Market Demand</a></h3>

        <p>See how various factors shift individual and market demand curves.</p>

        <h3><a href="{{ url_for('graphs', graph_name='cost_curves')}}">Cost Curves</a></h3>

        <p>See how firms' cost curves influence their profit-maximizing quantity choice.</p>

        <h3><a href="{{ url_for('graphs', graph_name='indifference')}}">Indifference Curves</a></h3>

        <p>Demonstration of Cobb-Douglass indifference curves.</p>

        <h3><a href="{{ url_for('graphs', graph_name='as_ad_phillips')}}">Behind the AS-AD Model</a></h3>

        <p>Demonstration of interaction among AS-AD, labor market, and Phillips Curve.</p>
    </div>

{% endblock %}