{% extends 'layouts/one_graph_layout.html' %}

{% block controller %}IndifferenceCurvesController{% endblock %}

{% block graph_title %}Indifference Curve Diagram{% endblock %}

{% block description %}

    {% raw %}

    <p>This graph shows all points (<i>x</i>, <i>y</i>) such that <i>U</i>(<i>x</i>,<i>y</i>) = U({{ allocation.x }},{{ allocation.y }}).</p>
    <p>In this case, we're using the Cobb-Douglass utility function <i>U</i>(<i>x</i>, <i>y</i>) =  <i>x</i><sup>{{utilityParams.alpha | number : 2}}</sup><i>y</i><sup>{{(1 - utilityParams.alpha) | number : 2}}</sup>.</p>
    <p>Therefore, the indifference curve shows all points (<i>x</i>, <i>y</i>) such that <i>x</i><sup>{{utilityParams.alpha | number : 2}}</sup><i>y</i><sup>{{(1 - utilityParams.alpha) | number : 2}}</sup> = {{ allocation.x }}<sup>{{utilityParams.alpha | number : 2}}</sup>{{ allocation.y }}<sup>{{(1 - utilityParams.alpha) | number : 2}}</sup>.</p>

    {% endraw %}

{% endblock %}

{% block controls %}

    {% raw %}

    <p>Preference for good X: {{ utilityParams.alpha | number : 2 }}<input type="range" min="0" max="1" step="0.01" ng-model="utilityParams.alpha"></p>
	<p>Units of good X:  {{ allocation.x | number : 1 }}<input type="range" min="1" max="9" step="0.1" ng-model="allocation.x"></p>
    <p>Units of good Y:  {{ allocation.y | number : 1 }}<input type="range" min="1" max="9" step="0.1" ng-model="allocation.y"></p>


    {% endraw %}

{% endblock %}

{% block js %}

    <script src="../../static/javascripts/indifference_curves/cobb_douglass.js"></script>
    <script src="../../static/javascripts/indifference_curves/controller.js"></script>

{% endblock %}