{% extends 'layouts/eg-layout.html' %}

{% block body %}
{% raw %}
    <div ng-controller="KineticGraphCtrl">
        <h1>Price Elasticity along a Linear Demand Curve (Point Method)</h1>

        <p>Drag the endpoints of the demand curve to change its slope. Drag the price up and down to see how the price
            elasticity at point A changes.</p>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <div id="graph"></div>
            </div>
            <div class="col-md-6 big">
                <p class="math displayMath">\color{ {{ color('demand') }} }{\frac{dQ^D}{dP} = \frac{ {{
                    params.demandQuantityIntercept | number:0 }} }{ {{ params.demandPriceIntercept | number:0}} } = {{
                    model.demandFunction.inverseSlope | number:2 }}}</p>
                <hr/>
                <p class="math displayMath">\epsilon_{Q^D_A,P_A} = \frac{P_A}{Q^D_A} \times \color{ {{ color('demand')
                    }} }{ \frac{dQ^D}{dP} } = \frac{ {{ params.price | number:0 }} }{ {{
                    model.quantityAtPrice(params.price) | number:1 }} } \times \color{ {{ color('demand') }} }{ {{
                    model.demandFunction.inverseSlope | number:2 }} } = {{
                    model.priceElasticity(params.price).elasticityNumber() }}</p>
                <hr/>
                <p class="math displayMath">\left| \epsilon_{Q^D_A,P_A} \right| = {{
                    model.priceElasticity(params.price).elasticityComparator}} \Rightarrow \text{ {{
                    model.priceElasticity(params.price).elasticityWord }}}</p>
            </div>
        </div>
    </div>
    <script>
        var scopeDefinition = {
            params: {
                price: 30,
                demandPriceIntercept: 40,
                demandQuantityIntercept: 80
            },
            restrictions: [
                {
                    expression: 'params.price',
                    restrictionType: 'range',
                    max: 'params.demandPriceIntercept',
                    min: 0,
                    precision: 1
                },
                {
                    expression: 'params.demandPriceIntercept',
                    restrictionType: 'range',
                    max: 100,
                    min: 5,
                    precision: 5
                },
                {
                    expression: 'params.demandQuantityIntercept',
                    restrictionType: 'range',
                    max: 100,
                    min: 5,
                    precision: 5
                }
            ],
            model: {
                type: 'EconGraphs.LinearDemand',
                definition: {
                    elasticityMethod: 'point',
                    type: 'TwoPointLine',
                    def: {
                        p1: {
                            x: 0,
                            y: 'params.demandPriceIntercept'
                        },
                        p2: {
                            x: 'params.demandQuantityIntercept',
                            y: 0
                        }
                    }
                }
            },
            views: [
                {
                    type: 'KG.Graph',
                    definition: {
                        element_id: 'graph',
                        xAxis: {min: 0, max: 100, title: '\\text{Quantity }(Q)'},
                        yAxis: {min: 0, max: 100, title: '\\text{Price }(P)'},
                        objects: ['model.curve', 'model.priceInterceptPoint', 'model.quantityInterceptPoint', 'model.priceLine', 'model.quantityDemandedAtPrice']
                    }
                }
            ]
        }
    </script>
    {% endraw %}
{% endblock %}