body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mainPage {
  margin-top: 10;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 14;
}

.curve {
  stroke-width: 4px;
}

.dropline {
  stroke-dasharray: 10,10;
  stroke-width: 2px;
}

.price {
  fill: grey;
  stroke: lightgrey;
  stroke-width: 4px;
  stroke-dasharray: 10,10;
}