/* Note: these colors are chosen to match the ordinal scales in D3 */
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
body {
  font-size: 12pt;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
  height: 100%;
  overflow: hidden;
}
a {
  color: #00b7ff;
}
.mainPage {
  margin-top: 65px;
}
.axis text {
  font-size: 24px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: default;
}
.axis .tick text {
  fill: grey;
  font-size: 12px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dropline {
  stroke-dasharray: 10, 10;
  stroke-width: 2px;
  stroke: grey;
}
.invisible {
  display: none;
}
.dataPathFamily {
  stroke: lightgrey;
  stroke-width: 1;
  fill: none;
}
.draw,
.segment,
.dataPath,
.line,
.curve {
  stroke-width: 4;
  fill: none;
}
.scatter {
  stroke: black;
  stroke-width: 1;
}
.mask {
  fill: white;
}
/* matrix notation - from http://stackoverflow.com/questions/11561137 */
.matrix {
  position: relative;
  padding: 20px;
}
.matrix:before,
.matrix:after {
  content: "";
  position: absolute;
  top: 0;
  border: 1px solid #000;
  width: 6px;
  height: 100%;
}
.matrix:before {
  left: -6px;
  border-right: 0px;
}
.matrix:after {
  right: -6px;
  border-left: 0px;
}
.matrix td {
  padding: 5px;
  text-align: center;
}
.big {
  font-size: 20pt;
}
.arrow {
  stroke-width: 1.5pt;
}
.diff1 {
  color: #9467bd;
  stroke: #9467bd;
  fill: #9467bd;
}
.diff2 {
  color: #2ca02c;
  stroke: #2ca02c;
  fill: #2ca02c;
}
.dashed {
  stroke-dasharray: 10, 10;
}
.dotted {
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}
.pointLabel {
  color: white;
  font-size: 10pt;
}
.demand {
  color: #1f77b4;
  stroke: #1f77b4;
}
.growth {
  color: #2ca02c;
  stroke: #2ca02c;
}
.balancedGrowth {
  color: #2ca02c;
  stroke: #2ca02c;
  stroke-dasharray: 10,10;
}
.capital {
  color: #ff7f0e;
  stroke: #ff7f0e;
  fill: #ff7f0e;
}
.consumption {
  color: #1f77b4;
  stroke: #1f77b4;
  fill: #1f77b4;
}
.totalCost {
  color: #d62728;
  stroke: #d62728;
  fill: #d62728;
}
.marginalCost {
  color: #ff7f0e;
  stroke: #ff7f0e;
  fill: #ff7f0e;
}
.averageCost {
  color: #9467bd;
  stroke: #9467bd;
  fill: #9467bd;
}
.utility {
  color: #1f77b4;
  stroke: #1f77b4;
  fill: #1f77b4;
}
.expectedUtility {
  color: #2ca02c;
  stroke: #2ca02c;
  fill: #2ca02c;
}
.riskPremium {
  color: #9467bd;
  stroke: #9467bd;
  fill: #9467bd;
}
.curve {
  fill: none;
}
