@font-face {
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    src: local('NewsCycle Regular'), local('NewsCycle-Regular'), url(fonts/NewsCycle-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    src: local('NewsCycle Bold'), local('NewsCycle-Bold'), url(fonts/NewsCycle-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(fonts/Lato-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(fonts/Lato-BoldItalic.woff) format('woff');
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.mainPage {
    margin-top: 65px;
}

.axis text {
    font: 18px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.curve {
    stroke-width: 4px;
}

.dropline {
    stroke-dasharray: 10, 10;
    stroke-width: 2px;
}

.budgetline {
    stroke-width: 2px;
    color: blue;
}

.calendar {
    padding: 5px;
}

.today-date, .empty-date, .lecture-date, .section-date {
    border: thin grey solid;
    text-align: center;
    font-size: x-small;
    height: 300px;
    margin: 20px;
}

.calendar-date {
    color: grey;
    font-size: x-small;
    text-align: center;
}

.calendar-row {
    height: 30%;
    border-bottom: 1px black solid;
}

.today-date {
    background-color: lightgreen;
}

.empty-date .calendar-date {
    color: lightgray;
}

.missing {
    text-decoration: underline;
}