{% extends 'layouts/econ50/base.html' %}

{% block body %}

<div>
    <div class="row">
        <div class="col-md-9"><h1>Individual and Market Supply and Demand</h1></div>
        <div class="col-md-3">
            <toggle param="snapToEquilibrium" class="green">
                <span ng-if="params.snapToEquilibrium">Make price draggable</span>
                <span ng-if="!params.snapToEquilibrium">Keep at equilibrium</span>
            </toggle>
            <toggle param="showShortageSurplus" ng-if="!params.snapToEquilibrium" class="purple" show-hide="true">shortage/surplus</toggle>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="individualDemandGraph"></div>
        </div>
        <div class="col-md-4">
            <div id="marketGraph"></div>
        </div>
        <div class="col-md-4">
            <div id="individualSupplyGraph"></div>
        </div>
    </div>


        {% raw %}
    <div class="row">
            <div class="col-md-4 well">
                <div class="subtitle">demand shifters</div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">I = {{params.income}}:
                    </div>
                    <div class="col-xs-9" id="incomeSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">N_C = {{params.nc}}:
                    </div>
                    <div class="col-xs-9" id="ncSlider"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="demand math displayMath" highlight="individualQuantityDemanded">q^D(P) = \frac{\frac{1}{4}I}{P} = \frac{ \frac{1}{4}{{ params.income }} }{ {{ model.price | number:2}} } = {{ model.individualQuantityDemanded | number:2 }}</div>
                <div class="demand math displayMath" highlight="marketQuantityDemanded">Q^D(P) = N_C \times q^D(P) = {{ params.nc }} \times {{ model.individualQuantityDemanded | number:2 }} = {{ model.marketQuantityDemanded | number:0 }}</div>
                <div class="supply math displayMath" highlight="individualQuantitySupplied">q^S(P) = \frac{P}{w} = \frac{ {{ model.price | number:2 }} }{ {{ params.wage }} } = {{ model.individualQuantitySupplied | number:2 }}</div>
                <div class="supply math displayMath" highlight="marketQuantitySupplied">Q^S(P) = N_F \times q^S(P) = {{ params.nf }} \times {{ model.individualQuantitySupplied | number:2 }} = {{ model.marketQuantitySupplied | number:0 }}</div>
            </div>
            <div class="col-md-4 well">
                <div class="subtitle">supply shifters</div>



                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">w = {{params.wage}}:
                    </div>
                    <div class="col-xs-9" id="wageSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">N_F = {{params.nf}}:
                    </div>
                    <div class="col-xs-9" id="nfSlider"></div>
                </div>

            </div>

        {% endraw %}
    </div>
</div>
{% endblock %}

{% block model %}

<script>

        var individualPriceLine = {
                    type: 'KG.HorizontalLine',
                    definition: {
                        name: 'individualPriceLine',
                        className: 'price',
                        y: 'model.price',
                        yInterceptLabel: 'P',
                        interaction: {
                            yDrag: '!params.snapToEquilibrium',
                            yDragParam: 'price',
                            highlight: 'price'
                        }
                    }
                },
                marketPriceLine = {
                    type: 'KG.HorizontalLine',
                    definition: {
                        name: 'marketPriceLine',
                        className: "model.inEquilibrium ? 'equilibrium price' : 'price'",
                        y: 'model.price',
                        yInterceptLabel: 'P',
                        interaction: {
                            yDrag: '!params.snapToEquilibrium',
                            yDragParam: 'price',
                            highlight: 'price'
                        }
                    }
                },
                individualDemandCurve = {
                    type: 'KG.FunctionPlot',
                    definition: {
                        name: 'individualDemand',
                        className: 'demand',
                        fn: 'model.individualDemandFunction',
                        yIsIndependent: true,
                        yDomainDef: {min: 1, max: 38},
                        label: {
                            text: "d",
                            valign: 'bottom'
                        },
                        interaction: {
                            highlight: 'individualDemand'
                        }
                    }
                },
                individualQuantityDemandedPoint = {
                    type: 'KG.Point',
                    definition: {
                        name: 'individualQuantityDemanded',
                        className: 'demand',
                        coordinates: {
                            x: 'model.individualQuantityDemanded',
                            y: 'model.price'
                        },
                        droplines: {
                            vertical: 'q^D'
                        },
                        interaction: {
                            highlight: 'individualQuantityDemanded'
                        }
                    }
                },
                marketDemandCurve = {
                    type: 'KG.FunctionPlot',
                    definition: {
                        name: 'marketDemand',
                        className: 'demand',
                        fn: 'model.marketDemandFunction',
                        yIsIndependent: true,
                        yDomainDef: {min: 2, max: 38},
                        label: {
                            text: "D",
                            valign: 'bottom'
                        },
                        interaction: {
                            highlight: 'marketDemand'
                        }
                    }
                },
                marketQuantityDemanded = {
                    type: 'KG.Point',
                    definition: {
                        name: 'marketQuantityDemanded',
                        className: 'demand',
                        show: '!model.inEquilibrium',
                        coordinates: {
                            x: 'model.marketQuantityDemanded',
                            y: 'params.price'
                        },
                        droplines: {
                            vertical: 'Q^D'
                        },
                        interaction: {
                            highlight: 'marketQuantityDemanded'
                        }
                    }
                },
                individualSupplyCurve = {
                    type: 'KG.FunctionPlot',
                    definition: {
                        name: 'individualSupply',
                        className: 'supply',
                        fn: 'model.individualSupplyFunction',
                        yIsIndependent: true,
                        yDomainDef: {min: 1, max: 38},
                        label: {
                            text: "s",
                            valign: 'bottom'
                        },
                        interaction: {
                            highlight: 'individualSupply'
                        }
                    }
                },
                individualQuantitySuppliedPoint = {
                    type: 'KG.Point',
                    definition: {
                        name: 'individualQuantitySupplied',
                        className: 'supply',
                        coordinates: {
                            x: 'model.individualQuantitySupplied',
                            y: 'model.price'
                        },
                        droplines: {
                            vertical: 'q^S'
                        },
                        interaction: {
                            highlight: 'individualQuantitySupplied'
                        }
                    }
                },
                marketSupplyCurve = {
                    type: 'KG.FunctionPlot',
                    definition: {
                        name: 'marketSupply',
                        className: 'supply',
                        fn: 'model.marketSupplyFunction',
                        yIsIndependent: true,
                        yDomainDef: {min: 2, max: 38},
                        label: {
                            text: "S",
                            valign: 'bottom'
                        },
                        interaction: {
                            highlight: 'marketSupply'
                        }
                    }
                },
                marketQuantitySupplied = {
                    type: 'KG.Point',
                    definition: {
                        name: 'marketQuantitySupplied',
                        className: 'supply',
                        show: '!model.inEquilibrium',
                        coordinates: {
                            x: 'model.marketQuantitySupplied',
                            y: 'model.price'
                        },
                        droplines: {
                            vertical: 'Q^S'
                        },
                        interaction: {
                            highlight: 'marketQuantitySupplied'
                        }
                    }
                },
                marketEquilibriumQuantityPoint = {
                    type: 'KG.Point',
                    definition: {
                        name: 'marketEquilibriumQuantity',
                        className: 'equilibrium',
                        show: 'model.inEquilibrium',
                        coordinates: {
                            x: 'model.marketQuantityDemanded',
                            y: 'model.price'
                        },
                        droplines: {
                            vertical: 'Q^E'
                        },
                        interaction: {
                            highlight: 'marketQuantitySupplied marketQuantityDemanded'
                        }
                    }
                },
                shortageSurplusIndicator = {
                                type: 'KG.Segment',
                                definition: {
                                    name: 'surplusShortage',
                                    arrows: 'BOTH',
                                    className: 'diff1',
                                    show: '(params.showShortageSurplus && !model.inEquilibrium)',
                                    a: {
                                        x: 'model.marketQuantitySupplied',
                                        y: 2
                                    },
                                    b: {
                                        x: 'model.marketQuantityDemanded',
                                        y: 2
                                    },
                                    trimPercent: 0.05,
                                    label: {
                                        text: 'model.surplusShortageWord',
                                        valign: "top",
                                        align: 'center',
                                        dimensions: {width: 50, height: 20}
                                    },
                                    interaction: {
                                        highlight: 'surplusShortage'
                                    }
                                }
                            }


        var scopeDefinition = {
            params: {
                alpha: 0.25,
                income: 100,
                nc: 64,
                nf: 64,
                wage: 4,
                price: 20,
                snapToEquilibrium: false,
                showShortageSurplus: true
            },
            graphParams: [],
            restrictions: [
                {
                    restrictionType: 'range',
                    expression: 'params.price',
                    min: 4,
                    max: 36,
                    precision: 1
                }
            ],
            model: {
                type: 'EconGraphs.IndividualAndMarketSandD',
                definition: {
                    alpha: 'params.alpha',
                    income: 'params.income',
                    nc: 'params.nc',
                    nf: 'params.nf',
                    wage: 'params.wage',
                    price: 'params.price',
                    snapToEquilibrium: 'params.snapToEquilibrium'
                }
            },
            views: [
                {
                    type: 'KG.Graph',
                    definition: {
                        element_id: 'individualDemandGraph',
                        xAxisDef: {min: 0, max: 10, title: '\\text{Individual Quantity Demanded}'},
                        yAxisDef: {min: 0, max: 40, title: '\\text{Price}'},
                        square: true,
                        objects: [ individualPriceLine, individualDemandCurve, individualQuantityDemandedPoint]
                    }
                },
                {
                    type: 'KG.Graph',
                    definition: {
                        element_id: 'marketGraph',
                        xAxisDef: {min: 0, max: 500, title: '\\text{Market Quantity Supplied and Demanded}'},
                        yAxisDef: {min: 0, max: 40, title: '\\text{Price}'},
                        square: true,
                        objects: [
                            marketPriceLine,
                            marketDemandCurve,
                            marketSupplyCurve,
                            marketQuantityDemanded,
                            marketQuantitySupplied,
                            marketEquilibriumQuantityPoint,
                            shortageSurplusIndicator
                        ]
                    }
                },
                {
                    type: 'KG.Graph',
                    definition: {
                        element_id: 'individualSupplyGraph',
                        xAxisDef: {min: 0, max: 10, title: '\\text{Individual Quantity Supplied}'},
                        yAxisDef: {min: 0, max: 40, title: '\\text{Price}'},
                        square: true,
                        objects: [individualPriceLine, individualSupplyCurve, individualQuantitySuppliedPoint]
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'incomeSlider',
                        param: 'income',
                        precision: '1',
                        axisDef: {min: 64, max: 225, tickValues: [64, 100, 144, 225]}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'wageSlider',
                        param: 'wage',
                        precision: '1',
                        axisDef: {min: 1, max: 25, tickValues: [1, 4, 9, 16, 25]}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'ncSlider',
                        param: 'nc',
                        precision: '1',
                        axisDef: {min: 36, max: 144, tickValues: [36, 64, 81, 100, 144]}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'nfSlider',
                        param: 'nf',
                        precision: '1',
                        axisDef: {min: 36, max: 144, tickValues: [36, 64, 81, 100, 144]}
                    }
                }
            ]
        }
    </script>
{% endblock %}



{% block js %}

    <script src="{{ url_for('static', filename='js/kg/kg-v0.02.js') }}"></script>

{% endblock %}