
@import 'econ-colors.less';

.price {
  color: @price;
  stroke: @price;
  stroke-width: 2;
  stroke-dasharray: 10,10;
}

.demand {
  color: @demand;
  stroke: @demand;
  fill: @demandOld;
}

.supply {
  color: @supply;
  stroke: @supply;
  fill: @supplyOld;
}

.equilibrium {
  color: @equilibrium;
  stroke: @equilibrium;
  fill: @equilibriumOld;
}

.growth {
  color: @growth;
  stroke: @growth;
}

.balancedGrowth {
  color: @growth;
  stroke: @growth;
  stroke-dasharray: 10,10;
}

.capital {
  color: @capital;
  stroke: @capital;
  fill: @capital;
}

.consumption {
  color: @consumption;
  stroke: @consumption;
  fill: @consumptionOld;
}

.longRunTotalCost {
  color: @longRunTotalCost;
  stroke: @longRunTotalCost;
  fill: @longRunTotalCostOld;
}

.totalCost {
  color: @totalCost;
  stroke: @totalCost;
  fill: @totalCostOld;
}

.averageCost {
  color: @averageCost;
  stroke: @averageCost;
  fill: @averageCostOld;
}

.marginalCost {
  color: @marginalCost;
  stroke: @marginalCost;
  fill: @marginalCostOld;
}

.variableCost {
  color: @variableCost;
  stroke: @variableCost;
  fill: @variableCostOld;
}

.averageVariableCost {
  color: @averageVariableCost;
  stroke: @averageVariableCost;
  fill: @averageVariableCostOld;
}

.utility {
  color: @utility;
  stroke: @utility;
  fill: @utilityOld;
}

.utilityOld {
  color: @utilityOld;
  stroke: @utilityOld;
  fill: @utilityOld;
}

.expectedUtility {
  color: @expectedUtility;
  stroke: @expectedUtility;
  fill: @expectedUtilityOld;
}

.riskPremium {
  color: @riskPremium;
  stroke: @riskPremium;
  fill: @riskPremiumOld;
}

.totalRevenue {
  color: @totalRevenue;
  stroke: @totalRevenue;
  fill: @totalRevenueOld;
}

.marginalRevenue {
  color: @marginalRevenue;
  stroke: @marginalRevenue;
  fill: @marginalRevenueOld;
}

.budget {
  color: @budget;
  stroke: @budget;
  fill: @budgetOld;
}

.budgetOld {
  color: @budgetOld;
  stroke: @budgetOld;
  fill: @green-light;
}

.engel {
  color: @engel;
  stroke: @engel;
  fill: @engelOld;
}

.curve {
  fill: none;
}

.engel.curve {
  fill: none;
}

.preferred {
  fill: @preferred;
}

.dispreferred {
  fill: @dispreferred;
}

@import 'kinetic-graphs.less';