@import 'colors.less';

@demand: @blue-dark;
@demandOld: @blue-light;

@supply: @orange-dark;
@supplyOld: @orange-light;

@growth: @green-dark;
@growthOld: @green-light;

@capital: @orange-dark;
@capitalOld: @orange-light;

@averageCost: @purple-dark;
@averageCostOld: @purple-light;

@marginalCost: @orange-dark;
@marginalCostOld: @orange-light;

@variableCost: @green-dark;
@variableCostOld: @green-light;

@consumption: @blue-dark;
@consumptionOld: @blue-light;

@longRunTotalCost: @orange-dark;
@longRunTotalCostOld: @orange-light;

@totalCost: @red-dark;
@totalCostOld: @red-light;

@utility: @eminence-dark;
@utilityOld: @purple-light;

@budget: @forestgreen-dark;
@budgetOld: @green-dark;

@expectedUtility: @green-dark;
@expectedUtilityOld: @green-light;

@riskPremium: @orange-dark;
@riskPremiumOld: @orange-light;

@totalRevenue: @green-dark;
@totalRevenueOld: @green-light;

@marginalRevenue: @tan-dark;
@marginalRevenueOld: @tan-light;

@averageVariableCost: @tan-dark;
@averageVariableCostOld: @tan-light;

@pcc: @utility;
@pccOld: @utilityOld;

@icc: @orange-dark;
@iccOld: @orange-light;

@engel: @orange-dark;
@engelOld: @orange-light;

@price: @gray-dark;
@priceOld: @gray-light;

@equilibrium: @green-dark;
@equilibriumOld: @green-light;

@preferred: @green-light;
@dispreferred: @red-light;