@import 'kinetic-graphs.less';
@import 'econ-colors.less';

.demand {
  color: @demand;
  stroke: @demand;
}

.supply {
  color: @supply;
  stroke: @supply;
}

.growth {
  color: @growth;
  stroke: @growth;
}

.balancedGrowth {
  color: @growth;
  stroke: @growth;
  stroke-dasharray: 10,10;
}

.capital {
  color: @capital;
  stroke: @capital;
  fill: @capital;
}

.consumption {
  color: @consumption;
  stroke: @consumption;
  fill: @consumption;
}

.totalCost {
  color: @totalCost;
  stroke: @totalCost;
  fill: @totalCost;
}

.averageCost {
  color: @averageCost;
  stroke: @averageCost;
  fill: @averageCost;
}

.marginalCost {
  color: @marginalCost;
  stroke: @marginalCost;
  fill: @marginalCost;
}

.variableCost {
  color: @variableCost;
  stroke: @variableCost;
  fill: @variableCost;
}

.averageVariableCost {
  color: @averageVariableCost;
  stroke: @averageVariableCost;
  fill: @averageVariableCost;
}

.utility {
  color: @utility;
  stroke: @utility;
  fill: @utility;
}

.utility-old {
  color: @utility-old;
  stroke: @utility-old;
  fill: @utility-old;
}

.expectedUtility {
  color: @expectedUtility;
  stroke: @expectedUtility;
  fill: @expectedUtility;
}

.riskPremium {
  color: @riskPremium;
  stroke: @riskPremium;
  fill: @riskPremium;
}

.totalRevenue {
  color: @totalRevenue;
  stroke: @totalRevenue;
  fill: @totalRevenue;
}

.marginalRevenue {
  color: @marginalRevenue;
  stroke: @marginalRevenue;
  fill: @marginalRevenue;
}

.budget {
  color: @budget;
  stroke: @budget;
  fill: @budget;
}

.engel {
  color: @engel;
  stroke: @engel;
  fill: @engel;
}

.curve {
  fill: none;
}

.engel.curve {
  fill: none;
}