@import 'colors.less';

@asset: @blue-dark;
@assetOld: @blue-light;
@risk-free: @green-dark;
@risk-freeOld: @green-light;


.asset {
  color: @asset;
  stroke: @asset;
  fill: @assetOld;
  stroke-width: 2;
}

.riskfree {
  color: @risk-free;
  stroke: @risk-free;
  fill: @risk-freeOld;
  stroke-width: 2;
}

.dataPathFamily.asset {
  color: @asset;
  fill: none;
  stroke: @asset;
  stroke-width: 2;
}

.max-portfolio {
  color: @risk-free;
  stroke: @risk-free;
  fill: @risk-freeOld;
}

@import 'kinetic-graphs.less';
