@import 'kinetic-graphs.less';


@asset: @blue-dark;
@risk-free: @green-dark;


.asset {
  color: @asset;
  stroke: @asset;
  fill: @asset;
  stroke-width: 2;
}

.dataPathFamily.asset {
  color: @asset;
  fill: none;
  stroke: @asset;
  stroke-width: 2;
}

.max-portfolio {
  color: @risk-free;
  stroke: @risk-free;
}
