{% extends 'graphs/micro/market_structures/profit_max_base.html' %}
{% block title %}<h1>Profit Maximization: Perfect Competition</h1>{% endblock %}
{% block controls %}

    <div class="row">

                    <div class="col-xs-6">
                        <select ng-model="params.selectedCost" ng-if="params.hasOwnProperty('selectedCost')">
                            <option value="Linear">Linear MC</option>
                            <option value="Quadratic">Quadratic MC</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        {% raw %}
                        <toggle param="snapToOptimal">{{ params.snapToOptimal ? "Make quantity draggable" : "Snap to optimal" }}</toggle>
                        <toggle param="showVC" show-hide="true">Variable Cost</toggle>
                        {% endraw %}
                    </div>


                </div>

{% endblock %}

{% block jsadjustments %}
<script>
scopeDefinition.params.selectedDemand = 'Horizontal';
</script>

{% endblock %}



