{% extends 'layouts/eg-layout.html' %}

{% block body %}
    {% raw %}
<div ng-controller="KineticGraphCtrl">
    <div class="row">
        <div class="col-md-4">
            <h1>Monopoly Profit Maximization</h1>
            <hr/>
            <p>Drag point <span class="math">q</span> left and right to see how total, marginal, and average costs change, or select <b>set to optimal quantity</b> below.</p>
            <p>Change the fixed cost of the production function by dragging the y-intercept of the total cost function up and down.</p>
            <p>Change the marginal cost of the production function by dragging the two orange control points in the lower graph.</p>
            <p>Change the demand curve facing the monopolist by dragging its endpoints.</p>
            <hr/>
            <label>
                <input type="checkbox" ng-model="params.showAC"> Show average cost
            </label>
            <label ng-if="params.showAC">
                <input type="checkbox" ng-model="params.showProfit"> Show profit/loss area
            </label>
            <hr/>
            <label>
                <input type="checkbox" ng-model="params.snapToOptimalQ"> Set to optimal quantity
            </label>
        </div>
        <div class="col-md-8">
            <div id="costs"></div>
        </div>
    </div>


</div>
<script>
    var scopeDefinition = {
        params: {
            fc: 100,
            q: 50,
            demandPriceIntercept: 40,
            demandQuantityIntercept: 80,
            marginalCostIntercept: 10,
            marginalCostControlPointX: 100,
            marginalCostControlPointY: 10,
            constantMarginalCost: true,
            showProfit: false,
            showAC: false,
            snapToOptimalQ: false
        },
        restrictions: [
            {
                expression: 'model.costFunction.tc(model.quantity)',
                restrictionType: 'range',
                min: 0,
                max: 1000
            },
            {
                expression: 'params.marginalCostControlPointY',
                restrictionType: 'range',
                min: 'params.marginalCostIntercept',
                max: 50
            }
        ],
        model: {
            type: 'EconGraphs.Monopoly',
            definition: {
                quantity: 'params.q',
                snapToOptimalQuantity: 'params.snapToOptimalQ',
                showProfit: '(params.showProfit && params.showAC)',
                cost: {
                    costType: 'LinearMarginalCost',
                    costDef: {
                        quantityDraggable: 'model.quantityDraggable',
                        fixedCost: 'params.fc',
                        marginalCostIntercept: 'params.marginalCostIntercept',
                        marginalCostControlPointCoordinates: {
                            x: 90,
                            y: 'params.marginalCostControlPointY'
                        },
                        fixedCostDragParam: 'fc',
                        show: {
                            atc: 'params.showAC'
                        },
                        labels: {
                            atc: 'AC'
                        }
                    }
                },
                demand: {
                    demandType: 'LinearDemand',
                    demandDef: {
                        elasticityMethod: 'point',
                        quantity: 'model.quantity',
                        type: 'Linear',
                        def: {
                            point1: {
                                x: 0,
                                y: 'params.demandPriceIntercept'
                            },
                            point2: {
                                x: 'params.demandQuantityIntercept',
                                y: 0
                            }
                        },
                        priceInterceptDrag: 'params.demandPriceIntercept',
                        quantityInterceptDrag: 'params.demandQuantityIntercept'
                    }
                }

            }
        },
        views: [
            {
                type: 'KG.TwoVerticalGraphs',
                definition: {
                    element_id: 'costs',
                    xAxisDef: {min: 0, max: 100, title: '\\text{Quantity (q)}', ticks:0},
                    topGraph: {
                        margins: {right: 100},
                        yAxisDef: {min: 0, max: 1000, title: '\\text{Total Costs (Dollars)}', ticks: 0},
                        objects: [
                            'model.costFunction.totalCostCurve',
                                'model.demandFunction.totalRevenueCurve',
                            'model.costFunction.fixedCostPoint']
                    },
                    bottomGraph: {
                        margins: {right: 100},
                        yAxisDef: {min: 0, max: 50, title: '\\text{Unit Costs (Dollars per Unit)}', ticks: 0},
                        objects: [
                            'model.costFunction.marginalCostCurve',
                                'model.costFunction.marginalCostInterceptPoint',
                                'model.costFunction.marginalCostControlPoint',
                            'model.costFunction.averageCostCurve',
                            //'model.costFunction.marginalCostAtQuantityPoint(model.quantity, "MC", "params.q")',
                            //'model.costFunction.averageCostAtQuantityPoint(model.quantity, "AC", "params.q")',
                            'model.demandFunction.curve',
                            'model.demandFunction.marginalRevenueCurve',
                            'model.demandFunction.priceInterceptPoint',
                            'model.demandFunction.quantityInterceptPoint',
                            'model.profitArea'
                        ]
                    },
                    objects: ['model.costFunction.totalCostAtQuantityPoint(model.quantity, "", "params.q")',
                        'model.demandFunction.totalRevenueAtQuantityPoint(model.quantity, "", "params.q")']
                }
            }
        ]
    }
</script>
    {% endraw %}
{% endblock %}