{% extends 'layouts/three_graph_layout.html' %}

{% block controller %}ASADController{% endblock %}

{% block left_title %}AS-AD{% endblock %}

{% block center_title %}Labor Market{% endblock %}

{% block right_title %}Phillips Curve{% endblock %}


{% block controls %}

    {% raw %}

        <p>AD Shift: {{ macroParams.ad_shift }}<input type="range" min="-50" max="50" step="1" ng-model="macroParams.ad_shift"></p>
		<p>Nominal Wage: ${{ macroParams.nominal_wage | number:2 }}<input type="range" min="0" max="20" step="0.10" ng-model="macroParams.nominal_wage"></p>

    <hr/>
        <p>Price Level: {{ macroParams.price_level | number:1 }}</p>
        <p>Real Wage (W/P): {{ macroParams.real_wage | number:2 }}</p>
        <p>Unemployment rate: {{ macroParams.unemployment_rate | number:2 }}%</p>
        <p>Inflation rate: {{ macroParams.inflation_rate | number:2 }}%</p>

    {% endraw %}

{% endblock %}
