{% extends 'layouts/econgraphs.html' %}

{% block body %}

<div ng-controller="KineticGraphCtrl">
    {% raw %}
    <div class="row">
        <div class="col-md-8">
            <h1>Demand Curves for {{ params.selectedUtility | camelToSpace }}</h1>
            <hr/>
            <div class="row">
                <div class="col-xs-6">
                    <div id="xDemand"></div>
                </div>
                <div class="col-xs-6">
                    <div id="yDemand"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="well">
                <div class="row">
                    <div class="subtitle col-xs-3">parameters</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">I = {{params.income | number: 0}}:
                    </div>
                    <div class="col-xs-9" id="incomeSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">P_x = {{params.px | number: 2}}:
                    </div>
                    <div class="col-xs-9" id="pxSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">P_y = {{params.py | number: 2}}:
                    </div>
                    <div class="col-xs-9" id="pySlider"></div>
                </div>
            </div>
            <hr/>
            <p>Relationship:&nbsp;&nbsp;<select ng-model="params.selectedUtility" ng-if="params.hasOwnProperty('selectedUtility')">
                <option value="Independent">Independent</option>
                <option value="Complements">Complements</option>
                <option value="Substitutes">Substitutes</option>
                <option value="PerfectSubstitutes">Perfect Substitutes</option>
            </select></p>
            <hr/>
            <p>Note: the demand curves here illustrate extreme examples of these four relationships; not all relationships between goods follow this exact pattern.</p>
            <p>(Can you figure out the pattern in each relationship?<br/>Except for 'Subsitutes,' they each follow a simple rule...)</p>
        </div>
    </div>
    {% endraw %}
</div>

{% endblock %}

{% block model %}

<script>

    var independentDefinition = {
            type: 'EconGraphs.CobbDouglasUtility',
            definition: {
                xPower: 0.5
            }
        },
        complementsDefinition = {
            type: 'EconGraphs.ComplementsUtility',
            definition: {
                bundle: {x: 1, y: 1}
            }
        },
        substitutesDefinition = {
            type: 'EconGraphs.CESUtility',
            definition: {
                alpha: 0.5,
                sub: 0.5
            }
        },
        perfectSubstitutesDefinition = {
            type: 'EconGraphs.SubstitutesUtility',
            definition: {
                xCoefficient: 0.5
            }
        },

        selectorDefinition = {
            type: 'KG.Selector',
            definition: {
                selected: 'params.selectedUtility',
                options: [
                    {
                        name: 'Independent',
                        label: 'Independent Goods',
                        selection: independentDefinition
                    },
                    {
                        name: 'Complements',
                        label: 'Complements',
                        selection: complementsDefinition
                    },
                    {
                        name: 'Substitutes',
                        label: 'Substitutes',
                        selection: substitutesDefinition
                    },
                    {
                        name: 'PerfectSubstitutes',
                        label: 'Perfect Substitutes',
                        selection: perfectSubstitutesDefinition
                    }
                ]
            }
        };


    var scopeDefinition = {
        params: {
            income: 120,
            px: 4,
            py: 3,
            selectedUtility: 'Complements'
        },
        graphParams: ['selectedUtility'],
        restrictions: [],
        model: {
            type: 'EconGraphs.MarshallianDemand',
            definition: {
                snapToOptimalBundle: true,
                budget:{
                    type: 'EconGraphs.SimpleBudgetConstraint',
                    definition: {
                        income: 'params.income',
                        px: 'params.px',
                        py: 'params.py'
                    }
                },
                utility: selectorDefinition
            }
        },
        views: [
            {
                type: 'KG.Graph',
                definition: {
                    element_id: 'xDemand',

                    xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of X at }P_x'},
                    yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good X}'},
                    objects: [
                        'model.demandCurve({min: 0.01, max: 10, good: "x"},{label:"D_X"})',
                        'model.quantityAtPricePoint(params.px, {good: "x"},{yDrag: "params.px", xAxisLabel:"q^D_X(P_X)", yAxisLabel: "P_X"})'
                    ]
                }
            },
            {
                type: 'KG.Graph',
                definition: {
                    element_id: 'yDemand',
                    xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of Y at }P_Y'},
                    yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good Y}'},
                    objects: [
                        'model.demandCurve({min: 0.01, max: 10, good: "y"},{label:"D_y"})',
                        'model.quantityAtPricePoint(params.py, {good: "y"},{yDrag: "params.py", xAxisLabel: "q^D_Y(P_Y)", yAxisLabel: "P_Y"})'
                    ]
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'incomeSlider',
                    param: 'income',
                    precision: '1',
                    axisDef: {min: 0, max: 200}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'pxSlider',
                    param: 'px',
                    precision: '0.25',
                    axisDef: {min: 0, max: 10}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'pySlider',
                    param: 'py',
                    precision: '0.25',
                    axisDef: {min: 0, max: 10}
                }
            }
        ]
    }

    function relationshipName(selectedUtility) {
        if(selectedUtility == 'PerfectSubstitutes') {
            return 'Perfect Substitutes'
        } else {
            return selectedUtility
        }
    }
</script>
{% endblock %}



{% block js %}

    <script>

        var selectedUtility = '{{ args.relationship }}';

        if(selectedUtility == 'CobbDouglas') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = independentDefinition;
        }

        if(selectedUtility == 'Complements') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = complementsDefinition;
        }

        if(selectedUtility == 'Substitutes') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = substitutesDefinition;
        }

    if(selectedUtility == 'PerfectSubstitutes') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = perfectSubstitutesDefinition;
        }

    </script>


    <script src="{{ url_for('static', filename='js/kg/kg-v0.02.min.js') }}"></script>

{% endblock %}