<!DOCTYPE html>
<html ng-app="KineticGraphs">
<head>
    <title>{% block pageTitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/katex.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/econ-graphs-v2.css') }}" rel="stylesheet"/>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('courses',path='stanford/W16-ECON-50')}}">Econ 50 | Stanford | W16</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://coursework.stanford.edu/portal/site/W16-ECON-50-01">Coursework</a></li>
                <li><a href="https://piazza.com/stanford/winter2016/econ50">Piazza</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="ng-cloak" style="margin-top:50px" ng-controller="KineticGraphCtrl">
{% block body %}
{% endblock %}
</div>
{% block model %}
    <script>
        var scopeDefinition = { params: {}};
    </script>
{% endblock %}

<script src="{{ url_for('static', filename='js/lib/libraries.js') }}"></script>
<script>

        var scopeDefinition = scopeDefinition || { params: {}};

        {% for key in args %}

            if(scopeDefinition.params.hasOwnProperty('{{ key }}')) {
                var val = '{{ args[key] }}';
                var typedVal = isNaN(+val) ? val : +val;
                scopeDefinition.params['{{ key }}'] = typedVal;
            }

        {% endfor %}

    </script>
{% block js %}
    <script src="{{ url_for('static', filename='js/kg/kg-v0.03.js') }}"></script>
{% endblock %}


</body>
</html>