{% extends 'layouts/content_layout.html' %}

{% block content %}

    <h1>About econgraphs.org</h1>
    <hr/>
    <p>My name is Chris Makler. I've taught econ classes at the University of Pennsylvania and Stanford University, and worked as the Senior Economist for <a href="http://www.aplia.com" target="new">Aplia</a>, back when all Aplia did was econ. :)</p>
    <p>I've created econgraphs.org as an open source project to provide econ teachers with a standard set of interactive graphs they can use in classes.</p>
    <p>Most of the graphs here are actually sets of linked graphs -- for example, individual and market demand, or total and marginal costs for a firm -- so that econ teachers can illustrate the important underlying relationships within an economic model.</p>
    <p>Comments and suggestions are very much appreciated; send me a note at chris dot makler at gmail dot com. If you're technically minded, check out the source code on <a href="https://github.com/cmakler/econgraphs">Github</a> -- and if you're feeling really adventurous, add to the code and send me a pull request!</p>
    <hr/>
    <h4>Acknowledgements</h4>
    <p>I am trained as an economist, not as a software engineer; and this project would not have been possible without the mentorship of an outstanding group of colleagues over the years,
        including (but certainly not limited to!) David Murphy, Karl Lew, Wilson Cheung, Harrison Caudill, and Kyle Moore.</p>
    <p>This project was made far easier by the amazing Javascript libraries currently available.
        In particular, I've benefited greatly from
        <a href="http://d3js.org">D3.js</a> to draw the graphs,
        <a href="https://angularjs.org">angular.js</a> to make them dynamic,
        <a href="http://khan.github.io/KaTeX/">katex</a> to add beautiful mathematical labels to them,
        and <a href="http://lab.hakim.se/reveal-js/#/">reveal.js</a> to incorporate them into presentation slides.</p>
    <p>This project, and all of the libraries except D3, are published under the <a href="http://opensource.org/licenses/MIT">MIT License</a>. D3 is published under the <a href="http://opensource.org/licenses/BSD-3-Clause">BSD license</a>.
        Feel free to incorporate the code into your own projects if you would like, with the caveat that it has been, and continues to be, developed as a passion project and not a commercial product.</p>

{% endblock %}