{% extends 'two_graph_layout.html' %}

{% block controller %}FirmSupplyController{% endblock %}

{% block left_title %}Total Cost and Total Revenue{% endblock %}

{% block left_description %}

    {% raw %}

    <p>This graph shows the total cost (TC) and total revenue (TR) for a firm if it produces different quantities of output.</p>

    <p>Note that because the firm has a fixed cost of ${{ fixed_cost | number:0 }}, its total cost of producing zero units is ${{ fixed_cost | number:0 }}.</p>

    <p>If the firm produces {{ quantity | number:0 }} units, its total cost is ${{ displayedTotalCost | number:0 }} and its total revenue is ${{ current_total_revenue | number:0 }}. <span ng-if="!isBreakingEven">Therefore, the firm has a {{ profitOrLossLabel.toLowerCase() }} of ${{ profitOrLoss | number:0 }}.</span><span ng-if="isBreakingEven">Therefore, the firm is <span ng-if="profitOrLoss > 0">essentially</span> breaking even.</span></p>

    {% endraw %}

{% endblock %}

{% block right_title %}Marginal and Average Costs{% endblock %}

{% block right_description %}

    {% raw %}

    <p>This graph shows the firm's marginal cost (MC), average total cost (ATC), and average variable cost (AVC) curves.</p>

    <p>If the firm produces q<sup>s</sup> = {{ quantity }} units, it can sell each unit for ${{ price }}, and its average total cost of producing each unit is ${{ current_average_total_cost | number:0 }}. <span ng-if="!isBreakingEven">Therefore, the firm makes a {{ profitOrLossLabel.toLowerCase() }} of ${{ unitProfitOrLoss | number: 0 }} on each unit; this is shown as the vertical difference between the horizontal line representing price, and the ATC curve.</span></p>


    <p ng-if="!isBreakingEven">Its total {{ profitOrLossLabel.toLowerCase() }} is this amount multiplied by the quantity, which can be seen visually as the box labeled "{{ profitOrLossLabel}}.:"</p>

    {% endraw %}

{% endblock %}

{% block controls %}

    {% raw %}

    <p>Fixed cost: {{ fixed_cost }}<input type="range" min="0" max="1000" step="10" ng-model="fixed_cost"></p>
	<p>Marginal cost parameter:  {{ marginal_cost_parameter }}<input type="range" min="0" max="100" step="1" ng-model="marginal_cost_parameter"></p>
    <p>Market price:  {{ price }}<input type="range" min="5" max="55" step="1" ng-model="price"></p>
    <p>Quantity supplied:  {{ quantity }}<input type="range" min="5" max="95" step="1" ng-model="quantity"></p>

    {% endraw %}

{% endblock %}

{% block js %}

    <script src="../static/javascripts/firm_supply/total_cost_and_revenue.js"></script>
    <script src="../static/javascripts/firm_supply/cost_curves.js"></script>
    <script src="../static/javascripts/firm_supply/controller.js"></script>

{% endblock %}