{% extends 'layouts/content_layout.html' %}

{% block content %}

    <div class="container-fluid mainPage">
        <h1>Basic Concepts</h1>
        <hr/>
        <div class="row" style="padding-top: 25px">
            <div class="col-md-4">
                <h3>Comparative Advantage</h3>
                <hr/>
                <p class="subtitle">Production Possibilities</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='concepts', topic='comparative_advantage', graphname='resource_allocation_and_production_possibilities') }}">The Production
                        Possibilities
                        Frontier</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Elasticity</h3>
                <hr/>
                <p class="subtitle">Calculating Elasticity</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='concepts', topic='elasticity', graphname='elasticity_midpoint') }}">Price Elasticity Calculator
                        (Midpoint
                        method)</a></li>
                </ul>
                <p class="subtitle">Demand Elasticity</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='concepts', topic='elasticity', graphname='linear_demand_point_elasticity') }}">Point elasticity
                        along a linear demand curve</a></li>
                    <li><a href="{{ url_for('graphs', subject='concepts', topic='elasticity', graphname='constant_elasticity_demand') }}">Point elasticity
                        along a constant elasticity demand curve</a></li>
                </ul>
            </div>
        </div>
        <hr/>
        <h1>Microeconomics</h1>
        <hr/>
        <div class="row" style="padding-top: 25px">
            <div class="col-md-4">
                <h3>Demand</h3>
                <hr/>
                <p class="subtitle">Market Demand</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='demand', graphname='individual_and_market_demand') }}">Individual and
                        Market
                        Demand</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Supply</h3>
                <hr/>
                <p class="subtitle">Supply Curves</p>
                <ul>
                    <li>[coming soon]</li>
                </ul>

            </div>
            <div class="col-md-4">
                <h3>Market Equilibrium</h3>
                <hr/>
                <p class="subtitle">Supply, Demand, and Taxes</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='supply_and_demand', graphname='supply_and_demand') }}">Supply and Demand</a></li>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='supply_and_demand', graphname='individual_and_market') }}">Individual and Market Supply and Demand</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col-md-4">
                <h3>Consumer Theory</h3>
                <hr/>
                <p class="subtitle">Consumer Choice</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='utility_max') }}">Utility maximization subject to a budget constraint</a></li>
                </ul>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='utility_and_demand') }}">Utility and demand</a></li>
                </ul>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='utility_demands_engel') }}">Demand and Engel curves</a></li>
                </ul>
                <p class="subtitle">Risk Aversion</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='crra_utility') }}">Constant relative risk aversion utility function</a></li>
                </ul>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='risk_aversion') }}">Risk aversion and certainty equivalence</a></li>
                </ul>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='utility_redistribution') }}">Utility and redistribution</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Producer Theory</h3>
                <hr/>
                <p class="subtitle">Production and Cost</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='producer_theory', graphname='cost_curves') }}">Total, marginal, and average cost</a></li>
                </ul>

            </div>
            <div class="col-md-4">
                <h3>Market Structures</h3>
                <hr/>
                <p class="subtitle">Perfect Competition</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='market_structures', graphname='competitive_profit_max') }}">Cost curves for a competitive firm</a></li>
                </ul>
                <p class="subtitle">Monopoly</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='market_structures', graphname='monopoly_profit_max') }}">Monopoly cost curves and profit maximization</a></li>
                </ul>
                <!--<p class="subtitle">Oligopoly</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='micro', topic='market_structures', graphname='cournot_duopoly') }}">Cournot duopoly</a></li>
                </ul>-->
            </div>

        </div>
        <hr/>
        <h1>Macroeconomics</h1>
        <hr/>
        <div class="row" style="padding-top: 25px">
            <div class="col-md-4">
                <h3>The AS-AD Model</h3>
                <hr/>
                <p class="subtitle">Behind the AS-AD Model</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='macro', topic='as_ad', graphname='as_ad_phillips') }}">The AS-AD Model and the Phillips Curve</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Economic Growth</h3>
                <hr/>
                <p class="subtitle">The Neoclassical Growth Model</p>
                <ul>
                    <li><a href="{{ url_for('graphs', subject='macro', topic='growth', graphname='ramsey_cass_koopmans') }}">The Ramsey-Cass-Koopmans Model</a></li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}