{% extends 'six_graph_layout.html' %}

{% block controller %}ProductionPossibilitiesController{% endblock %}

{% block left_title %}Resource Allocation{% endblock %}

{% block right_title %}Production Choice{% endblock %}

{% block left_2_title %}<div ng-if="displayOptions.show_prod_function">Wine Production Function</div>{% endblock %}

{% block right_2_title %}
    <div ng-if="displayOptions.show_prod_function">Cloth Production Function</div>{% endblock %}

{% block controls %}

    {% raw %}

    <p>{{ resources.name }}: {{ resources.quantity }} {{ resources.units }}<input type="range" min="0" max="200"
                                                                                  step="1" ng-model="resources.quantity"></p>
    <p>% Employed: {{ allocation.percent_resources_used }}<input type="range" min="0" max="100"
                                                                step="1" ng-model="allocation.percent_resources_used"></p>
    <p>% Producing {{ good_x.name }}: {{ allocation.percent_resources_x }}<input type="range" min="0" max="100"
                                                                                       step="1"
                                                                                       ng-model="allocation.percent_resources_x">
    </p>

    <hr/>

    <p>{{ good_x.name }} Productivity: {{ good_x.productivity }}<input type="range" min="0.1" max="4"
                                                                                  step="0.1"
                                                                                  ng-model="good_x.productivity"></p>

    <p>{{ good_y.name }} Productivity: {{ good_y.productivity }}<input type="range"
                                                                                                          min="0.1"
                                                                                                          max="4"
                                                                                                          step="0.1"
                                                                                                          ng-model="good_y.productivity">
    </p>

    <p>Diminishing marginal returns:<input type="range"
                                           min="0"
                                           max="0.002"
                                           step="0.0001"
                                           ng-model="resources.diminishing_marginal_returns"></p>



    <hr/>
    <p><input type="checkbox" ng-model="displayOptions.show_prod_function"> Show production function</p>

    {% endraw %}

{% endblock %}

{% block js %}

    <script src="../static/javascripts/production_possibilities/resource_allocation.js"></script>
    <script src="../static/javascripts/production_possibilities/production_choice.js"></script>
    <script src="../static/javascripts/production_possibilities/production_function.js"></script>
    <script src="../static/javascripts/production_possibilities/controller.js"></script>

{% endblock %}