<!DOCTYPE html>
<html ng-app="KineticGraphs">
<head lang="en">
    <meta charset="UTF-8">
    <title>Mean-Variance Model</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/katex.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/finance-graphs.css') }}" rel="stylesheet"/>
</head>
<body>
{% raw %}
<div ng-controller="KineticGraphCtrl">
    <div class="row">
        <div class="col-md-8">
            <h2>Mean-variance Portfolio Analysis</h2>
            <hr/>
            <div class="row">
                <div class="col-md-12" id="graph"></div>
            </div>
        </div>
        <div class="col-md-4 well">
            <p style="float:right;color:red">{{error}}</p>
            <h4>Parameters</h4>

            <div class="row">
                <div class="col-xs-4 math" style="text-align:right;font-size:12pt;padding-top:10px">\rho_{12}:</div>
                <div class="col-xs-8" id="slider12"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 math" style="text-align:right;font-size:12pt;padding-top:10px">\rho_{13}:</div>
                <div class="col-xs-8" id="slider13"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 math" style="text-align:right;font-size:12pt;padding-top:10px">\rho_{23}:</div>
                <div class="col-xs-8" id="slider23"></div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="text-align:right;font-size:12pt;padding-top:10px">Max Leverage:</div>
                <div class="col-xs-8" id="leverageSlider"></div>
            </div>
            <hr/>
            <h4> Correlation Matrix</h4>

            <div class="row">
                <div class="col-xs-1">
                    <br/><br/>
                </div>
                <div class="col-xs-5">
                    <table align="right" class="matrix">
                        <tr style="height:40px">
                            <td style="width:50px; text-align:center" class="math">1</td>
                            <td style="width:50px; text-align:center" class="math">\rho_{12}</td>
                            <td style="width:50px; text-align:center" class="math">\rho_{13}</td>
                        </tr>
                        <tr style="height:40px">
                            <td style="width:50px; text-align:center" class="math">\rho_{12}</td>
                            <td style="width:50px; text-align:center" class="math">1</td>
                            <td style="width:50px; text-align:center" class="math">\rho_{23}</td>
                        </tr>
                        <tr style="height:40px">
                            <td style="width:50px; text-align:center" class="math">\rho_{13}</td>
                            <td style="width:50px; text-align:center" class="math">\rho_{23}</td>
                            <td style="width:50px; text-align:center" class="math">1</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-1">
                    <p align="center" style="padding-top:50px">=</p>
                </div>
                <div class="col-xs-5">
                    <table class="matrix">
                        <tr ng-repeat="row in model.correlationMatrix" style="height:40px">
                            <td ng-repeat="c in row track by $index" style="width:50px;text-align:center" class="math">
                                {{c | number:1}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <hr/>
            <h4> Covariance Matrix</h4>

            <div class="row">
                <div class="col-xs-1">
                    <br/><br/>
                </div>
                <div class="col-xs-5">
                    <table align="right" class="matrix">
                        <tr style="height:40px">
                            <td style="width:50px; text-align:center" class="math">\sigma_1^2</td>
                            <td style="width:50px; text-align:center" class="math">\rho_{12}\sigma_1\sigma_2</td>
                            <td style="width:50px; text-align:center" class="math">\rho_{13}\sigma_1\sigma_3</td>
                        </tr>
                        <tr style="height:40px">
                            <td style="width:50px; text-align:center" class="math">\rho_{12}\sigma_1\sigma_2</td>
                            <td style="width:50px; text-align:center" class="math">\sigma_2^2</td>
                            <td style="width:50px; text-align:center" class="math">\rho_{23}\sigma_2\sigma_3</td>
                        </tr>
                        <tr style="height:40px">
                            <td style="width:50px; text-align:center" class="math">\rho_{13}\sigma_1\sigma_3</td>
                            <td style="width:50px; text-align:center" class="math">\rho_{23}\sigma_2\sigma_3</td>
                            <td style="width:50px; text-align:center" class="math">\sigma_3^2</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-1">
                    <p align="center" style="padding-top:50px">=</p>
                </div>
                <div class="col-xs-5">
                    <table class="matrix">
                        <tr ng-repeat="row in model.covarianceMatrix" style="height:40px">
                            <td ng-repeat="c in row track by $index" style="width:50px;text-align:center" class="math">
                                {{c | number:3}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <h4> Optimal Portfolio</h4>
            <table align="center">
                <tr>
                    <td/>
                    <td width="80px" align="center">Weight</td>
                    <td width="80px" align="center">Mean <span class="math">(\mu_i)</span></td>
                    <td width="80px" align="center">Std Dev. <span class="math">(\sigma_i)</span></td>
                </tr>
                <tr>
                    <td align="right">Asset <span class="math">A_1</span>:</td>
                    <td align="center">{{model.optimalPortfolioWeightArray[0]*100 | number:0}}%</td>
                    <td align="center">{{params.mean1 | number:2}}</td>
                    <td align="center">{{params.stDev1 | number:2}}</td>
                </tr>
                <tr>
                    <td align="right">Asset <span class="math">A_2</span>:</td>
                    <td align="center">{{model.optimalPortfolioWeightArray[1]*100 | number:0}}%</td>
                    <td align="center">{{params.mean2 | number:2}}</td>
                    <td align="center">{{params.stDev2 | number:2}}</td>
                </tr>
                <tr>
                    <td align="right">Asset <span class="math">A_3</span>:</td>
                    <td align="center">{{model.optimalPortfolioWeightArray[2]*100 | number:0}}%</td>
                    <td align="center">{{params.mean3 | number:2}}</td>
                    <td align="center">{{params.stDev3 | number:2}}</td>
                </tr>
                <tr>
                    <td align="right">Portfolio<span class="math">(P)</span>:</td>
                    <td/>
                    <td align="center">{{model.optimalPortfolioMean | number:2}}</td>
                    <td align="center">{{model.optimalPortfolioStDev | number:2}}</td>
                </tr>
            </table>
        </div>
    </div>


</div>
<script>
    var scopeDefinition = {
        params: {
            mean1: 0.2,
            stDev1: 0.3,
            mean2: 0.3,
            stDev2: 0.4,
            mean3: 0.4,
            stDev3: 0.5,
            rho12: 0,
            rho23: 0,
            rho13: 0,
            maxLeverage: 0,
            riskFreeReturn: 0.05
        },
        restrictions: [
            {
                expression: 'params.maxLeverage',
                restrictionType: 'range',
                max: 100,
                min: 0,
                precision: 10
            },
            {
                expression: 'params.rho12',
                restrictionType: 'range',
                max: 1,
                min: -1,
                precision: 0.1
            },
            {
                expression: 'params.rho23',
                restrictionType: 'range',
                max: 1,
                min: -1,
                precision: 0.1
            },
            {
                expression: 'params.rho13',
                restrictionType: 'range',
                max: 1,
                min: -1,
                precision: 0.1
            },
            {
                expression: 'params.riskFreeReturn',
                restrictionType: 'range',
                max: 0.2,
                min: 0,
                error: "'risk free return should be between 0 and 0.2'"
            },
            {
                expression: 'model.positiveDefinite',
                restrictionType: 'boolean',
                error: "'would make matrix not positive definite'"
            }
        ],
        model: {
            type: 'FinanceGraphs.Portfolio',
            definition: {
                rho12: 'params.rho12',
                rho23: 'params.rho23',
                rho13: 'params.rho13',
                maxLeverage: 'params.maxLeverage',
                riskFreeReturn: 'params.riskFreeReturn',
                asset1: {
                    type: 'FinanceGraphs.Asset',
                    definition: {
                        name: 'A_1',
                        mean: 'params.mean1',
                        stDev: 'params.stDev1'
                    }
                },
                asset2: {
                    type: 'FinanceGraphs.Asset',
                    definition: {
                        name: 'A_2',
                        mean: 'params.mean2',
                        stDev: 'params.stDev2'
                    }
                },
                asset3: {
                    type: 'FinanceGraphs.Asset',
                    definition: {
                        name: 'A_3',
                        mean: 'params.mean3',
                        stDev: 'params.stDev3'
                    }
                }
            }
        },
        views: [
            {
                type: 'KG.Graph',
                definition: {
                    element_id: 'graph',
                    dimensions: {width: 700, height: 700},
                    xAxisDef: {min: 0, max: 1, title: "\\text{Standard Deviation }(\\sigma)"},
                    yAxisDef: {min: 0, max: 0.5, title: "\\text{Mean }(\\mu)"},
                    objects: ['model.optimalPortfolio', 'model.asset1.point', 'model.asset2.point', 'model.asset3.point', 'model.riskFreeAsset', 'model.riskReturnLine', 'model.threeAssetPortfolios', 'model.twoAssetPortfolios']
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'leverageSlider',
                    param: 'maxLeverage',
                    axisDef: {min: 0, max: 100, tickValues: [0, 50, 100]}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'slider12',
                    param: 'rho12',
                    precision: '0.1',
                    axisDef: {min: -1, max: 1, tickValues: [-1, 0, 1]}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'slider23',
                    param: 'rho23',
                    axisDef: {min: -1, max: 1, tickValues: [-1, 0, 1]}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'slider13',
                    param: 'rho13',
                    axisDef: {min: -1, max: 1, tickValues: [-1, 0, 1]}
                }
            }
        ]
    }
</script>
{% endraw %}
<script src="{{ url_for('static', filename='js/archives/kg-head.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/numeric.js') }}"></script>

</body>
</html>