{% extends 'slides/slide-template.html' %}

{% block slides %}

    <section>
        <h2>Econ 50</h2>
        <br/>
        <hr/>
        <br/>

        <h2>Lecture 8</h2>

        <h1>Comparative Statics III: <br/>Welfare Analysis</h1>
        <hr/>
        <h1>Intertemporal Consumption Choice</h1>
        <br/>
        <hr/>
        <br/>

        <h3>January 28, 2015</h3>
        <hr>
        <br/>

        <p style="color:grey">Controls: N for next slide | P for previous slide | ESC for map | refresh if glitchy</p>

    </section>
    <section>
        <h1>Today's Agenda</h1>
        <hr/>
        <h2 class="fragment">Logistics and Context</h2>
        <h2 class="fragment">Motivation: Social Security COLA</h2>
        <h2 class="fragment">Welfare Analysis: Introduction and Context</h2>
        <h2 class="fragment">New/Old Tool: Cost Minimization</h2>
        <h3 class="fragment">Marshallian and Hicksian Demand</h3>
        <h3 class="fragment">Indirect Utility and Expenditure Functions</h3>
        <hr/>
        <h2 class="fragment">10 minute break</h2>
        <hr/>
        <h2 class="fragment">Compensating and Equivalent Variation</h2>

    </section>
    <section>
        <section>
            <h1>Logistics and Context</h1>
        </section>
        <section>
            <h1>Midterm: Monday, February 9</h1>
            <hr/>
            <p>Closed notes, closed book, simple calculators only (no phones, programmable, etc.)</p>

            <p>Don't wait till the last minute to ask Piazza questions!</p>

            <p>Past midterms are posted online; solutions will be posted by Wednesday</p>

            <p>Review sessions this weekend; exact times TBA</p>

            <p>HW 4, Exercise 1: One of these will be on the midterm!</p>

            <p>No homework due next Friday, but we will have section.</p>
        </section>
        <section>
            <h1>Mid-Quarter Evaluations</h1>
            <hr/>
            <p>Extremely valuable - let me know what's working, what's not.</p>

            <p>Should be available online today</p>

            <p>Link will be posted on the course website</p>
        </section>
        <section>
            <h1>Clickers</h1>
            <hr/>
            <p>I'm still trying to download the roster; when I succeed, I'll post the data I have thus far</p>
        </section>
    </section>
    <section>
        <section><h1>First Click</h1>
            <hr/>
            <h2>Let's get our brains in gear...</h2>
        </section>
        <section>
            <h2>True or False:</h2>
                <h2>From a Slutsky diagram showing a decrease in the price of X,</h2>
            <h2>we can tell if <b>good Y</b> is a
                normal good or not</h2><h2>(at least in the range relevant to the diagram)</h2>
            <hr/>
            <clicker-question>
                <clicker-option letter="A">True</clicker-option>
                <clicker-option letter="B">False</clicker-option>
                <clicker-option letter="C">It depends</clicker-option>
            </clicker-question>

        </section>

    </section>
    <section>
        <section><h1>Motivation:</h1>
            <hr/>
            <h2>Social Security</h2>

            <h2>Cost of Living Adjustments</h2>
        </section>
        <section>
            <img src="{{ url_for('static', filename='images/econ50/lecture8/logo-foxnews-update.png') }}">

            <h2>Obama's Move to change Social Security<br/>inflation rate riles supporters on left</h2>
            <hr/>

            <p style="text-align:left" class="fragment">President Obama seemed to be coaxing Republicans back to the
                negotiating
                table<br/>
                by offering to change the inflation adjustment in Social Security...but his offer also has had<br/>
                the unwanted side effect of riling many of his supporters on the left.
            </p>

            <p style="text-align:left" class="fragment">As the White House delivers its 2014 budget proposal to the
                Hill...grumbling on the right about the budget's increased taxes is almost outdone by the complaints on
                the
                left about the Social Security change, which activists say will cut benefits.</p>

            <p style="text-align:left" class="fragment">The liberal group Campaign
                for America's Future claims it has collected two million signatures
                from people opposed to such changes to entitlement programs,
                and delivered the petition to the White House on Tuesday.</p>

            <p><a href="http://www.foxnews.com/politics/2013/04/10/obama-move-to-change-social-security-inflation-rate-riles-supporters-on-left/">Fox News, April 10, 2013</a></p>

        </section>
        <section>
            <img src="{{ url_for('static', filename='images/econ50/lecture8/aarp-logo.png') }}">

            <h2>Proposed Changes to<br/>Social Security’s Cost-of-Living Adjustment:</h2>

            <h2>What Would They Mean for Beneficiaries?</h2>
            <hr/>

            <p style="text-align:left" class="fragment">Economic theory states that if the relative prices of goods and
                services change,
                consumers will
                substitute relatively less expensive goods for relatively more expensive goods.<br/>They do this in order to
                maximize their standard of living given their expenditure budget.</p>

            <p style="text-align:left" class="fragment">The implication of this substitution behavior is at the crux of
                the CPI debate:
                the amount of money that
                would be needed for these consumers to maintain the same standard of living after a price increase is
                less than it would be if they still purchased the same quantity of different goods (i.e., if they did
                not engage in substitution).</p>

            <p>
                <a href="http://www.aarp.org/content/dam/aarp/research/public_policy_institute/econ_sec/2012/proposed-changes-cola-insight-AARP-ppi-econ-sec.pdf">Gary
                    Koenig & Mikki Waid, AARP Public Policy Institute</a></p>
        </section>
    </section>

    <section>
        <section>
            <h1>Welfare Analysis:</h1>
            <hr/>
            <h2>Introduction and Context</h2>
        </section>
        <section>
            <h2>Comparative Statics: How Do Things Change?</h2>
            <hr/>
            <table class="table">
                <tr>
                    <td>How does quantity demanded change<br/>when the price of a good changes?</td>
                    <td class="fragment">Demand Curve<br/>Price-Consumption Curves</td>
                </tr>
                <tr>
                    <td>How does quantity demanded change<br/>when income changes?</td>
                    <td class="fragment">Engel Curves<br/>Income-Consumption Curve</td>
                </tr>
                <tr>
                    <td>What are the ways in which<br/>consumers optimally respond<br/>to a price change?</td>
                    <td class="fragment">Slutsky Diagram<br/>Income Effect<br/>Substitution Effect</td>
                </tr>
                <tr>
                    <td>How can we measure the<br/>welfare effects of a price change?</td>
                    <td class="fragment">Consumer Surplus,<br/>Compensating Variation, Equivalent Variation</td>
                </tr>
            </table>
        </section>
        <section>
            <h1>Welfare Analysis</h1>
            <hr/>
            <h2>Quantifying gains and losses of a change.</h2>
            <hr/>
            <h2 class="fragment">What units should we use?</h2>
            <h2 class="fragment">...dollars.</h2>
        </section>
        <section>
            <h1>Three Measures of Welfare <b>Change</b></h1>
            <hr/>
            <table class="table">
                <tr>
                    <td><b>Consumer Surplus</b></td>
                    <td class="fragment"><b>Change in area</b> under the demand curve<br/>and above the price line</td>
                </tr>
                <tr>
                    <td><b>Compensating Variation</b></td>
                    <td class="fragment"><b>Change in income</b> required<br/>to achieve <b>initial utility</b><br/>given the <b>new price</b>.</td>
                </tr>
                <tr>
                    <td><b>Equivalent Variation</b></td>
                    <td class="fragment"><b>Change in income</b> required<br/>to achieve <b>new utility</b><br/>given the <b>initial price</b>.</td>
                </tr>
            </table>
        </section>
    <section>
        <img src="{{ url_for('static',filename='images/econ50/lecture8/besanko_5e_fig_05_14.jpg') }}">

        <p>Consumer Surplus: The Econ 1 Approach (B&B, Figure 5.14)</p>

    </section>
        </section>
    <section>
    <section>
        <h1>A New/Old Tool: Cost Minimization</h1>
        <hr/>
        <h2>For a given level of utility <span rendered-math>U</span> ,</h2>
        <h2>and a given set of prices <span rendered-math>(P_x,P_y)</span> ,</h2>
        <h2>what is the least costly bundle <span rendered-math>(x^*,y^*)</span></h2>
        <h2>that achieves the desired utility?</h2>
    </section>
    <section>
        <h2>The <b>Dual Problem</b>: Two Equivalent Ways to Optimize</h2>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h3><b>Utility Maximization</b></h3>
            </div>
            <div class="col-md-6">
                <h3><b>Cost Minimization</b></h3>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6 fragment">
                <table>
                    <tr>
                        <td style="text-align:right;width:50%" rendered-math>\max_{x,y}</td>
                        <td rendered-math>u(x,y)</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">s.t.</td>
                        <td rendered-math>P_xx + P_yy = I</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 fragment">
                <table>
                    <tr>
                        <td style="text-align:right;width:50%" rendered-math>\min_{x,y}</td>
                        <td rendered-math>P_xx + P_yy</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">s.t.</td>
                        <td rendered-math>u(x,y) = U</td>
                    </tr>
                </table>

            </div>
        </div>
        <hr/>
        <p>Solve for <span rendered-math>x^*</span> and <span rendered-math>y^*</span>; the solutions are:</p>

        <div class="row">
            <div class="col-md-6 fragment">
                <p><b>Marshallian Demand Functions</b>:</p>

                <p rendered-math>x^*(P_x,P_y,I),y^*(P_x,P_y,I)</p>
            </div>
            <div class="col-md-6 fragment">
                <p><b>Hicksian Demand Functions</b>:</p>

                <p rendered-math>x^*(U,P_x,P_y), y^*(U,P_x,P_y)</p>

            </div>
        </div>
        <hr/>
        <p>Plug <span rendered-math>x^*</span> and <span rendered-math>y^*</span> back into the objective function:</p>

        <div class="row">
            <div class="col-md-6 fragment">
                <p><b>Indirect Utility Function</b>: </p>

                <p rendered-math>V(P_x,P_y,I) = u[x^*(P_x,P_y,I),y^*(P_x,P_y,I)]</p>

                <p>(Utility from utility-maximizing choice)</p>
            </div>
            <div class="col-md-6 fragment">
                <p><b>Expenditure Function</b>:</p>

                <p rendered-math>E(U,P_x,P_y) = P_xx^*(U,P_x,P_y) + P_yy^*(U, P_x,P_y)</p>

                <p>(Cost of cost-minimizing choice)</p>
            </div>
        </div>


    </section>
    <section>
        {% raw %}
        <model>
            <param name="x" value="10"/>
            <function name="u" category="utility" form="CobbDouglas"></function>
            <function name="b" category="budget" form="SimpleBudgetConstraint" fn-params="{px:2,py:2,income:80}"></function>
            <function name="c" category="budget" form="SimpleBudgetConstraint" fn-params="{px:2,py:2}"></function>
            <h2>Simple Cobb-Douglas: <span rendered-math>u(x,y) = xy, P_x = P_y = 2</span></h2>
        <div class="row">
            <div class="col-md-6">
                <graph height="400" width="400">
                    <axis dim="x" min="0" max="70" title="Good X"></axis>
                    <axis dim="y" min="0" max="70" title="Good Y"></axis>
                    <area fn="functions.u.setLevel([params.x,40-params.x]).preferred" color="green"/>
                    <line fn="functions.b" color="blue"></line>
                    <curve fn="functions.u" color="darkblue" label="U(x_A,y_A)"></curve>
                    <point point="[params.x,40-params.x]"
                           label="A" droplines="both" xlabel="x_A" ylabel="y_A"></point>
                </graph>
            </div>
            <div class="col-md-6">
                <graph height="400" width="400">
                    <axis dim="x" min="0" max="70" title="Good X"></axis>
                    <axis dim="y" min="0" max="70" title="Good Y"></axis>
                    <area fn="functions.c.updateParams({px:2, py:2, income:(2*params.x + 2*(400/params.x))})"
                          color="purple"></line>
                    <line fn="functions.c" color="red"></line>
                    <curve fn="functions.u.setLevel([20,20])"
                           color="darkred" label="U = 400"></curve>
                    <point point="[params.x,(400/params.x)]"
                           label="B" droplines="both" xlabel="x_B" ylabel="y_B"></point>
                </graph>

            </div>
        </div>
            <div class="row">


                <div class="col-md-6">
                    <p>Utility maximization with <span rendered-math>I = 80</span></p>
                    <p>Current bundle: <span rendered-math expression="({{ params.x }},{{ 40 - params.x }})"></span></p>
                    <p>Current utility: <span rendered-math expression="{{ params.x * (40 - params.x) }}"></span></p>
                </div>
                <div class="col-md-6">
                    <p>Cost minimization with <span rendered-math>U = 400</span></p>
                    <p>Current bundle: <span rendered-math expression="({{ params.x }},{{ 400/params.x | number : 2 }})"></span></p>
                    <p>Current cost: $<span rendered-math expression="{{ 2 * (params.x + 400/params.x) | number: 2 }}"></span></p>

                </div>
            </div>
        <div>
            <p rendered-math expression="x: {{ params.x }}"></p>
            <slider value="params.x" min="5" max="35" precision="1"></slider>

        </div>
        </model>
        {% endraw %}

    </section>
        <section>
            <h1>HICKSIAN DEMAND</h1>
            <h2>(or "compensated demand")</h2>
            <hr/>
            <h2 rendered-math>x^*(P_x,P_y,U)</h2>
            <hr/>
            <p>The quantity demanded of <span rendered-math>X</span>, as a function of the price of <span rendered-math>X</span>,</p>
            <p>if the consumer is compensated enough</p>
            <p>to continuously achieve utility level <span rendered-math>U</span>.</p>
        </section>
    <section>
        {% raw %}
        <model>
            <param name="px" value="2"/>
            <function name="u" category="utility" form="CES" fn-params="{s:0}"></function>
            <function name="b" category="budget" form="SimpleBudgetConstraint"></function>
            <h2>Simple Cobb-Douglas: <span rendered-math>u(x,y) = xy</span>;<br/>start with <span
                    rendered-math>P_x = 2, P_y = 2, I = 80</span></h2>

            <div class="row">
                <div class="col-md-6">
                    <graph height="400" width="400">
                        <axis dim="x" min="0" max="70" title="Good X"></axis>
                        <axis dim="y" min="0" max="70" title="Good Y"></axis>
                        <line fn="functions.b.updateParams({px:2,py:2,income:80})" color="grey"></line>
                        <line fn="functions.b.updateParams({px:params.px,py:2,income:80})" color="blue"></line>
                        <curve fn="functions.u.optimalIndifferenceCurve(80,params.px,2)" color="darkblue" label="U(x^*,y^*)"></curve>
                        <point point="functions.u.optimalBundle(80,params.px,2)"
                               label="M"></point>
                        <point point="[0,40]" r="3" color="blue" ylabel="\frac{80}{P_y}"></point>
                        <point point="[40,0]" r="3" color="grey" xlabel="\frac{80}{2}"></point>
                        <point point="[80/params.px,0]" r="3" color="blue" xlabel="\frac{80}{P_x}"></point>
                    </graph>
                </div>
                <div class="col-md-6">
                    <graph height="400" width="400">
                        <axis dim="x" min="0" max="70" title="Good X"></axis>
                        <axis dim="y" min="0" max="70" title="Good Y"></axis>
                        <line fn="functions.b.updateParams({px:2, py:2, income:80})" color="grey"></line>
                        <line fn="functions.b.updateParams({px:params.px, py:2, income:functions.u.compensatedIncome(80,2,params.px,2)})" color="red"></line>
                        <curve fn="functions.u.setLevel([20,20])"
                               color="darkred" label="U = 400"></curve>
                        <point point="functions.u.decompositionBundle(80, 2, params.px, 2)" label="H"></point>
                        <point point="[0,functions.u.compensatedIncome(80,2,params.px,2)/2]" r="3" color="red" ylabel="\frac{E}{P_y}"></point>
                        <point point="[0,40]" r="3" color="grey" ylabel="\frac{80}{P_y}"></point>
                        <point point="[40,0]" r="3" color="grey" xlabel="\frac{80}{2}"></point>
                        <point point="[functions.u.compensatedIncome(80,2,params.px,2)/params.px,0]" r="3" color="red" xlabel="\frac{E}{P_x}"></point>

                    </graph>

                </div>
            </div>
            <div class="row"><div class="col-md-6">
                    <p>Marshallian Response with <span rendered-math>I = 80</span></p>
                </div>
                <div class="col-md-6">
                    <p>Hicksian Response with <span rendered-math>U = 400</span></p>
                </div>
            </div>
            <div>
                <p rendered-math expression="P_x: \${{ params.px | number:2 }}"></p>
                <slider value="params.px" min="1.15" max="5" precision="0.01"></slider>
            </div>
        </model>
        {% endraw %}

    </section>
    <section>
        <h2>How to Derive Hicksian Demand from Marshallian Demand</h2>
        <hr/>
        <p>Example: Cobb-Douglas <span rendered-math>u(x,y) = xy</span></p>
        <hr/>
        <div class="row">
            <div class="col-md-5 fragment">Start with Marshallian demand:</div>
            <div class="col-md-7 fragment" rendered-math>\displaystyle{x^* = \frac{I}{2P_x}, y^* = \frac{I}{2P_y}}</div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-5 fragment">Plug <span rendered-math>(x^*,y^*)</span> back into <span rendered-math>u(x,y) = xy</span><br/>to find the indirect utility function:</div>
            <div class="col-md-7 fragment"><span rendered-math>\displaystyle{u(x^*,y^*) = \left(\frac{I}{2P_x}\right)\left(\frac{I}{2P_y}\right) }</span>
                <span rendered-math class="fragment" style="color:green">\displaystyle{\Rightarrow V(P_x,P_y,I) = \frac{I^2}{4P_xP_y} }</span></div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-5 fragment">Set the indirect utility function equal to <span rendered-math>U</span> and solve for <span rendered-math>I</span>to find the expenditure
                function:</div>
            <div class="col-md-7 fragment"><span rendered-math>\displaystyle{\color{green}{\frac{I^2}{4P_xP_y}} = U}</span>
                <span rendered-math class="fragment">\Rightarrow I^2 = 4P_xP_yU</span>
                <span rendered-math class="fragment" style="color:blue">\displaystyle{\Rightarrow E(P_x,P_y,U) = 2P_x^\frac{1}{2}P_y^\frac{1}{2}U^\frac{1}{2}}</span>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-5 fragment">Plug this "lowest cost" back into the Marshallian demand (as the income) to get the Hicksian
                demand:
            </div>
            <div class="col-md-7 fragment"><span rendered-math>\displaystyle{x^* = \frac{\color{blue}{E(P_x,P_y,U)}}{2P_x} = \frac{2P_x^\frac{1}{2}P_y^\frac{1}{2}U^\frac{1}{2}}{2P_x}}</span>
                <span rendered-math class="fragment" style="color:red">\displaystyle{\Rightarrow x^H(P_x,P_y,U) = \left(\frac{P_y}{P_x}\right)^\frac{1}{2}U^\frac{1}{2}}</span>
            </div>
        </div>
    </section>
    <section>
        <h2>Hicksian and Marshallian Demand Curves</h2>
        <hr/>
        {% raw %}

        <model>
            <param name="px" value="2"/>
            <function name="u" category="utility" form="CES"></function>
            <div class="row">
            <div class="col-md-8">
                <graph height="600" width="600">
                <axis dim="x" min="0" max="65" title="Quantity of X" ticks="0"></axis>
                <axis dim="y" min="0" max="6" title="Price of X"></axis>
                    <curve fn="functions.u.updateParams({alpha:0.5,s:0}).demandCurve({maxPrice: 10, income: 80, otherPrice: 2, samplePoints: 200})"
                           color="blue" label="D^M"></curve>
                    <curve fn="functions.u.updateParams({alpha:0.5,s:0}).demandCurve({minPrice: 0.2, maxPrice: 10, income: 80, compensationPrice: 3, otherPrice: 2, samplePoints: 200})"
                           color="red" label="D^H_{P_x=3}"></curve>
                    <curve fn="functions.u.updateParams({alpha:0.5,s:0}).demandCurve({minPrice: 0.5, maxPrice: 10, income: 80, compensationPrice: 1, otherPrice: 2, samplePoints: 200})"
                           color="red" label="D^H_{P_x=1}" show="params.showSecondHicks"></curve>
                    <point point="[functions.u.optimalBundle(80, 3, 2)[0],3]"
                       droplines="both" xlabel="x^*(3)"></point>
                    <point point="[functions.u.optimalBundle(80, 1, 2)[0],1]"
                           droplines="both" xlabel="x^*(1)" show="params.showSecondHicks"></point>
                    </graph>
            </div>
                <div class="col-md-4" style="text-align:left">
                    <p><span rendered-math style="color:blue">D^M</span> shows the Marshallian demand for Good X.</p>
                    <hr/>
                    <p><span rendered-math style="color:red">D^H_{P_x = 3}</span> shows the Hicksian ("compensated") demand for
                        Good X, if at every price the consumer's income is adjusted so that she can still attain the same utility as when <span rendered-math>P_x = 3</span>.</p>
                    <hr/>
                    <toggle param="params.showSecondHicks" init="false">{{ params.showSecondHicks ? "Hide" : "Show" }} Hicksian Demand for <span rendered-math>P_x = 1</span> </toggle>

                    </div>
            </div>
        </model>
        {% endraw %}

    </section>
</section>
    <section>
    <h1>Ten Minute Break</h1>
    </section>
    <section>
    <section>
        <h1>Compensating and Equivalent Variation</h1>
        <hr/>
        <h2>Graphical Analysis</h2>
    </section>
        <section>
            <h2>Recall: Slutsky Diagram (not Slutzky...oops)</h2>
            {% raw %}
            <model>


                <!-- Model parameters -->
                <param name="px1" value="3"/>
                <param name="px2" value="1"/>
                <param name="py" value="1"/>
                <param name="income" value="30"/>
                <param name="alpha" value="0.5"/>
                <param name="s" value="-0.2"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="CES"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <div class="row">


                    <div class="col-md-8">

                        <graph height="700" width="700">
                            <axis dim="x" min="0" max="70" title="" ticks="0"></axis>
                            <axis dim="y" min="0" max="70" title="" ticks="0"></axis>
                            <line fn="functions.b.updateParams({px:params.px1, py:params.py, income:params.income})"
                                  color="blue"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px1, params.py)"
                                   color="darkblue" label="U_1"></curve>
                            <point point="functions.u.optimalBundle(params.income, params.px1, params.py)" label="A"></point>
                            <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:params.income})"
                                  color="red"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px2, params.py)"
                                   color="darkred" label="U_2"></curve>
                            <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)})"
                                  color="red" show="params.showDecompositionPoint"></line>
                            <point color="purple" point="[0,params.income/params.py]" droplines="none"
                                   ylabel="\displaystyle{\frac{I}{P_y}}" r="3"></point>
                            <point color="red" point="[params.income/params.px2,0]" droplines="none"
                                   xlabel="\displaystyle{\frac{I}{P_{x_2}}}" r="3"></point>
                            <point color="blue" point="[params.income/params.px1,0]" droplines="none"
                                   xlabel="\displaystyle{\frac{I}{P_{x_1}}}" r="3"></point>
                            <point color="red"
                                   point="[functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)/params.px2,0]"
                                   droplines="none"
                                   xlabel="\displaystyle{\frac{I_d}{P_{x_2}}}"
                                   show="params.showDecompositionPoint" r="3"></point>
                            <point color="red"
                                   point="[0,functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)/params.py]"
                                   droplines="none"
                                   ylabel="\displaystyle{\frac{I_d}{P_{y}}}"
                                   show="params.showDecompositionPoint" r="3"></point>

                            <point point="functions.u.optimalBundle(params.income, params.px2, params.py)"
                                   label="C"></point>
                            <point point="functions.u.decompositionBundle(params.income, params.px1, params.px2, params.py)"
                                   label="B"
                                   show="params.showDecompositionPoint"></point>



                        </graph>


                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Parameters</h6>
                            <hr/>
                            <p style="color:blue" rendered-math expression="P_{x_1}: \${{ params.px1 | number:2 }}"></p>
                            <slider value="params.px1" min="1" max="6" precision="0.25"></slider>
                            <p style="color:red" rendered-math expression="P_{x_2}: \${{ params.px2 | number:2 }}"></p>
                            <slider value="params.px2" min="1" max="6" precision="0.25"></slider>
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="5" max="120" precision="1"></slider>
                            <p>Substitutability:
                                <span ng-if="params.s < 0">Complements</span>
                                <span ng-if="params.s == 0">Neutral</span>
                                <span ng-if="params.s > 0">Substitutes</span></p>
                            <slider value="params.s" min="-1" max="1" precision="0.1"></slider>
                        </div>
                        <hr/>
                        <div class="well">
                            <toggle param="params.showDecompositionPoint" init="false">{{ params.showDecompositionPoint ?
                                "Hide" :
                                "Show" }} Decomposition Point
                            </toggle>

                        </div>

                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            {% raw %}
            <model>


                <!-- Model parameters -->
                <param name="px1" value="3"/>
                <param name="px2" value="1"/>
                <param name="py" value="1"/>
                <param name="income" value="35"/>
                <param name="alpha" value="0.5"/>
                <param name="s" value="-0.2"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="CES"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <div class="row">


                    <div class="col-md-6">

                        <graph height="600" width="600">
                            <axis dim="x" min="0" max="70" title="" ticks="0"></axis>
                            <axis dim="y" min="0" max="70" title="" ticks="0"></axis>
                            <line fn="functions.b.updateParams({px:params.px1, py:params.py, income:params.income})"
                                  color="blue"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px1, params.py)"
                                   color="darkblue" label="U_1"></curve>
                            <point point="functions.u.optimalBundle(params.income, params.px1, params.py)"
                                   label="A"></point>
                            <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:params.income})"
                                  color="red"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px2, params.py)"
                                   color="darkred" label="U_2"></curve>
                            <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)})"
                                  color="red"></line>
                            <point color="purple" point="[0,params.income/params.py]" droplines="none"
                                   ylabel="\displaystyle{\frac{I}{P_y}}" r="3"></point>
                            <point color="red" point="[params.income/params.px2,0]" droplines="none"
                                   xlabel="\displaystyle{\frac{I}{P_{x_2}}}" r="3"></point>
                            <point color="blue" point="[params.income/params.px1,0]" droplines="none"
                                   xlabel="\displaystyle{\frac{I}{P_{x_1}}}" r="3"></point>
                            <point color="red"
                                   point="[functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)/params.px2,0]"
                                   droplines="none"
                                   xlabel="\displaystyle{\frac{E(U_1,P_{x_2},P_y)}{P_{x_2}}}" r="3"></point>
                            <point color="red"
                                   point="[0,functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)/params.py]"
                                   droplines="none"
                                   ylabel="\displaystyle{\frac{E(U_1,P_{x_2},P_y)}{P_{y}}}" r="3"></point>
                            <point point="functions.u.optimalBundle(params.income, params.px2, params.py)"
                                   label="C"></point>
                            <point point="functions.u.decompositionBundle(params.income, params.px1, params.px2, params.py)"
                                   label="B"></point>



                        </graph>
                        <p>Compensating Variation: <span rendered-math>I - E(U_1,P_{x_2},P_y)</span> </p>


                    </div>
                    <div class="col-md-6 fragment">

                        <graph height="600" width="600">
                            <axis dim="x" min="0" max="70" title="" ticks="0"></axis>
                            <axis dim="y" min="0" max="70" title="" ticks="0"></axis>
                            <line fn="functions.b.updateParams({px:params.px1, py:params.py, income:params.income})"
                                  color="blue"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px1, params.py)"
                                   color="darkblue" label="U_1"></curve>
                            <point point="functions.u.optimalBundle(params.income, params.px1, params.py)"
                                   label="A"></point>
                            <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:params.income})"
                                  color="red"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px2, params.py)"
                                   color="darkred" label="U_2"></curve>
                            <point color="purple" point="[0,params.income/params.py]" droplines="none"
                                   ylabel="\displaystyle{\frac{I}{P_y}}" r="3"></point>
                            <point color="red" point="[params.income/params.px2,0]" droplines="none"
                                   xlabel="\displaystyle{\frac{I}{P_{x_2}}}" r="3"></point>
                            <point color="blue" point="[params.income/params.px1,0]" droplines="none"
                                   xlabel="\displaystyle{\frac{I}{P_{x_1}}}" r="3"></point>
                            <line fn="functions.b.updateParams({px:params.px1, py:params.py, income:functions.u.compensatedIncome(params.income,params.px2,params.px1,params.py)})"
                                  color="blue"></line>
                            <point color="blue"
                                   point="[functions.u.compensatedIncome(params.income,params.px2,params.px1,params.py)/params.px1,0]"
                                   droplines="none"
                                   xlabel="\displaystyle{\frac{E(U_2,P_{x_1},P_y)}{P_{x_1}}}" r="3"></point>
                            <point color="blue"
                                   point="[0,functions.u.compensatedIncome(params.income,params.px2,params.px1,params.py)/params.py]"
                                   droplines="none"
                                   ylabel="\displaystyle{\frac{E(U_2,P_{x_1},P_y)}{P_{y}}}" r="3"></point>
                            <point point="functions.u.optimalBundle(params.income, params.px2, params.py)"
                                   label="C"></point>
                            <point point="functions.u.decompositionBundle(params.income, params.px2, params.px1, params.py)"
                                   label="E"></point>
                        </graph>
                        <p>Equivalent Variation: <span rendered-math>E(U_2,P_{x_1},P_y) - I</span></p>


                    </div>
                    </div>
                <hr/>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Parameters:</h6>
                    </div>
                    <div class="col-md-4">
                        <p style="color:blue" rendered-math expression="P_{x_1}: \${{ params.px1 | number:2 }}"></p>
                        <slider value="params.px1" min="1" max="6" precision="0.25"></slider>

                    </div>
                    <div class="col-md-4">
                        <p style="color:red" rendered-math expression="P_{x_2}: \${{ params.px2 | number:2 }}"></p>
                        <slider value="params.px2" min="1" max="6" precision="0.25"></slider>
                    </div>
                </div>

            </model>
            {% endraw %}
        </section>
    <section>
        {% raw %}
        <model>


            <!-- Model parameters -->
            <param name="px1" value="3"/>
            <param name="px2" value="1"/>
            <param name="py" value="1"/>
            <param name="income" value="45"/>
            <param name="alpha" value="0.5"/>
            <param name="s" value="-0.2"/>


            <!-- Model functions -->
            <function name="u" category="utility" form="CES"></function>
            <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

            <div class="row">


                <div class="col-md-6">

                    <graph height="600" width="600">
                        <axis dim="x" min="0" max="70" title="Quantity of X" ticks="0"></axis>
                        <axis dim="y" min="0" max="70" title="Quantity of Y" ticks="0"></axis>
                        <line fn="functions.b.updateParams({px:params.px1, py:params.py, income:params.income})"
                              color="blue"></line>
                        <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px1, params.py)"
                               color="darkblue" label="U_1"></curve>
                        <point point="functions.u.optimalBundle(params.income, params.px1, params.py)"
                               label="A" droplines="vertical" xlabel="x_A"></point>
                        <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:params.income})"
                              color="red"></line>
                        <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px2, params.py)"
                               color="darkred" label="U_2"></curve>
                        <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)})"
                              color="red"></line>
                        <line fn="functions.b.updateParams({px:params.px1, py:params.py, income:functions.u.compensatedIncome(params.income,params.px2,params.px1,params.py)})"
                              color="blue"></line>
                        <point point="functions.u.optimalBundle(params.income, params.px2, params.py)"
                               label="C" droplines="vertical" xlabel="x_C"></point>
                        <point point="functions.u.decompositionBundle(params.income, params.px1, params.px2, params.py)"
                               label="B" droplines="vertical" xlabel="x_B"></point>
                        <point point="functions.u.decompositionBundle(params.income, params.px2, params.px1, params.py)"
                               label="E" droplines="vertical" xlabel="x_E"></point>


                    </graph>
                    <p>Budget Lines / Indifference Curves</p>


                </div>
                <div class="col-md-6">

                    <graph height="600" width="600">
                        <axis dim="x" min="0" max="65" title="Quantity of X" ticks="0"></axis>
                        <axis dim="y" min="0" max="6" title="Price of X" ticks="0"></axis>
                        <area fn="functions.u.demandCurve({minPrice: params.px1, maxPrice: params.px2, income: params.income, otherPrice: params.py, samplePoints: 200})"
                               color="green" label="D^M" show="params.showCS"/>
                        <area fn="functions.u.demandCurve({minPrice: params.px1, maxPrice: params.px2, income: params.income, compensationPrice: params.px1, otherPrice: params.py, samplePoints: 200})"
                               color="blue" label="D^H_1" show="params.showCV"/>
                        <area fn="functions.u.demandCurve({minPrice: params.px1, maxPrice: params.px2, income: params.income, compensationPrice: params.px2, otherPrice: params.py, samplePoints: 200})"
                               color="red" label="D^H_2" show="params.showEV"/>

                        <curve fn="functions.u.demandCurve({maxPrice: 10, income: params.income, otherPrice: params.py, samplePoints: 200})"
                               color="green" label="D^M"></curve>
                        <curve fn="functions.u.demandCurve({minPrice: 0.2, maxPrice: 10, income: params.income, compensationPrice: params.px1, otherPrice: params.py, samplePoints: 200})"
                               color="blue" label="D^H_1"></curve>
                        <curve fn="functions.u.demandCurve({minPrice: 0.5, maxPrice: 10, income: params.income, compensationPrice: params.px2, otherPrice: params.py, samplePoints: 200})"
                               color="red" label="D^H_2"></curve>
                        <point point="[functions.u.optimalBundle(params.income, params.px2, params.py)[0],params.px2]"
                               droplines="horizontal" ylabel="P_{x_2}" color="red" r="3"></point>
                        <point point="[functions.u.optimalBundle(params.income, params.px1, params.py)[0],params.px1]"
                               droplines="horizontal" ylabel="P_{x_1}" color="blue" r="3"></point>
                        <point point="[functions.u.optimalBundle(params.income, params.px2, params.py)[0],params.px2]"
                               droplines="vertical" xlabel="x_C" label="C"></point>
                        <point point="[functions.u.optimalBundle(params.income, params.px1, params.py)[0],params.px1]"
                               droplines="vertical" xlabel="x_A" label="A"></point>
                        <point point="[functions.u.decompositionBundle(params.income, params.px2, params.px1, params.py)[0],params.px1]"
                               droplines="vertical" xlabel="x_E" label="E"></point>
                        <point point="[functions.u.decompositionBundle(params.income, params.px1, params.px2, params.py)[0],params.px2]"
                               droplines="vertical" xlabel="x_B" label="B"></point>
                    </graph>
                    <p>Demand Curves</p>


                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <p style="color:blue" rendered-math expression="P_{x_1}: \${{ params.px1 | number:2 }}"></p>
                    <slider value="params.px1" min="1" max="6" precision="0.25"></slider>

                </div>
                <div class="col-md-4">
                    <p style="color:red" rendered-math expression="P_{x_2}: \${{ params.px2 | number:2 }}"></p>
                    <slider value="params.px2" min="1" max="6" precision="0.25"></slider>
                </div>
                <div class="col-md-4">
                    <toggle param="params.showCV" init="false" style="color:blue">{{ params.showCV ? "Hide" : "Show" }} CV</toggle>
                    <toggle param="params.showEV" init="false" style="color:red">{{ params.showEV ? "Hide" : "Show" }} EV</toggle>
                    <toggle param="params.showCS" init="false" style="color:green">{{ params.showCS ? "Hide" : "Show" }} CS</toggle>
                </div>

            </div>

        </model>
        {% endraw %}
    </section>
    <section>
        <h1>MAGNITUDE OF CS, CV, AND EV</h1>
        <hr/>
        <h2>In general:</h2>
        <h2>For a price drop, CV < CS < EV</h2>
        <h2>For a price increase, CV > CS > EV</h2>
    </section>
    <section>
        <img src="{{ url_for('static',filename='images/econ50/lecture8/besanko_5e_fig_05_16.jpg') }}">
        <p>Special Case: Quasilinear Utility => CV = CS = EV</p>
    </section>

    </section>
    <section>
    <h1>SUMMARY</h1>
    <hr/>
        <p class="fragment">Welfare analysis tries to quantify the harm/good done to people<br/> by some change (in this case, price).</p>
        <p class="fragment">By analyzing the change in income required to keep someone at the same level of utility,<br/>we avoid having to quantify utility changes.</p>
        <p class="fragment">We saw several new mathematical constructs:<br/>compensated demand, indirect utility functions, and expenditure functions.<br/>These are all just different ways of parsing the same optimization problem.</p>
        <p class="fragment">Looking forward: we're going to use this cost minimization approach<br/>a lot when we get to producer theory.</p>
    </section>
    <section>
        <h1>Next Time</h1>
        <hr/>
        <h2>Intertemporal Consumption</h2>
        <h2>Review of Consumer Theory</h2>
    </section>






{% endblock %}