{% extends 'slides/slide-template.html' %}

{% block slides %}

    <section>
        <h2>Econ 50</h2>
        <br/>
        <hr/>
        <br/>

        <h2>Lecture 6</h2>

        <h1>Comparative Statics I: Deriving Demand</h1>
        <br/>
        <hr/>
        <br/>

        <h3>January 26, 2015</h3>
        <hr>
        <br/>

        <p style="color:grey">Controls: N for next slide | P for previous slide | ESC for map | refresh if glitchy</p>

    </section>
    <section>
        <h1>Today's Agenda</h1>
        <hr/>
        <h2 class="fragment">Logistics and Context</h2>
        <h2 class="fragment">Motivation: Attention Span</h2>
        <h2 class="fragment">Deriving the Demand Curve and Engel Curve</h2>
        <h2 class="fragment">The Demand Curve and Engel Curve for Cobb-Douglas</h2>
        <hr/>
        <h2 class="fragment">10 minute break</h2>
        <hr/>
        <h2 class="fragment">Kinks and Corners: Optimization</h2>
        <h2 class="fragment">Kinks and Corners: Comparative Statics</h2>
    </section>
    <section>
        <section>
            <h1>Logistics and Context</h1>
        </section>
        <section>
            <h2>Logistics</h2>
            <hr/>
            <h3>Homework 1 Scores</h3>
            <table class="table">
                <tr>
                    <td>Score Range</td>
                    <td>Number of Students</td>
                </tr>
                <tr>
                    <td>Perfect 10</td>
                    <td>
                        <div style="background-color:gold; color:darkgrey; width:20px">&nbsp;2</div>
                    </td>
                </tr>
                <tr>
                    <td>9.5-9.9</td>
                    <td><div width="220px" style="background-color:darkgreen; color:darkgrey; width: 550px">&nbsp;55</div></td>
                </tr>
                <tr>
                    <td>9.0-9.4</td>
                    <td>
                        <div width="220px" style="background-color:green; color:darkgrey; width: 180px">&nbsp;18
                        </div></td>
                </tr>
                <tr>
                    <td>8.5-8.9</td>
                    <td>
                        <div width="220px" style="background-color:orange; color:darkgrey; width: 100px">&nbsp;10
                        </div></td>
                </tr>
                <tr>
                    <td>8.0-8.4</td>
                    <td>
                        <div width="220px" style="background-color:darkorange; color:darkgrey; width: 40px">&nbsp;4
                        </div></td>
                </tr>
                <tr>
                    <td>7.5-7.9</td>
                    <td>
                        <div width="220px" style="background-color:orangered; color:darkgrey; width: 100px">&nbsp;10
                        </div></td>
                </tr>
                <tr>
                    <td>Below 7.5</td>
                    <td>
                        <div width="220px" style="background-color:darkred; color:darkgrey; width: 80px">&nbsp;8
                        </div></td>
                </tr>
            </table>
            <h3>Remember that the midterm is .</h3>
            <h3>Homework 2 is due in section this Friday.</h3>
            <p>Be sure to let me and/or your TA know if you need to hand it in early.</p>
        </section>
        <section>
            <h2>Context: Consumer Theory</h2>
            <p></p>
            <table class="table">
                <tr class="fragment">
                    <td>Week 2</td>
                    <td><b>Consumer Choice Framework</b>: Preferences,<br/>Indifference Curves, and Utility Functions</td>
                    <td>Chapter 3</td>
                </tr>
                <tr class="fragment" style="background-color:lightgreen">
                    <td>Week 3</td>
                    <td><b>Optimal Choice:</b> Budget Constraints;<br/><span rendered-math>(x^*, y^*)</span> as a function of
                        <span rendered-math>(P_x, P_y, I)</span>.</td>
                    <td>4.1-4.3</td>
                </tr>
                <tr class="fragment">
                    <td>Week 4</td>
                    <td><b>Comparative Statics:</b> Deriving the Demand Curve; <br/>Income and Subsitution Effects; <br/>Consumer
                        Surplus; Market Demand</td>
                    <td>5.1-5.4</td>
                </tr>
                <tr class="fragment">
                    <td>Week 5</td>
                    <td><b>Applications:</b> Labor/Leisure, Price Indices, <br/>Intertemporal Choice, Revealed Preference</td>
                    <td>5.5-5.6,<br/>Ch. 4 Appendix 2, 4.4</td>
                </tr>
                <tr class="fragment">
                    <td>Week 6</td>
                    <td>Midterm! ...and on to producer theory</td>
                    <td/>
                </tr>
            </table>
        </section>
        <section>

            {% raw %}
            <model>

                <!-- Model parameters -->
                <param name="px" value="3"/>
                <param name="py" value="2"/>
                <param name="income" value="60"/>
                <param name="alpha" value="0.5"/>
                <param name="beta" value="0.5"/>
                <param name="a" value="4"/>
                <param name="b" value="3"/>
                <param name="xLabel" value="Good X" type="string"/>
                <param name="yLabel" value="Good Y" type="string"/>

                <!-- Model functions -->
                <function name="u" category="utility" form="CobbDouglas"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <h3>Cobb-Douglas Demand: <span rendered-math expression="U(x,y) = x^ay^b = x^{ {{ params.alpha | number:2}} }y^{
                                         {{ params.beta | number:2}} }"></span></h3>
                <hr/>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                </div>

                <div class="row">


                    <div class="col-md-8">
                        <graph height="700" width="700">
                            <axis dim="x" min="0" max="65" title="{{ params.xLabel }}"></axis>
                            <axis dim="y" min="0" max="65" title="Good Y"></axis>
                            <area fn="functions.u.updateParams({alpha:params.alpha,beta:params.beta}).optimalIndifferenceCurve(params.income, params.px, params.py).preferred"
                                  color="green"/>
                            <curve fn="functions.u.setLevel([5,5])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([10,10])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([15,15])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([20,20])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([25,25])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([30,30])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([35,35])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([40,40])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([45,45])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([50,50])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([55,55])"
                                   color="#AAAAAA"></curve>
                            <curve fn="functions.u.setLevel([60,60])"
                                   color="#AAAAAA"></curve>
                            <area fn="functions.b.updateParams({px:params.px, py:params.py, income:params.income})"
                                  color="purple"></area>
                            <line fn="functions.b"></line>
                            <curve fn="functions.u.optimalIndifferenceCurve(params.income, params.px, params.py)"
                                   color="green"></curve>
                            <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                   droplines="both" xlabel="x^*" ylabel="y^*"></point>

                        </graph>


                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Budget Parameters</h6>
                            <hr/>
                            <p rendered-math expression="P_{x}: \${{ params.px | number:2 }}"></p>
                            <slider value="params.px" min="1" max="6" precision="0.25"></slider>
                            <p rendered-math expression="P_{y}: \${{ params.py | number:2 }}"></p>
                            <slider value="params.py" min="1" max="6" precision="0.25"></slider>
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="5" max="120" precision="1"></slider>
                        </div>
                        <hr/>
                        <div class="well">
                            <h6>Utility Parameters</h6>
                            <hr/>
                            <p rendered-math expression="a: {{ params.alpha | number:2}}"></p>
                            <slider value="params.alpha" min="0" max="1" precision="0.05"></slider>
                            <p rendered-math expression="b: {{ params.beta | number:2}}"></p>
                            <slider value="params.beta" min="0" max="1" precision="0.05"></slider>
                        </div>
                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            <h2>Review and Preview: <span rendered-math>(x^*,y^*)</span> as a function of
                <span rendered-math>(P_x, P_y, I)</span></h2>
            <table class="table">
                <tr style="background-color:darkblue">
                    <td style="color: white" >Functional Form</td>
                    <td style="color: white" rendered-math>u(x,y)</td>
                    <td style="color: white" rendered-math>x^*(P_x, P_y, I)</td>
                    <td style="color: white" rendered-math>y^*(P_x, P_y, I)</td>
                </tr>
                <tr>
                    <td>Cobb-Douglas</td>
                    <td rendered-math>cx^ay^b</td>
                    <td rendered-math>\displaystyle{\left(\frac{a}{a+b}\right)\frac{I}{P_x}}</td>
                    <td rendered-math>\displaystyle{\left(\frac{b}{a+b}\right)\frac{I}{P_y}}</td>
                </tr>
                <tr>
                    <td>(in section)</td>
                    <td rendered-math>\sqrt x + \sqrt y</td>
                    <td rendered-math>\displaystyle{\left(\frac{P_y}{P_x + P_y}\right)\frac{I}{P_x}}</td>
                    <td rendered-math>\displaystyle{\left(\frac{P_x}{P_x + P_y}\right)\frac{I}{P_y}}</td>
                </tr>
                <tr>
                    <td>Perfect Substitutes</td>
                    <td rendered-math>ax + by</td>
                    <td rendered-math>?</td>
                    <td rendered-math>?</td>
                </tr>
                <tr>
                    <td>Perfect Complements</td>
                    <td rendered-math>\min(ax,by)</td>
                    <td rendered-math>?</td>
                    <td rendered-math>?</td>
                </tr>
                <tr>
                    <td>Quasilinear</td>
                    <td rendered-math>v(x) + y</td>
                    <td rendered-math>?</td>
                    <td rendered-math>?</td>
                </tr>
            </table>
        </section>
    </section>
    <section>
        <section>
            <h1>Kinks and Corners</h1>
            <hr/>
            <h2>When Calculus Doesn't Work</h2>
        </section>
        <section>
            <h1>Let's go back to high school</h1>
            <hr/>
            <h2>For a continuously differentiable function, we find the (unconstrained) maxima and minima by setting the first derivative equal to zero.</h2>
            <h2 class="fragment">...but not every function is continuously differentiable, and sometimes constraints get in the way.</h2>
        </section>
        <section>
            <clicker-question>
                <h2>Suppose <span rendered-math>y = 9 - (x + 1)^2</span>.</h2>

                <h2>What is the maximum value of <span rendered-math>y</span> if <span rendered-math>x \ge 0</span>?</h2>
                <clicker-option letter="A">9</clicker-option>
                <clicker-option letter="B">8</clicker-option>
                <clicker-option letter="C">2</clicker-option>
                <clicker-option letter="D">0</clicker-option>
            </clicker-question>
        </section>
        <section>
            <clicker-question>
                <h2>Could you answer the previous question by taking the derivative of <span rendered-math>y = 9 - (x + 1)^2</span> and setting it equal to zero?</h2>
                <clicker-option letter="A">Yes</clicker-option>
                <clicker-option letter="B">No</clicker-option>
            </clicker-question>
        </section>
        <section>
            <clicker-question>
                <h2>Suppose <span rendered-math>y = 9 - (x - 1)^2</span>.</h2>
                <h2>What is the maximum value of <span rendered-math>y</span> if <span rendered-math>x \ge 0</span>?</h2>
                <clicker-option letter="A">9</clicker-option>
                <clicker-option letter="B">8</clicker-option>
                <clicker-option letter="C">2</clicker-option>
                <clicker-option letter="D">0</clicker-option>
            </clicker-question>
        </section>
        <section>
            <clicker-question>
                <h2>Could you answer the previous question by taking the derivative of <span rendered-math>y = 9 - (x - 1)^2</span>
                    and setting it equal to zero?</h2>
                <clicker-option letter="A">Yes</clicker-option>
                <clicker-option letter="B">No</clicker-option>
            </clicker-question>
        </section>
        <section>
            <clicker-question>
                <h2>Suppose <span rendered-math>y = 9 - |x - 1|</span>. </h2>

                <h2>What is the maximum value of <span rendered-math>y</span> if <span rendered-math>x \ge 0</span>?</h2>
                <clicker-option letter="A">9</clicker-option>
                <clicker-option letter="B">8</clicker-option>
                <clicker-option letter="C">2</clicker-option>
                <clicker-option letter="D">0</clicker-option>
            </clicker-question>
        </section>
        <section>
            <clicker-question>
                <h2>Suppose <span rendered-math>y = 9 - |x + 1|</span>. </h2>
                <h2>What is the maximum value of <span rendered-math>y</span> if <span rendered-math>x \ge 0</span>?</h2>
                <clicker-option letter="A">9</clicker-option>
                <clicker-option letter="B">8</clicker-option>
                <clicker-option letter="C">2</clicker-option>
                <clicker-option letter="D">0</clicker-option>
            </clicker-question>
        </section>
        <section>
            <h1>KINDS OF KINKS AND CORNERS<br/>YOU'LL ENCOUNTER IN THIS COURSE</h1>
            <hr/>
            <h2 class="fragment">Linear objective functions (e.g., perfect substitutes)</h2>
            <h2 class="fragment">Kinked objective functions (e.g., perfect complements)</h2>
            <h2 class="fragment">Smooth objective functions whose tangency condition<br/>occurs in negative territory</h2>
            <h2 class="fragment">Kinked budget constraints (e.g., quantity discounts)</h2>
        </section>
        <section>
            <h1>DEALING WITH KINKS AND CORNERS</h1>
            <hr/>
            <h2>In grad school, you'll learn fancy math.</h2>
            <hr/>
            <h2>For now, use logic and check your assumptions!</h2>
        </section>
        <section>
            <h2>Recall: MRS and the Price Ratio</h2>
            {% raw %}
            <model>
                <param name="x" value="2"/>
                <function name="u" category="utility" form="CobbDouglas" fn-params="{alpha:1,beta:1}"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"
                          fn-params="{px:1, py:1, income:10}"></function>

                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <graph height="500" width="500">
                                <axis dim="x" min="0" max="15" title="Good X" ticks="0"></axis>
                                <axis dim="y" min="0" max="15" title="Good Y" ticks="0"></axis>
                                <area fn="functions.u.setLevel([params.x,10-params.x]).preferred"
                                      color="lightgreen"></area>
                                <area fn="functions.b" color="purple"></area>
                                <label point="[10,10]" label="Preferred to A"></label>
                                <label point="[2,2]" label="Budget Set"></label>
                                <line fn="functions.b"></line>
                                <curve fn="functions.u"></curve>
                                <line fn="functions.u.mrsTangentLine([params.x,10-params.x])" color="green"></line>
                                <point point="[params.x,10-params.x]" label="A" droplines="both"></point>
                            </graph>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="well">
                            <p>Amount spent on <span rendered-math>X</span></p>
                            <slider value="params.x" min="1" max="9" precision="0.1"></slider>
                        </div>
                        <hr/>
                        <div ng-if="functions.u.mrs([params.x,10-params.x]) > 1">
                            <h2 rendered-math>MRS_{x,y} > \frac{P_x}{P_y}</h2>
                            <hr/>
                            <p>You value X<br/>(relative to Y)<br/><b>more than</b><br/>the market does.</p>
                            <hr/>
                            <p>Increase your consumption of X!</p>
                        </div>
                        <div ng-if="functions.u.mrs([params.x,10-params.x]) == 1">
                            <h2 rendered-math>MRS_{x,y} = \frac{P_x}{P_y}</h2>
                            <hr/>
                            <p>You value X<br/>(relative to Y)<br/><b>the same amount as</b><br/>the market does.</p>
                            <hr/>
                            <p>You're good where you are!</p>
                        </div>
                        <div ng-if="functions.u.mrs([params.x,10-params.x]) < 1">
                            <h2 rendered-math>MRS_{x,y} < \frac{P_x}{P_y}</h2>
                            <hr/>
                            <p>You value X<br/>(relative to Y)<br/><b>less than</b><br/>the market does.</p>
                            <hr/>
                            <p>Decrease your consumption of X!</p>
                        </div>
                    </div>
                </div>

            </model>
            {% endraw %}
        </section>
    </section>
    <section>
        <section>
            <h1>Perfect Substitutes</h1>
            <hr/>
            <h2>We are perfectly willing to substitute one good for another (not always in 1:1 ratio)</h2>
            <hr/>
            <h2 class="fragment">Examples: 1 Coke or 1 Pepsi, 1 Dime or 2 Nickels</h2>
            <hr/>
            <h2 class="fragment">The rate at which we're willing to exchange one for the other is <b>constant</b>.</h2>
            <hr/>
            <h2 class="fragment">Functional form: <span rendered-math>u(x,y) = ax + by</span></h2>
        </section>
        <section>
            <clicker-question>
                <h2>Suppose <span rendered-math>u(x,y) = 2x + y</span>.</h2>

                <h2>What will the optimal bundle of X and Y be?</h2>
                <clicker-option letter="A">Spend 1/3 of your income on X,<br/>and 2/3 of your income on Y.
                </clicker-option>
                <clicker-option letter="B">Spend 2/3 of your income on X,<br/>and 1/3 of your income on Y.
                </clicker-option>
                <clicker-option letter="C">Buy only X if <span rendered-math>P_x < 2P_y</span>; otherwise buy only Y.
                </clicker-option>
                <clicker-option letter="D">Buy only X if <span rendered-math>P_x < \frac{1}{2}P_y</span>; otherwise buy
                    only Y.
                </clicker-option>
                <clicker-option letter="E">Just buy whichever one is cheaper!<br/>They're perfect substitutes, right?
                </clicker-option>
            </clicker-question>
        </section>
        <section>
            <h2>Some simple numbers</h2>
            <hr/>
            <h2 rendered-math>u(x,y) = 2x + y</h2>
            <h2 rendered-math>P_x = 3</h2>
            <h2 rendered-math>P_y = 2</h2>
            <h2 rendered-math>I = 12</h2>
            <hr/>
            <p class="fragment">With your $12, you could buy 4 units of X, or 6 units of Y.</p>
            <p class="fragment">You like X twice as much as Y, so 4 units of X is worth more to you than 6 units of Y.</p>
            <hr/>
            <p class="fragment">Put another way: every unit of X you get costs you 1.5 units of Y <span rendered-math>\left(\frac{P_x}{P_y} = 1.5\right)</span>;<br/>and every unit of X gives you 2 times as much utility as a unit of Y (<span rendered-math>MRS_{x,y} = 2</span>),<br/>you're always willing to exchange 1.5 units of Y for 1 unit of X.</p>
        </section>
        <section>
            {% raw %}
            <model>



                <!-- Model parameters -->
                <param name="px" value="3"/>
                <param name="py" value="2"/>
                <param name="income" value="12"/>
                <param name="a" value="2"/>
                <param name="b" value="1"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="PerfectSubstitutes"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <h2>Perfect Substitutes: <span rendered-math align="center" style="{font-size: 14pt}"
                                               expression="U(x,y) = ax + by = {{ params.a | number:1}}x + {{ params.b | number:1}}y"></span>
                </h2>
                <hr/>
                <div class="row">


                    <div class="col-md-8">

                        <graph height="600" width="600">
                            <axis dim="x" min="0" max="15" title="Good X"></axis>
                            <axis dim="y" min="0" max="15" title="Good Y"></axis>
                            <area fn="functions.b.updateParams({px:params.px, py:params.py, income:params.income})"
                                  color="purple"></area>
                            <line fn="functions.b"></line>
                            <curve fn="functions.u.updateParams({a: params.a, b:params.b}).optimalIndifferenceCurve(params.income, params.px, params.py)"
                                   color="green"></curve>
                            <area fn="functions.u.preferred" color="lightgreen"></area>
                            <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                   droplines="both" xlabel="x^*" ylabel="y^*"></point>
                            <line fn="functions.u.setLevel([1,1])"
                                  color="#AAAAAA" show="showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([2,2])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([3,3])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([4,4])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([5,5])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([6,6])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([7,7])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([8,8])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([9,9])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([10,10])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([11,11])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([12,12])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([13,13])" color="#AAAAAA" show="params.showIndifferenceMap"></line>
                            <line fn="functions.u.setLevel([14,14])" color="#AAAAAA" show="params.showIndifferenceMap"></line>



                        </graph>


                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Budget Parameters</h6>
                            <hr/>
                            <p rendered-math expression="P_{x}: \${{ params.px | number:2 }}"></p>
                            <slider value="params.px" min="1" max="6" precision="0.25"></slider>
                            <p rendered-math expression="P_{y}: \${{ params.py | number:2 }}"></p>
                            <slider value="params.py" min="1" max="6" precision="0.25"></slider>
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="5" max="30" precision="1"></slider>
                        </div>
                        <hr/>
                        <div class="well">
                            <h6>Utility Parameters</h6>
                            <hr/>
                            <p rendered-math expression="a: {{ params.a | number:1}}"></p>
                            <slider value="params.a" min="0.1" max="5" precision="0.1"></slider>
                            <p rendered-math expression="b: {{ params.b | number:1}}"></p>
                            <slider value="params.b" min="0.1" max="5" precision="0.1"></slider>
                        </div>
                        <toggle param="params.showIndifferenceMap" init="false">{{ params.showIndifferenceMap ? "Hide" : "Show" }} Indifference Map</toggle>
                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
    </section>
    <section>
        <section>
            <h1>Perfect Complements</h1>
            <hr/>
            <h2>We always want to consume goods together</h2>
            <h2>in a particular proportion</h2>
            <hr/>
            <h2 class="fragment">Examples: 2 creams: 1 coffee, 1 left shoe: 1 right shoe</h2>
            <hr/>
            <h2 class="fragment">Having additional units of either, beyond our desired ratio, does not raise our utility.</h2>
            <hr/>
            <h2 class="fragment">Functional form: <span rendered-math>u(x,y) = \min(ax,by)</span></h2>
        </section>
        <section>
            <clicker-question>
                <h2>Suppose <span rendered-math>u(x,y) = \min(2x,y)</span>.</h2>

                <h2>What will the optimal bundle of X and Y be?</h2>
                <clicker-option letter="A">Buy twice as much X as Y.
                </clicker-option>
                <clicker-option letter="B">Buy twice as much Y as X.
                </clicker-option>
                <clicker-option letter="C">Buy only X if <span rendered-math>P_x < 2P_y</span>; otherwise buy only Y.
                </clicker-option>
                <clicker-option letter="D">Buy only X if <span rendered-math>P_x < \frac{1}{2}P_y</span>; otherwise buy
                    only Y.
                </clicker-option>
                <clicker-option letter="E">Just buy pairs of X and Y!<br/>They're perfect complements, right?
                </clicker-option>
            </clicker-question>
        </section>
        <section>
            <h2>Some simple logic</h2>
            <hr/>
            <h2 rendered-math>u(x,y) = \min(2x,y)</h2>

            <h2 rendered-math>P_x = 3</h2>

            <h2 rendered-math>P_y = 2</h2>

            <h2 rendered-math>I = 14</h2>
            <hr/>
            <p class="fragment">You want to set <span rendered-math>2x = y</span>; otherwise you're buying too much of one or the other.</p>

            <p class="fragment">You can think of this as buying "bundles" of 2 units of X, and one unit of Y.</p>

            <p class="fragment">Each of these bundles costs <span rendered-math>2P_x + P_y = \$7</span>.</p>
            <p class="fragment">With your $14, you can buy two of these bundles, for a total of 4 units of X and 2 units of Y.</p>
        </section>
        <section>
            {% raw %}
            <model>


                <!-- Model parameters -->
                <param name="px" value="3"/>
                <param name="py" value="2"/>
                <param name="income" value="14"/>
                <param name="a" value="2"/>
                <param name="b" value="1"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="PerfectComplements"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <h3>Perfect Complements: <span rendered-math align="center" style="{font-size: 14pt}"
                                               expression="U(x,y) = \min(ax,by) = \min({{ params.a | number:1}}x, {{ params.b | number:1}}y)"></span>
                </h3>
                <hr/>
                <div class="row">


                    <div class="col-md-8">

                        <graph height="600" width="600">
                            <axis dim="x" min="0" max="15" title="Good X"></axis>
                            <axis dim="y" min="0" max="15" title="Good Y"></axis>
                            <area fn="functions.b.updateParams({px:params.px, py:params.py, income:params.income})"
                                  color="purple"></area>
                            <line fn="functions.b"></line>
                            <curve fn="functions.u.updateParams({a: params.a, b:params.b}).optimalIndifferenceCurve(params.income, params.px, params.py)"
                                   color="green"></curve>
                            <area fn="functions.u.preferred" color="lightgreen"></area>
                            <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                   droplines="both" xlabel="x^*" ylabel="y^*"></point>
                            <curve fn="functions.u.setLevel([1,1])" color="#AAAAAA" show="showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([2,2])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([3,3])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([4,4])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([5,5])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([6,6])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([7,7])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([8,8])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([9,9])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([10,10])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([11,11])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([12,12])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([13,13])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([14,14])" color="#AAAAAA"
                                   show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.priceConsumptionCurve({good:'x', income: params.income, otherPrice: params.py},10) "
                                   color="red" label="PCC"></curve>

                        </graph>


                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Budget Parameters</h6>
                            <hr/>
                            <p rendered-math expression="P_{x}: \${{ params.px | number:2 }}"></p>
                            <slider value="params.px" min="1" max="6" precision="0.25"></slider>
                            <p rendered-math expression="P_{y}: \${{ params.py | number:2 }}"></p>
                            <slider value="params.py" min="1" max="6" precision="0.25"></slider>
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="5" max="30" precision="1"></slider>
                        </div>
                        <hr/>
                        <div class="well">
                            <h6>Utility Parameters</h6>
                            <hr/>
                            <p rendered-math expression="a: {{ params.a | number:1}}"></p>
                            <slider value="params.a" min="0.1" max="5" precision="0.1"></slider>
                            <p rendered-math expression="b: {{ params.b | number:1}}"></p>
                            <slider value="params.b" min="0.1" max="5" precision="0.1"></slider>
                        </div>
                        <toggle param="params.showIndifferenceMap" init="false">{{ params.showIndifferenceMap ? "Hide" :
                            "Show" }} Indifference Map
                        </toggle>
                    </div>
                </div>
            </model>
            {% endraw %}
        </section>


    </section>
    <section>


    </section>



    <section>
        <h1>Summary</h1>
        <hr/>
        <p class="fragment">Object: find the point in the budget set<br/>such that no other point is both preferred and affordable.</p>
        <p class="fragment">Approach: compare the consumer's willingness to trade off between X and Y (the MRS) with the market's willingness to trade off between them (the price ratio)</p>
        <p class="fragment">We solved for the optimal consumption choice with calculus (the Lagrangian method)</p>
        <p class="fragment">An <b>interior solution</b> under ideal ("regular") conditions is characterized by the tangency condition
            <span rendered-math>MRS_{x,y} = \frac{P_x}{P_y}</span> and the budget constraint <span rendered-math>P_xx + P_yy = I</span>.</p>
        <p class="fragment">In the special case of Cobb-Douglas preferences, consumers will spend a constant fraction of their income on each good, regardless of the price; and that fraction is determined by the exponents on the function.</p>
    </section>

    <section>
        <h1>Next time:</h1>
        <hr/>
        <h2>When Calculus Doesn't Work</h2>
        <p>Perfect Complements</p>
        <p>Perfect Substitutes</p>
        <p>Quasilinear Utility Functions</p>
        <p>Kinked Budget Constraints</p>
        <hr/>
        <h2>Comparative Statics and Demand</h2>
        <p>What happens when you change prices and income?</p>
    </section>




{% endblock %}