{% extends 'slides/slide-template.html' %}

{% block slides %}

    <section>
        <h2>Econ 50</h2>
        <br/>
        <hr/>
        <br/>

        <h2>Lecture 5</h2>

        <h1>Optimal Consumption Choice</h1>
        <br/>
        <hr/>
        <br/>

        <h3>January 21, 2014</h3>
        <hr>
        <br/>

        <p style="color:grey">Controls: N for next slide | P for previous slide | ESC for map | refresh if glitchy</p>

    </section>
    <section>
        <h1>Today's Agenda</h1>
        <hr/>
        <h2 class="fragment">Logistics and Context</h2>
        <h2 class="fragment">Motivation: Gifts, Gift Cards, and Cash</h2>
        <h2 class="fragment">Defining the Budget Set</h2>
        <h2 class="fragment">Analyzing the Optimal Consumption Choice for a Budget Set</h2>
        <hr/>
        <h2 class="fragment">10 minute break</h2>
        <hr/>
        <h2 class="fragment">Optimal Consumption when Calculus Works: Lagrangians!</h2>
        <h2 class="fragment">Optimal Consumption when Calculus Doesn't Work</h2>
    </section>
    <section>
        <section>
            <h1>Logistics and Context</h1>
        </section>
        <section>
            <h2>Context: Consumer Theory</h2>
            <p></p>
            <table class="table">
                <tr class="fragment">
                    <td>Week 2</td>
                    <td><b>Consumer Choice Framework</b>: Preferences,<br/>Indifference Curves, and Utility Functions</td>
                    <td>Chapter 3</td>
                </tr>
                <tr class="fragment" style="background-color:lightgreen">
                    <td>Week 3</td>
                    <td><b>Optimal Choice:</b> Budget Constraints;<br/><span rendered-math>(x^*, y^*)</span> as a function of
                        <span rendered-math>(p_x, p_y, I)</span>.</td>
                    <td>4.1-4.3</td>
                </tr>
                <tr class="fragment">
                    <td>Week 4</td>
                    <td><b>Comparative Statics:</b> Deriving the Demand Curve; <br/>Income and Subsitution Effects; <br/>Consumer
                        Surplus; Market Demand</td>
                    <td>5.1-5.4</td>
                </tr>
                <tr class="fragment">
                    <td>Week 5</td>
                    <td><b>Applications:</b> Labor/Leisure, Price Indices, <br/>Intertemporal Choice, Revealed Preference</td>
                    <td>5.5-5.6,<br/>Ch. 4 Appendix 2, 4.4</td>
                </tr>
                <tr class="fragment">
                    <td>Week 6</td>
                    <td>Midterm! ...and on to producer theory</td>
                    <td/>
                </tr>
            </table>
        </section>
    </section>
    <section>
        <section>
            <h1>Motivation</h1>
            <hr/>
            <h2>Gifts, Gift Cards, and Cash</h2>
        </section>
        <section>
            <clicker-question>
                <h2>Which would you rather receive from your ideal significant other for Valentine's Day?</h2>
                <clicker-option letter="A">An assortment of Ghiradelli Chocolates worth $50</clicker-option>
                <clicker-option letter="B">A $50 gift card for Ghiradelli Chocolates</clicker-option>
                <clicker-option letter="C">$50 in cash</clicker-option>
            </clicker-question>
            <clicker-file></clicker-file>
        </section>
        <section>
            <clicker-question>
                <h2>Which would you rather receive from your great-aunt on your birthday?</h2>
                <clicker-option letter="A">A CD worth $15</clicker-option>
                <clicker-option letter="B">A $15 iTunes gift card</clicker-option>
                <clicker-option letter="C">$15 in cash</clicker-option>
            </clicker-question>
            <clicker-file></clicker-file>
        </section>
        <section>
            <h2>Waldfogel (AER 1993): <a href="http://www.jstor.org.ezproxy.stanford.edu/stable/2117564">The Deadweight Loss of Christmas</a></h2>
            <hr/>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/econ50/lecture5/waldfogel.png') }}">
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/econ50/lecture5/waldfogel2.png') }}">
                </div>
            </div>
        </section>
    </section>
    <section>
        <section>
        <h1>Defining the <b>Budget Set</b></h1>
            <hr/>
            <h2 class="fragment">A <b>budget set</b> is the set of all bundles available to a consumer,<br/>given all relevant constraints</h2>
            <hr/>
            <h2 class="fragment">The simple case: <span rendered-math>p_xx + p_yy \le I</span></h2>

        </section>
        <section>
            <h2>The Simple Budget Set</h2>
            <hr/>
            <p>Analyzes tradeoff between two goods, <span rendered-math>X</span> and <span rendered-math>Y</span>,
                <br/>for a consumer with income <span rendered-math>I</span> budgeted for <span rendered-math>X</span>
                and <span rendered-math>Y</span>.</p>
            <table class="table fragment">
                <tr>
                    <td rendered-math>p_x</td>
                    <td>Price of good <span rendered-math>X</span></td>
                    <td rendered-math>p_y</td>
                    <td>Price of good <span rendered-math>Y</span></td>
                </tr>
                <tr>
                    <td rendered-math>x</td>
                    <td>Quantity of good <span rendered-math>X</span> bought</td>
                    <td rendered-math>y</td>
                    <td>Quantity of good <span rendered-math>Y</span> bought</td>
                </tr>
                <tr class="fragment">
                    <td rendered-math>p_xx</td>
                    <td>Expenditure on <span rendered-math>X</span></td>
                    <td rendered-math>p_yy</td>
                    <td>Expenditure on <span rendered-math>Y</span></td>
                </tr>
            </table>
            <hr/>
            <p class="fragment">Therefore, <span rendered-math>px_x + py_y \le I</span> means
                <br/>"total expenditure on <span rendered-math>X</span>, plus total expenditure on <span
                        rendered-math>Y</span>,
                <br/>must not exceed the income budgeted to <span rendered-math>X</span> and <span
                        rendered-math>Y</span>."</p>
        </section>
        <section>
            <h2>The Simple Budget Set: Visual Analysis</h2>
            <div class="row">
                {% raw %}
                <model>
                    <param name="px" value="1"/>
                    <function name="b" category="budget" form="SimpleBudgetConstraint" fn-params="{px:1, py:1, income:10}"></function>

                <div class="col-md-8">
                    <graph height="500" width="500">
                        <axis dim="x" min="0" max="15" title="Good X" ticks="0"></axis>
                        <axis dim="y" min="0" max="15" title="Good Y" ticks="0"></axis>
                        <point color="purple" point="[10/params.px,0]" xlabel="\frac{I}{P_x}"></point>
                        <point color="darkorange" point="[0,10]" ylabel="\frac{I}{P_y}"></point>
                        <line fn="functions.b.updateParams({px:params.px, py:1, income:10})"></line>
                    </graph>
                </div>
                <div class="col-md-4">
                    <p>Constraint: <span rendered-math>P_xx + P_yy \le I</span></p>
                    <slider min="0.25" max="2" precision="0.25" value="params.px"></slider>
                    <div class="fragment">
                        <p>Suppose <span rendered-math>y = 0</span>; then<br/>
                        spend all money on <span rendered-math>X</span></p>
                        <p rendered-math class="fragment">\Rightarrow P_xx + p_y \times 0 = I</p>
                        <div class="fragment"><span rendered-math style="color:purple">\displaystyle{\Rightarrow x = \frac{I}{p_x}}</span></div>
                    </div>
                    <div class="fragment">
                        <p>Suppose <span rendered-math>x = 0</span>; then<br/>
                            spend all money on <span rendered-math>Y</span></p>

                        <p rendered-math class="fragment">\Rightarrow p_x \times 0 + p_yy = I</p>

                        <div class="fragment"><span rendered-math style="color:darkorange">\displaystyle{\Rightarrow y = \frac{I}{p_y}}</span>
                        </div>
                    </div>
                    <div class="fragment">
                        <p>Slope of "budget line" connecting these two points:</p>
                        <p rendered-math>\displaystyle{\text{slope} = -\frac{I}{p_y}}</p>
                    </div>
                </div>
                </model>
                {% endraw %}
            </div>
        </section>
    </section>
    <section>
        <section>
            <h1>Analyzing the</h1>
            <h1>Optimal Consumption Choice</h1>
            <h2>for a Budget Set</h2>
        </section>
    </section>
    <section>
        <h1>10 Minute Break</h1>
    </section>
    <section>
        <section>
            <h1>Optimal Consumption when Calculus Works</h1>
            <hr/>
            <h1>Lagrangians!</h1>
        </section>
        <section>

            <div class="row">
                <div class="col-md-5" style="text-align: left">
                    If these three conditions hold:
                </div>
                <div class="col-md-7 well">
                    <table class="table">
                        <tr>
                            <td>(a)</td>
                            <td class="fragment">The consumer's preferences over <span rendered-math>X</span> and <span
                                    rendered-math>Y</span> are <br/><b>continuously differentiable</b>, <b>strictly
                                monotonic</b> and <b>strictly convex</b></td>
                        </tr>
                        <tr>
                            <td>(b)</td>
                            <td class="fragment">The indifference curves <b>do not cross the axes</b></td>
                        </tr>
                        <tr>
                            <td>(c)</td>
                            <td class="fragment">The budget constraint is a <b>simple straight line</b></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-5" style="text-align: left">
                    Then the solution to the utility-maximization problem:
                </div>
                <div class="col-md-7 well">
                    <table class="table">
                        <tr>
                            <td>1.</td>
                            <td class="fragment">Will involve strictly positive quantities <span rendered-math>X</span>
                                and <span
                                        rendered-math>Y</span>
                                <br/>(an <b>interior solution</b>, not a <b>corner solution</b>)</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td class="fragment">Can be found using the <b>Lagrangian method</b></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td class="fragment">Is described by the equations</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="fragment"><span rendered-math>\displaystyle{\frac{MU_x}{MU_y} = \frac{P_x}{P_y} }</span>
                                &nbsp; &nbsp; &nbsp; and &nbsp; &nbsp; &nbsp; <span rendered-math>P_xx + P_yy = I</span></td>
                        </tr>

                    </table>
                </div>
            </div>

        </section>
        <section>
            <h2>The Simple Utility Maximization Problem: General Case</h2>
            <hr/>
            <p>You have a budget of <span rendered-math>I</span> and can buy units of <span rendered-math>X</span> and
                <span rendered-math>Y</span> at prices <span rendered-math>P_x</span> and <span rendered-math>P_y</span>, respectively.</p>

            <p>Your objective is to maximize your utility function is <span rendered-math>u(x,y)</span> given this constraint.</p>

            <p>Assuming "more is better," you will spend your entire income on <span rendered-math>X</span> and
                <span rendered-math>Y</span>.</p>
            <hr/>
            <div class="fragment">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>In words...</h3>
                    </div>
                    <div class="col-lg-6">
                        <h3>Formally...</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Find the maximum of the objective function<br/><span rendered-math>u(x,y)</span></p>
                    </div>
                    <div class="col-lg-6">
                        <table style="width:100%">
                            <tr class="fragment">
                                <td rendered-math width="30%"
                                    style="text-align: right">\displaystyle{\max_{(x,y)}}</td>
                                <td rendered-math>u(x,y)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>subject to the constraint<br/><span rendered-math>P_xx + P_yy = I</span>.</p>
                    </div>
                    <div class="col-lg-6">
                        <table style="width:100%">
                            <tr class="fragment">
                                <td rendered-math expression="\text{s. t.}" width="30%" style="text-align: right"></td>
                                <td rendered-math expression="I - P_xx - P_yy = 0"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Using the Lagrangian Method: General Case</h2>
            <hr/>
            <table style="width:100%">
                <tr class="fragment">
                    <td rendered-math expression="\Lagr (x,y,P_x, P_y, I ,\lambda)" width="30%" style="text-align: right"></td>
                    <td rendered-math expression="= u(x,y) + \lambda(I - P_xx - P_yy)"></td>
                </tr>
            </table>
            <hr/>
            <p class="fragment">First order conditions (FOC)'s:</p>
            <hr/>
            <table style="width:100%">
                <tr class="fragment" style="height:100px">
                    <td rendered-math expression="\displaystyle{\frac{\partial \Lagr(x,y,P_x, P_y, I ,\lambda)}{\partial x}}" width="30%"
                        style="text-align: right"></td>
                    <td rendered-math expression="\displaystyle{= \frac{\partial u(x,y)}{\partial x} - \lambda P_x}"></td>
                    <td class="fragment" rendered-math expression="\displaystyle{\text{set}  = 0\Rightarrow \lambda = \frac{MU_x}{P_x}}"></td>
                </tr>
                <tr class="fragment" style="height:100px">
                    <td rendered-math
                        expression="\displaystyle{\frac{\partial \Lagr(x,y,P_x, P_y, I ,\lambda)}{\partial y}}"
                        width="30%"
                        style="text-align: right"></td>
                    <td class="fragment" rendered-math
                        expression="\displaystyle{= \frac{\partial u(x,y)}{\partial y} - \lambda P_y}"></td>
                    <td class="fragment" rendered-math
                        expression="\displaystyle{\text{set}  = 0\Rightarrow  \lambda = \frac{MU_y}{P_y}}"></td>
                </tr>
                <tr class="fragment" style="height:100px">
                    <td rendered-math
                        expression="\displaystyle{\frac{\partial \Lagr(x,y,P_x, P_y, I ,\lambda)}{\partial \lambda}}"
                        width="30%"
                        style="text-align: right"></td>
                    <td class="fragment" rendered-math expression="= I - P_xx - P_yy"></td>
                    <td class="fragment" rendered-math expression="\text{set} = 0\Rightarrow P_xx + P_yy = I"></td>
                </tr>
            </table>
            <hr/>
            <p class="fragment">The first two FOC's imply the familiar condition: <span rendered-math>\displaystyle{\frac{MU_x}{MU_y} = \frac{P_x}{P_y} }</span>.</p>
            <hr/>
            <p class="fragment">What is the interpretation of <span rendered-math>\lambda</span>...?</p>
        </section>
        <section>
            <clicker-question>
                <h2>We just found that in solving the Lagrangian,</h2>
                <h2 rendered-math>\displaystyle{\lambda = \frac{MU_x}{P_x} = \frac{MU_y}{P_y}}</h2>
                <h2>How should we interpret <span rendered-math>\lambda</span> intuitively?</h2>
                <clicker-option letter="A">The change in optimal quantity of X or Y resulting from<br/>a $1 rise in price of that good.</clicker-option>
                <clicker-option letter="B">The change in optimal quantity of X or Y resulting from<br/>a $1 rise in income.</clicker-option>
                <clicker-option letter="C">The change in utility resulting from<br/>a $1 rise in the price of either X
                    or Y.
                </clicker-option>
                <clicker-option letter="D">The change in utility resulting from<br/>a $1 rise in income.</clicker-option>
            </clicker-question>

        </section>
        <section>
            <h2>Simplest Cobb-Douglas: <span rendered-math>I = 12, P_x = 3, P_y = 2, u(x,y) = xy</span> </h2>
            <hr/>
            <div class="row">
                <div class="col-md-3" style="text-align: left">
                    Objective Function:
                </div>
                <div class="col-md-9">
                    <table style="width:100%">
                        <tr class="fragment">
                            <td rendered-math expression="\Lagr" width="30%"
                                style="text-align: right"></td>
                            <td rendered-math expression="= xy + \lambda(12 - 3x - 2y)"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3" style="text-align: left">
                    First Order Conditions:
                </div>
                <div class="col-md-9">
                    <table style="width:100%">
                        <tr class="fragment" style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\frac{\partial \Lagr}{\partial x}}"
                                width="30%"
                                style="text-align: right"></td>
                            <td rendered-math
                                expression="\displaystyle{= y - 3\lambda}"></td>
                            <td class="fragment" rendered-math
                                expression="\displaystyle{\text{set}  = 0\Rightarrow \lambda = \frac{y}{3}}"></td>
                        </tr>
                        <tr class="fragment" style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\frac{\partial \Lagr}{\partial y}}"
                                width="30%"
                                style="text-align: right"></td>
                            <td class="fragment" rendered-math
                                expression="\displaystyle{= x - 2\lambda}"></td>
                            <td class="fragment" rendered-math
                                expression="\displaystyle{\text{set}  = 0\Rightarrow  \lambda = \frac{x}{2}}"></td>
                        </tr>
                        <tr class="fragment" style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\frac{\partial \Lagr}{\partial \lambda}}"
                                width="30%"
                                style="text-align: right"></td>
                            <td class="fragment" rendered-math expression="= 12 - 3x - 2y"></td>
                            <td class="fragment" rendered-math
                                expression="\text{set} = 0\Rightarrow 3x + 2y = 12"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3" style="text-align: left">
                    Solve:
                </div>
                <div class="col-md-9">
                    <div class="row" style="height:100px">
                        <div class="col-md-6 fragment" style="text-align: left">
                            Set <span rendered-math>\lambda</span> in the first two FOC's<br/>equal to each other:
                        </div>
                        <div class="col-md-6 fragment" rendered-math>\displaystyle{\frac{y}{3} = \frac{x}{2} \Rightarrow \color{red}{y = \frac{3}{2}x}}</div>
                    </div>
                    <div class="row" style="height:100px">
                        <div class="col-md-6 fragment" style="text-align: left">
                            Substitute <span rendered-math>\color{red}{y = \frac{3}{2}x}</span><br/>into the third FOC:
                        </div>
                        <div class="col-md-6 fragment" rendered-math>\displaystyle{3x + 2\color{red}{\left(\frac{3}{2}x\right)} = 12 \Rightarrow \color{green}{x^* =2}}

                        </div>
                    </div>
                    <div class="row" style="height:100px">
                        <div class="col-md-6 fragment" style="text-align: left; vertical-align: middle">
                            Substitute <span rendered-math>\color{green}{x^* = 2}</span> into <span
                                rendered-math>\color{red}{y = \frac{3}{2}x}</span>:
                        </div>
                        <div class="col-md-6 fragment" rendered-math>\displaystyle{y^* = \frac{3}{2}\color{green}{\left(2\right)} = 3}</div>
                    </div>
                </div>
            </div>



        </section>
    </section>
    <section>
        <section>
            <h1>Optimal Consumption</h1>
            <h1>when Calculus Doesn't Work</h1>
            <hr/>
            <h2>Corner Solutions</h2>
            <h2>Funky Budget Sets</h2>
            <h2>Funky Preferences</h2>
        </section>
    </section>



    <section>
        <h1>Summary</h1>
        <hr/>
        <h2 class="fragment">Utility functions represent preferences by assigning a numerical value ("utility") to each
            bundle.</h2>

        <h2 class="fragment">Any utility functions that give us the same indifference curves, will give us the same
            MRS.</h2>

        <h2 class="fragment">The MRS is equal to the ratio of the marginal utilities.</h2>
        <h2 class="fragment">Three utility functions we will be coming back to over and over again are Cobb-Douglas, perfect complements, and perfect substitutes.</h2>

        <h2 class="fragment">In fact, these are three special cases of <i>constant elasticity of substitution</i> functions.</h2>
    </section>




{% endblock %}