{% extends 'slides/slide-template.html' %}

{% block slides %}

    <section>
        <h2>Econ 50</h2>
        <br/>
        <hr/>
        <br/>

        <h2>Lecture 17</h2>

        <h1>Wrapping Up</h1>
        <br/>
        <hr/>
        <br/>

        <h3>March 2, 2015</h3>
        <hr>
        <br/>

        <p style="color:grey">Controls: N for next slide | P for previous slide | ESC for map | refresh if glitchy</p>

    </section>
    <section>
        <h1>Today's Agenda</h1>
        <hr/>
        <h2 class="fragment">Monopoly: Worked Example</h2>
        <hr/>
        <h2>Ten Minute Break</h2>
        <hr/>
        <h2 class="fragment">Additional Topics in Consumer Theory</h2>
        <h2 class="fragment">Additional Topics in Producer Theory</h2>
        <h2 class="fragment">Additional Topics in Market Structures</h2>
        <h2 class="fragment">Final thoughts</h2>

    </section>
    <section>
        <section>
            <h1>Monopoly: Worked Example</h1>
            <hr/>
            <h2>Cost function: <span rendered-math>TC(w,r,Q) = F_0 + 100w^\frac{1}{2}r^frac{1}{2}Q</span></h2>

            <h2>Demand: <span rendered-math>Q^D(P) = 400 - \frac{1}{2}P</span></h2>
            <hr/>
            <ol>
                <li>Derive the monopoly's optimal price and quantity.</li>
                <li>Find he monopoly's maximized profits.</li>
                <li>Find the firm's conditional demands for labor and capital</li>
                <li>Derive the firm's profit function</li>
                <li>Find the firm's profit-maximizing demands for labor and capital.</li>
                <li>Find the price ceiling for average cost pricing</li>
                <li>Does Hotelling's Lemma hold for this monopoly firm?</li>
            </ol>
        </section>
        <section>

        </section>
    </section>
    <section>
        <h1>Ten Minute Break</h1>
    </section>
    <section>
        <section>
            <h1>Additional topics in consumer theory</h1>
            <hr/>
            <h2>Revealed Preference (4.4)</h2>
            <h2>Time Value of Money (Ch. 4, Appx. 2)</h2>
        </section>
        <section>
            <h1>Revealed Preference (4.4)</h1>
            <hr/>
            <h2 class="fragment">We don't observe utility functions directly.</h2>
            <h2 class="fragment">we observe <b>choices</b>.</h2>
            <hr/>
            <h2 class="fragment">If bundles A and B are both affordable,</h2>
            <h2 class="fragment">and a consumer chooses A,</h2>
            <h2 class="fragment">we say that A is <b>revealed preferred</b> to B.</h2>
        </section>
        <section>

            {% raw %}
            <model>

                <!-- Model parameters -->
                <param name="px1" value="1"/>
                <param name="py1" value="2"/>
                <param name="income1" value="60"/>
                <param name="px2" value="2"/>
                <param name="py2" value="1"/>
                <param name="income2" value="60"/>



                <!-- Model functions -->
                <function name="b1" category="budget" form="SimpleBudgetConstraint" fn-params="{px:params.px1, py:params.py1, income:params.income1}"></function>
                <function name="b2" category="budget" form="SimpleBudgetConstraint"
                          fn-params="{px:params.px2, py:params.py2, income:params.income2}"></function>

                <h2>Revealed Preference</h2>
                <hr/>

                <div class="row">

                    <div class="col-md-8">
                        <graph height="700" width="700">
                            <axis dim="x" min="0" max="65" title="Good X" ticks="0"></axis>
                            <axis dim="y" min="0" max="65" title="Good Y" ticks="0"></axis>
                            <area fn="functions.b1" color="green"/>
                            <area fn="functions.b2" color="red"/>
                            <line fn="functions.b1" label="BL_1" label-offset-y="-10" color="green"></line>
                            <line fn="functions.b2" label="BL_2" label-offset-y="-10" color="red"></line>

                            <point point="[40,10]" label="A" color="green"></point>
                            <point point="[20,20]" label="B" color="red"></point>
                            <point point="[10,40]" label="C" color="blue"></point>
                        </graph>


                    </div>
                    <div class="col-md-4">
                        <h3>Given green budget set, chooses <span rendered-math>\color{green}{A}</span></h3>

                        <h3>Given red budget set, chooses <span rendered-math>\color{red}{B}</span></h3>

                        <hr/>

                        <h3>What does this tell us about preferences over <span rendered-math>\color{green}{A}</span> and
                            <span rendered-math>\color{blue}{C}</span>?</h3>
                        <h3>A. <span rendered-math>\color{green}{A} \succeq \color{blue}{C}</span> </h3>
                        <h3>B. <span rendered-math>\color{green}{A} \preceq \color{blue}{C}</span></h3>
                        <h3>C. <span rendered-math>\color{green}{A} \sim \color{blue}{C}</span></h3>
                        <h3>D. We can't tell...</h3>
                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            <h1>Time Value of Money (Ch. 4, Appendix 2)</h1>
            <hr/>
            <h2>We derived budget lines for two periods.</h2>
            <h2>You can do it for more -- or even infinite periods</h2>
        </section>
        <section>
            <h2>Two-Period Present Value Budget Constraint</h2>
            <hr/>
            <h2 rendered-math>\displaystyle{c_1 + \frac{c_2}{1+r} = I_1 + \frac{I_2}{1+r}}</h2>
            <hr/>
            <h2 class="fragment">T-Period Present Value Budget Constraint</h2>
            <hr/>
            <h2 rendered-math class="fragment">\displaystyle{\sum_{t=1}^T\frac{c_t}{(1+r)^{t-1}} =
                \sum_{t=1}^T\frac{I_t}{(1+r)^{t-1}}}</h2>
            <hr/>
            <h2 class="fragment">Think about maximizing <span rendered-math>u(c_1, c_2,..., c_T)</span><br/>subject to this constraint...</h2>
        </section>
    </section>
    <section>
        <section>
            <h1>Additional topics in producer theory</h1>
            <hr/>
            <h2>Average Product (6.2)</h2>
            <h2>Economies of Scope/Experience (8.3)</h2>
        </section>
        <section>
            <h1>Average Product (6.2)</h1>
            <hr/>
            <h2 class="fragment">Suppose we have a production function that only uses labor.</h2>
            <h1 rendered-math class="fragment">AP_L = \frac{f(L)}{L}</h1>
            <h2 class="fragment">This is used to analyze <b>productivity</b>.</h2>
        </section>
        <section>
            <img src="{{ url_for('static',filename='images/econ50/lecture17/besanko_5e_fig_06_04.jpg') }}" height="700px"/>
        </section>
        <section>
            <h1>Scale, Scope, Experience (8.3)</h1>
            <hr/>
            <table class="table">
                <tr class="fragment">
                    <td><b>Economies of Scale</b></td>
                    <td>Cost savings when firms produce large quantities</td>
                </tr>
                <tr class="fragment">
                    <td><b>Economies of Scope</b></td>
                    <td>Cost savings when firms produce more than one product</td>
                </tr>
                <tr class="fragment">
                    <td><b>Economies of Experience</b></td>
                    <td>Cost savings when firms' technology improves over time</td>
                </tr>
            </table>
            <hr/>
            <h2 class="fragment"><a href="http://store.apple.com/us" target="_blank">A relevant recent example...</a></h2>
        </section>
    </section>
    <section>
        <section>
            <h1>Additional topics in market structures</h1>
            <hr/>
            <h2>Economic Rent (9.5)</h2>
            <h2>Tariffs and Quotas (10.5)</h2>
            <h2>Multi-Plant Monopolies (11.4)</h2>
            <h2>Cartels (11.4)</h2>
        </section>
        <section>
            <h1>Economic Rent (9.5)</h1>
            <hr/>
            <h2 class="fragment">The portion of income<br/>paid to a factor of production<br/>in excess of that which is needed<br/>to keep it in its current use.</h2>
            <hr/>
            <h2 class="fragment">Arises from (often artificial) scarcity (e.g., price controls).</h2>
            <hr/>
            <h2 class="fragment"><b>Rent-seeking behavior</b>: trying to make things more scarce (e.g., guilds, political corruption).</h2>
            <p>Interesting podcast: <a href="http://www.econtalk.org/archives/2008/05/nye_on_wine_war.html">Why the British Drink Beer</a></p>
        </section>
        <section>
            <h1>Import Tariffs and Quotas (10.5)</h1>
            <hr/>
            <h2 class="fragment">Two types of firms: foreign and domestic</h2>
            <h2 class="fragment">Tariff: tax on imported quantity</h2>
            <h2 class="fragment">Quota: restriction on imported quantity</h2>
        </section>
        <section>
            <h1>Multi-Plant Monopolies (11.4)</h1>
            <hr/>
            <h2 class="fragment">Production function split among different plants,<br/>with different cost structures</h2>
            <h2 class="fragment">Basically: equalize marginal cost of last unit produced at each plant.</h2>
        </section>
        <section>
            <h1>Cartels (11.4)</h1>
            <hr/>
            <h2 class="fragment">A group of firms getting together to act like a monopolist</h2>
            <h2 class="fragment">Restricting output helps them all, but each faces an incentive to produce more</h2>
        </section>
        <section>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ url_for('static',filename='images/econ50/lecture17/besanko_5e_fig_11_14.jpg') }}"/>
                    <h2>Multi-Plant Monopoly</h2>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static',filename='images/econ50/lecture17/besanko_5e_fig_11_15.jpg') }}"/>
                    <h2>Cartel</h2>
                </div>
            </div>
        </section>
    </section>
    <section>
        <h1>Final Thoughts</h1>
    </section>

{% endblock %}