{% extends 'slides/slide-template.html' %}

{% block slides %}

    <section>
        <h2>Econ 50</h2>
        <br/>
        <hr/>
        <br/>

        <h2>Lecture 2</h2>

        <h1>Elasticity and Comparative Statics</h1>
        <br/>
        <hr/>
        <br/>

        <h3>January 7, 2014</h3>
        <hr>
        <br/>

        <p style="color:grey">Controls: N for next slide | P for previous slide | ESC for map | refresh if glitchy</p>

    </section>
    <section>
        <h1>Today's Agenda</h1>
        <hr/>
        <h2 class="fragment">Logistics and Context</h2>

        <h2 class="fragment">Motivation: Elasticity in Tech Industry News</h2>

        <h2 class="fragment">Comparative Statics and Elasticity</h2>

        <h2 class="fragment">Price Elasticity of Demand</h2>
        <hr/>
        <h2 class="fragment">10 minute break</h2>
        <hr/>
        <h2 class="fragment">Other Demand Elasticities</h2>

        <h2 class="fragment">Supply Elasticity</h2>

        <h2 class="fragment">Elasticity in the Long and Short Run</h2>
    </section>
    <section>
    <section>
        <h1>Logistics and Context</h1>
        <hr/>
        <h3>(and a quick review of what you missed last time if you're just joining us)</h3>
    </section>
    <section id="two-week-view">
        <div class="row" style="height:20%">
            <div class="col-lg-1"></div>
            <div class="col-lg-2"><p class="calendar-date">M</p>
                <hr/>
            </div>
            <div class="col-lg-2"><p class="calendar-date">T</p>
                <hr/>
            </div>
            <div class="col-lg-2"><p class="calendar-date">W</p>
                <hr/>
            </div>
            <div class="col-lg-2"><p class="calendar-date">T</p>
                <hr/>
            </div>
            <div class="col-lg-2"><p class="calendar-date">F</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <div class="lecture-date">
                    <p class="calendar-date">JAN 5</p>

                    <p>Lecture 1: Constrained Optimization</p>

                    <p><em>B&B Ch. 1</em></p>

                    <p><em>Read syllabus</em></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="empty-date">
                    <p class="calendar-date">JAN 6</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="today-date">
                    <p class="calendar-date">JAN 7</p>

                    <p>Lecture 2: Elasticity and Comp. Statics</p>

                    <p><em>B&B Ch. 2</em></p>

                    <p><em>Bring i>clickers</em></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="empty-date">
                    <p class="calendar-date">JAN 8</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="lecture-date">
                    <p class="calendar-date">JAN 9</p>

                    <p class="fragment highlight-red"><i>Homework 1 Posted</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <div class="lecture-date">
                    <p class="calendar-date">JAN 12</p>

                    <p>Lecture 3: Preferences, Ind. Curves</p>

                    <p><em>B&B Ch. 3</em></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="empty-date">
                    <p class="calendar-date">JAN 13</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="lecture-date">
                    <p class="calendar-date">JAN 14</p>

                    <p>Lecture 4: Utility Functions</p>

                    <p><em>B&B Ch. 3</em></p>

                    <p class="fragment highlight-red"><em>Last day to sign up for sections in Axess</em></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="empty-date">
                    <p class="calendar-date">JAN 15</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="section-date">
                    <p class="calendar-date">JAN 16</p>

                    <p>Sections</p>

                    <p class="fragment highlight-red"><em>Homework 1 Due</em></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2>Recap: Class policies</h2>
        <hr/>
        <ul>
            <li class="fragment">Textbook: Besanko and Braeutigam, <i>Microeconomics</i>, 5e.</li>
            <li class="fragment"><a href="https://classes.stanford.edu/courses/184/" target="_blank">https://classes.stanford.edu/courses/184/</a>
            </li>
            <li class="fragment"> Includes links to:
                <ul>
                    <li class="fragment">Lecture notes: <a href="http://econgraphs.org/slides/makler/econ50/"
                                                           target="_blank">http://econgraphs.org/slides/makler/econ50/</a>
                    </li>
                    <li class="fragment">Piazza (for discussion): <a
                            href="https://piazza.com/stanford/winter2015/econ50/home"
                            target="_blank">https://piazza.com/stanford/winter2015/econ50/home</a>
                    </li>
                    <li class="fragment"><b>Please do not e-mail me or the TA's directly - post questions on Piazza
                        instead.</b></li>
                </ul>
            </li>
            <li class="fragment">No electronics (including laptops) in class</li>
            <li class="fragment">Bring i>clickers to class (count as class participation)</li>
            <li class="fragment"><b>Sign up for section on Axess</b>, not Coursework. <b>This involves dropping the
                course and adding it back with a section.</b></li>
            <li class="fragment">Sections, homework, and office hours begin <i>next</i> week</li>
            <li class="fragment">I reward questions with candy...<br/><span class="fragment">but have inconsistent aim...</span><br/><span
                    class="fragment">and this is a very long lecture hall.</span></li>
        </ul>
    </section>
    <section>
        <h1>Rough Overview (Subject to Change)</h1>

        <p></p>
        <table class="table">
            <tr class="fragment">
                <td>Week 1</td>
                <td>Constrained Optimization, Comparative Statics, Elasticity</td>
                <td>Chapters 1 & 2</td>
            </tr>
            <tr class="fragment">
                <td>Weeks 2-5</td>
                <td>Consumer Theory</td>
                <td>Chapters 3-5</td>
            </tr>
            <tr class="fragment">
                <td></td>
                <td>~ Midterm: February 9 ~</td>
                <td></td>
            </tr>
            <tr class="fragment">
                <td>Weeks 6-7</td>
                <td>Producer Theory I: Cost Minimization</td>
                <td>Chapters 6-8</td>
            </tr>
            <tr class="fragment">
                <td>Weeks 8-10</td>
                <td>Producer Theory II: Profit Maximization</td>
                <td>Chapters 9-11</td>
            </tr>
            <tr class="fragment">
                <td></td>
                <td>~ Final: March 18 ~</td>
                <td></td>
            </tr>

        </table>
    </section>
    <section>
        <h2>Comparison between Econ 1 and Econ 50</h2>
        <table class="table" style="width:100%" align="center">
            <tr>
                <td></td>
                <td>Econ 1</td>
                <td>Econ 50</td>
            </tr>
            <tr>
                <td>Marginal analysis</td>
                <td class="fragment">Discrete (one additional unit)</td>
                <td class="fragment">Derivatives</td>
            </tr>
            <tr>
                <td>Optimization</td>
                <td class="fragment">Rules of thumb (e.g., P = MC)</td>
                <td class="fragment">Set derivative(s) to zero</td>
            </tr>
            <tr>
                <td>Exogenous variables</td>
                <td class="fragment"><i>Ceteris paribus</i> assumption</td>
                <td class="fragment">Multivariate functions</td>
            </tr>
            <tr>
                <td>Endogenous ("choice") variables</td>
                <td class="fragment">One at a time, using marginal analysis</td>
                <td class="fragment">Many, using partial derivatives</td>
            </tr>
        </table>
    </section>
    <section>
        <h2>Econ 50 and the "Core" (50-51-52)</h2>
        <hr/>
        <div class="row">
            <div class="col-lg-4">
                <h3>Individuals,<br/>Firms</h3>
            </div>
            <div class="col-lg-4">
                <h3>Markets,<br/>Regulators</h3>
            </div>
            <div class="col-lg-4">
                <h3>Economies,<br/>Governments</h3>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-4">
                <h3 class="fragment">Choice Theory/<br/>Optimization</h3>
                <ul>
                    <li class="fragment">Utility Maximization</li>
                    <li class="fragment">Profit Maximization</li>
                    <li class="fragment">Intertemporal Choice</li>
                    <li class="fragment">Labor Supply</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3 class="fragment">Interaction/<br/>Equilibrium</h3>
                <ul>
                    <li class="fragment">Partial Equilibrium</li>
                    <li class="fragment">General Equilibrium</li>
                    <li class="fragment">Strategic Interactions</li>
                    <li class="fragment">Information Asymmetries</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3 class="fragment">National<br/>Policy</h3>
                <ul>
                    <li class="fragment">Fiscal Policy</li>
                    <li class="fragment">Monetary Policy</li>
                    <li class="fragment">International Trade</li>
                    <li class="fragment">Economic Growth</li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-4">
                <h3 class="fragment">Econ 50</h3>
            </div>
            <div class="col-lg-4">
                <h3 class="fragment">Econ 51</h3>
            </div>
            <div class="col-lg-4">
                <h3 class="fragment">Econ 52</h3>
            </div>
        </div>
        <hr/>
        <h2 class="fragment">Throughout: <em>Comparative Statics</em> - response to change</h2>

    </section>
    </section>


    <section>
        <section>
            <h1>Motivation</h1>
            <hr/>

            <h2>Elasticity in Tech Industry News</h2>
        </section>
        <section>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/uber-price-gouging.png') }}">

            <p><a href="http://valleywag.gawker.com/the-weekend-uber-tried-to-rip-everyone-off-1484140137"
                  target="_blank">- Gawker, December 16, 2013</a>
            </p>
        </section>
        <section>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/freemium.png') }}">

            <p><a href="https://hbr.org/2014/05/making-freemium-work" target="_blank">-
                Harvard Business Review, May 2014</a></p>
        </section>
        <section>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/motley-fool-logo.jpg') }}">
            <hr/>
            <h2>Shouldn't Netflix, Inc. be Talking About This Risk?</h2>
            <hr/>
            <p class="fragment" align="left">Netflix delivered strong earnings in the third quarter, but <b>fell
                about 700,000 new subscribers short
                of its own customer addition targets</b>. Share prices plunged more than 17% lower overnight, and have
                only trended even further down since then.</p>
            <hr/>
            <p class="fragment" align="left">
                At the time, Netflix leaders pinned the miss on a <b>price increase of $1 per month</b> for new
                customers.
                The change actually happened two quarters earlier, but <b>effects may have been masked</b> by the
                eyeball-magnet powers of Netflix original series <i>Orange Is the New Black</i> releasing a new season.
            </p>
            <hr/>
            <p class="fragment" align="left">
                ...[The Netflix CEO maintains] "We'll need several quarters to
                sort of process whether we're seeing <b>long term price elasticity, short term price elasticity, or
                if something else was going on</b> in the quarter in terms of affecting our growth versus
                expectations."
            </p>
            <hr/>
            <p>
                <a href="http://www.fool.com/investing/general/2015/01/05/shouldnt-netflix-inc-be-talking-about-this-risk.aspx">Motley
                    Fool, January 5, 2014</a></p>
        </section>
    </section>
    <section>
        <section>
            <h2>Review: Comparative Statics</h2>
            <hr/>
            <div class="row">
                <div class="col-lg-6 fragment">If some <b>exogenous variable</b> changes...</div>
                <div class="col-lg-6 fragment">(e.g., the number of consumers in a market, or the price of some related
                    good, or the average income of consumers in a market.)
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-6 fragment">then the market equilibrium</div>
                <div class="col-lg-6 fragment">(e.g., the price of houses in Palo Alto)</div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-6 fragment">or the answer to a constrained optimization problem</div>
                <div class="col-lg-6 fragment">(e.g. the number of gallons of gasoline purchased by a particular
                    consumer)
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-6 fragment">will also change.</div>
                <div class="col-lg-6 fragment">...but by how much?<br/><span class="fragment" style="color:red"><b>Elasticity</b> is the measurement of this.</span>
                </div>
            </div>
        </section>
        <section>

            <clicker-question>
                <h2>Large fluctuations in market equilibrium <i>prices</i></h2>

                <h2>are associated with situations in which</h2>

                <h2>the supply and/or demand curves are:</h2>
                <clicker-option letter="A">Highly elastic</clicker-option>
                <clicker-option letter="B">Highly inelastic</clicker-option>
                <clicker-option letter="C">Linear</clicker-option>
                <clicker-option letter="D">Curved</clicker-option>
                <clicker-option letter="E">Horizontal</clicker-option>
            </clicker-question>
            <clicker-file></clicker-file>
        </section>
        <section>
            <h2>Comparative Statics and Elasticity: Optimization</h2>
            <hr/>
            <img src="{{ url_for('static',filename='images/econ50/lecture2/besanko_5e_fig_02_16.jpg') }}" width="1028" height="710">
        </section><section>
            <h2>Comparative Statics and Elasticity: Market Equilibrium</h2>
        <hr/>
        <img src="{{ url_for('static',filename='images/econ50/lecture2/besanko_5e_fig_02_23.jpg') }}" width="1050"
             height="457">
        </section>
        <section>
            <h2>Comparative Statics and Elasticity: Policy</h2>
            <hr/>
            <img src="{{ url_for('static',filename='images/econ50/lecture2/besanko_5e_fig_10_04.jpg') }}" width="1050"
                 height="554">
        </section>
    </section>
    <section>
        <section>
            <h1>Price Elasticity of Demand</h1>
            <hr/>
            <h2>The percentage change in the quantity demanded of a good</h2>
            <h2>per percentage change in the price of that good</h2>
            <hr/>
            <h2 class="fragment" rendered-math expression="\displaystyle{\epsilon_{Q^D,P} = \frac{\%\Delta Q^D}{\%\Delta P} }"></h2>
        </section>
        <section>
            <clicker-question>
                <h2>For a general downward-sloping</h2>
                <h2>straight-line demand curve:</h2>
                <clicker-option letter="A">Demand is equally elastic at every point.</clicker-option>
                <clicker-option letter="B">Demand is most elastic toward the upper-left.</clicker-option>
                <clicker-option letter="C">Demand is most elastic toward the lower-right.</clicker-option>
                <clicker-option letter="D">None of the above is true (it depends on the precise functional form)!</clicker-option>
            </clicker-question>
            <clicker-file></clicker-file>
        </section>
        <section>
            <h2>Calculating Elasticities: The General Case</h2>
            <hr/>
            <p>Suppose <span
                    rendered-math expression="y"></span> is a continuously differentiable function of <span
                    rendered-math expression="x"></span>.</p>
            <hr/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <table>
                        <tr style="height:100px" class="fragment">
                            <td rendered-math expression="\displaystyle{\epsilon_{y,x}}" align="right"></td>
                            <td style="width:200px" rendered-math
                                expression="\displaystyle{= \frac{\%\Delta y}{\%\Delta x} }"></td>
                            <td>Percent change in <span
                                    rendered-math expression="y"></span> per 1% change in <span
                                    rendered-math expression="x"></span></td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\Delta y / y}{\Delta x / x} }"></td>
                            <td>By definition, <span rendered-math
                                                     expression="\displaystyle{\%\Delta x = \frac{\Delta x}{x}}"></span> and
                                <span rendered-math expression="\displaystyle{\%\Delta y = \frac{\Delta y}{y}}"></span></td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\Delta y}{\Delta x} \times \frac{x}{y} }"></td>
                            <td>Rearranging terms</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <div height="150px" class="fragment"><p>In the limit, as <span rendered-math
                                                                           expression="\Delta x \rightarrow 0"></span>:</p>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <table>
                        <tr style="height:100px" class="fragment">
                            <td rendered-math expression="\displaystyle{\epsilon_{y,x}}" align="right"></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{dy}{dx} \times \frac{x}{y} }"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section>
            <h2>Calculating Price Elasticity (Q as a function of P)</h2>
            <hr/>
            <div class="row">
                <div class="col-md-4"><p>General formula:</p>
                </div>
                <div class="col-md-8">
                    <table>
                        <tr style="height:100px">
                            <td rendered-math style="color:blue" expression="\displaystyle{\epsilon_{Q,P}}"
                                align="right"></td>
                            <td rendered-math style="color:blue"
                                expression="\displaystyle{= \frac{\%\Delta Q}{\%\Delta P} }"></td>
                            <td rendered-math style="color:darkgrey"
                                expression="\displaystyle{= \frac{\Delta Q / Q}{\Delta P / P} }"></td>
                            <td rendered-math style="color:darkgrey"
                                expression="\displaystyle{= \frac{\Delta Q}{\Delta P} \times \frac{P}{Q} }"></td>
                            <td rendered-math style="color:blue"
                                expression="\displaystyle{\rightarrow \frac{dQ}{dP} \times \frac{P}{Q}}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <p>Calculate own-price elasticity for the specific linear demand: <span rendered-math
                                                                                    expression="Q^D(P) = 12 - 2P"></span>
            </p>
            <hr/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <table>
                        <tr style="height:100px">
                            <td rendered-math expression="\displaystyle{\epsilon_{Q^D(P),P}}" align="right"></td>
                            <td><span rendered-math
                                      expression="\displaystyle{=}"></span> <span class="fragment" rendered-math
                                                                                  expression="\displaystyle{\frac{dQ^D(P)}{dP} \times \frac{P}{Q^D(P)}}"></span>
                            </td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td><span rendered-math
                                      expression="\displaystyle{= \color{red}{-2} \times \frac{P}{Q^D(P)}}"></span></td>
                            <td>Since <span rendered-math style="color:red"
                                            expression="\displaystyle{ \frac{dQ^D(P)}{dP} = -2}"></span></td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td><span rendered-math
                                      expression="\displaystyle{= -2 \times \frac{P}{\color{green}{12 - 2P}}}"></span></td>
                            <td>Since <span rendered-math style="color:green" expression="Q^D(P) = 12 - 2P"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <p>When is <span rendered-math expression="\epsilon"></span> perfectly inelastic?</p>
                </div>
                <div class="col-md-4">
                    <p>When is <span rendered-math expression="\epsilon"></span> unitary elastic?</p>
                </div>
                <div class="col-md-4">
                    <p>When it <span rendered-math expression="\epsilon"></span> perfectly elastic?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="fragment" rendered-math expression="\epsilon = 0 \text{ when } P = 0"></p>
                </div>
                <div class="col-md-4">
                    <p class="fragment" rendered-math expression="\epsilon = -1 \text{ when } P = 3"></p>
                </div>
                <div class="col-md-4">
                    <p class="fragment" rendered-math
                       expression="\epsilon \rightarrow -\infty \text{ as } P \rightarrow 6"></p>
                </div>
            </div>


        </section>
        <section>
            {% raw %}
            <model>
                <!-- Model parameters -->
                <param name="P" value="2"/>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>
                <div class="row-fluid">
                    <div class="col-lg-8">
                        <graph height="700" width="700">
                            <axis dim="x" min="0" max="15" title="Quantity (Q)"></axis>
                            <axis dim="y" min="0" max="15" title="Price (P)"></axis>
                            <line fn="functions.b.updateParams({income:12, px:1, py:2})" color="blue"></line>
                            <point point="[12 - 2*params.P, params.P]" droplines="both" xlabel="Q" ylabel="P"
                                   color="green"></point>
                        </graph>
                    </div>
                    <div class="col-lg-4">
                        <div class="well">
                            <p rendered-math expression="P = \${{ params.P | number:2}}"></p>
                            <slider value="params.P" min="0" max="6" precision="0.5"></slider>
                        </div>
                        <hr/>
                        <table>
                            <tr>
                                <td rendered-math expression="Q^D(P)" align="right"></td>
                                <td rendered-math expression="= 12 - 2P"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td rendered-math
                                    expression="= 12 - 2 \times {{ params.P | number }}"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td rendered-math expression="= {{ 12 - 2*params.P | number}}"></td>
                            </tr>
                        </table>
                        <hr/>
                        <table>
                            <tr style="height:100px">
                                <td rendered-math expression="\displaystyle{\epsilon_{Q^D,P}}" align="right"></td>
                                <td rendered-math
                                    expression="\displaystyle{= \frac{dQ^D(P)}{dP} \times \frac{P}{Q^D}}"></span>
                                </td>
                            </tr>
                            <tr style="height:100px">
                                <td></td>
                                <td rendered-math
                                    expression="\displaystyle{= -2 \times \frac{ {{ params.P | number }} }{ {{ 12 - 2*params.P | number}} } }"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span ng-if="params.P == 6" rendered-math expression="= -\infty"></span>
                                        <span ng-if="params.P < 6" rendered-math
                                              expression="= {{ -2*params.P/(12 - 2*params.P) | number:2 }}"></span>
                                </td>
                            </tr>

                        </table>
                        <hr/>
                        <p>
                            <span ng-if="params.P == 6">(perfectly elastic)</span>
                            <span ng-if="params.P < 6 && params.P > 3">(elastic)</span>
                            <span ng-if="params.P == 3">(unitary elastic)</span>
                            <span ng-if="params.P < 3 && params.P > 0">(inelastic)</span>
                            <span ng-if="params.P == 0">(perfectly inelastic)</span>
                        </p>
                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            <h2>Calculating Price Elasticity (Q as a function of P)</h2>
            <hr/>
            <div class="row">
                <div class="col-md-4"><p>General formula:</p>
                </div>
                <div class="col-md-8">
                    <table>
                        <tr style="height:100px">
                            <td rendered-math style="color:blue" expression="\displaystyle{\epsilon_{Q,P}}"
                                align="right"></td>
                            <td rendered-math style="color:blue"
                                expression="\displaystyle{= \frac{\%\Delta Q}{\%\Delta P} }"></td>
                            <td rendered-math style="color:darkgrey"
                                expression="\displaystyle{= \frac{\Delta Q / Q}{\Delta P / P} }"></td>
                            <td rendered-math style="color:darkgrey"
                                expression="\displaystyle{= \frac{\Delta Q}{\Delta P} \times \frac{P}{Q} }"></td>
                            <td rendered-math style="color:blue"
                                expression="\displaystyle{\rightarrow \frac{dQ}{dP} \times \frac{P}{Q}}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <p>Calculate own-price elasticity for general linear demand: <span rendered-math
                                                                               expression="Q^D(P) = a - bP"></span></p>
            <hr/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <table>
                        <tr style="height:100px">
                            <td rendered-math expression="\displaystyle{\epsilon_{Q^D(P),P}}" align="right"></td>
                            <td><span rendered-math
                                      expression="\displaystyle{=}"></span> <span class="fragment" rendered-math
                                                                                  expression="\displaystyle{\frac{dQ^D(P)}{dP} \times \frac{P}{Q^D(P)}}"></span>
                            </td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td><span rendered-math
                                      expression="\displaystyle{= \color{red}{-b} \times \frac{P}{Q^D(P)}}"></span></td>
                            <td>Since <span rendered-math style="color:red"
                                            expression="\displaystyle{ \frac{dQ^D(P)}{dP} = -b}"></span></td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td><span rendered-math
                                      expression="\displaystyle{= -b \times \frac{P}{\color{green}{a - bP}}}"></span></td>
                            <td>Since <span rendered-math style="color:green" expression="Q^D(P) = a - bP"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <p>When is it perfectly inelastic?</p>
                </div>
                <div class="col-md-4">
                    <p>When is it unitary elastic?</p>
                </div>
                <div class="col-md-4">
                    <p>When it is perfectly elastic?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="fragment" rendered-math expression="\epsilon = 0 \text{ when } P = 0"></p>
                </div>
                <div class="col-md-4">
                    <p class="fragment" rendered-math expression="\epsilon = -1 \text{ when } P = \frac{a}{2b}"></p>
                </div>
                <div class="col-md-4">
                    <p class="fragment" rendered-math
                       expression="\epsilon \rightarrow -\infty \text{ as } P \rightarrow \frac{a}{b}"></p>
                </div>
            </div>


        </section>
        <section>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/besanko_5e_fig_02_17.jpg') }}" width="60%"
                 height="60%">

            <p style="color:grey">Besanko & Braeutigam, <i>Microeconomics</i>, 5th ed., Figure 2.17</p>
        </section>
        <section>
            <h2>Elasticity and Natural Logs</h2>
            <hr/>
            <p>A category of demand curves such that price elasticity is <i>constant</i>: <span rendered-math
                                                                                                expression="Q^D(P) = \frac{a}{P^b} = aP^{-b}"></span>
            </p>
            <hr/>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <table>
                        <tr style="height:100px">
                            <td rendered-math expression="\displaystyle{\epsilon_{Q^D(P),P}}" align="right"></td>
                            <td><span rendered-math
                                      expression="\displaystyle{= \frac{dQ^D(P)}{dP} \times \frac{P}{Q^D(P)}}"></span>
                            </td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td width="400px"><span rendered-math
                                                    expression="\displaystyle{= \color{red}{-b \times aP^{-b-1}} \times \frac{P}{Q^D(P)}}"></span>
                            </td>
                            <td>Since <span rendered-math style="color:red"
                                            expression="\displaystyle{ \frac{dQ^D(P)}{dP} = -b \times aP^{-b-1}}"></span>
                            </td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td><span rendered-math
                                      expression="\displaystyle{= -b \times aP^{-b-1} \times \frac{P}{\color{green}{aP^{-b}}}}"></span>
                            </td>
                            <td>Since <span rendered-math style="color:green" expression="Q^D(P) = aP^{-b}"></span></td>
                        </tr>
                        <tr class="fragment">
                            <td></td>
                            <td><span rendered-math
                                      expression="= -b"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <p class="fragment">Note that if we take the natural log of both sides, and take the derivative of <span
                    rendered-math
                    expression="\ln(Q)"></span> with respect to <span
                    rendered-math
                    expression="\ln(P)"></span>, we get the same result:</p>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <table>
                        <tr style="height:75px" class="fragment">
                            <td rendered-math expression="\ln(Q)" align="right"></td>
                            <td><span rendered-math
                                      expression="\displaystyle{= \ln(a) - b \ln(P)}"></span>
                            </td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td rendered-math expression="\displaystyle{ \frac{d\ln(Q)}{d\ln(P)}}" align="right"></td>
                            <td><span rendered-math expression="= -b"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section>
            <clicker-question>
                <h2>Consider a market in which there are 5 consumers,</h2>
                <h2>each with demand <span rendered-math expression="q^D(P) = P^{-\frac{1}{4}}"></span>. </h2>
                <h2>The price elasticity of <i>market</i> demand is:</h2>
                <clicker-option letter="A"><span rendered-math expression="-5"></span></clicker-option>
                <clicker-option letter="B"><span rendered-math expression="\displaystyle{-\frac{5}{4}}"></span></clicker-option>
                <clicker-option letter="C"><span rendered-math expression="-1"></span></clicker-option>
                <clicker-option letter="D"><span rendered-math expression="\displaystyle{-\frac{1}{4}}"></span></clicker-option>
            </clicker-question>
            <clicker-file></clicker-file>
            <p class="fragment"><i>Note the connection between individual and market elasticities!</i></p>
        </section>
        <section>
            <h1>GENERAL, IMPORTANT RESULT</h1>
            <hr/>
            <p>Suppose <span
                    rendered-math expression="y"></span> is a continuously differentiable function of <span
                    rendered-math expression="x"></span>.</p>
            <hr/>
            <p>Then the elasticity of <span
                    rendered-math expression="y"></span> with respect to <span
                    rendered-math expression="x"></span> may be calculated as</p>
            <hr/>
            <p rendered-math expression="\displaystyle{\epsilon_{y,x} = \frac{d\ln(y)}{d\ln(x)}}"></p>
            <hr/>
            <p>(as long as <span
                    rendered-math expression="x"></span> and <span
                    rendered-math expression="y"></span> are both strictly positive)</p>
            <hr/>
            <p><i>You don't have to calculate elasticities in this way, but it often makes the math easier.</i></p>

            <p><i>Most empirical work on estimating elasticity uses this method.</i></p>

        </section>
        <section>
            <p>Table 2.1: Estimates of the Price Elasticity of Demand for Selected Food, Tobacco, and Liquor Products</p>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/besanko_5e_table_02_01.jpg') }}"
                 height="600" width="1050">

        </section>
        <section>
            <p>Table 2.2: Estimates of the Price Elasticity of Demand for Selected Modes of Transportation</p>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/besanko_5e_table_02_02.jpg') }}"
                 height="345" width="1050">
        </section>
        <section>
            <p>Table 2.3: Estimates of the Price Elasticity of Demand for Selected Makes of Automobiles, 1990</p>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/besanko_5e_table_02_03.jpg') }}"
                 height="750" width="775">
        </section>

    </section>
    <section>
        <h1>10 minute break</h1>
    </section>
    <section>
        <section>
            <h1>Other Elasticities</h1>
            <hr/>
            <h2>Income and Cross-Price Elasticities of Demand</h2>
            <h2>Price Elasticity of Supply</h2>
        </section>
        <section>
            <h2>Income and Cross-Price Elasticities of Demand</h2>
            <hr/>
            <p>A demand <i>function</i>, <span rendered-math expression="Q_{x}^D(P_{x},P{_y},I)"></span>,
                <br/>shows how the quantity demanded for some good, <span rendered-math expression="X"></span>,
                <br/>depends on its <i>own</i> price (<span
                    rendered-math expression="P_{x}"></span>) and on other variables<br/>such as income (<span rendered-math
                                                                                                           expression="I"></span>) and the prices of other goods (<span
                    rendered-math expression="P_{y}"></span>)</p>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <p>(Own) Price Elasticity</p>
                    <hr/>
                    <table>
                        <tr style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\epsilon_{Q_{x}^D,P_{x}}}"></td>
                            <td rendered-math expression="\displaystyle{= \frac{\%\Delta Q_{x}^D}{\%\Delta P_{x} }}"></td>
                        </tr>
                        <tr style="height:100px">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\partial Q_{x}^D}{\partial P_{x}} \times \frac{P_{x}}{Q_{x}^D}}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <p>Cross Price Elasticity</p>
                    <hr/>
                    <table>
                        <tr style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\epsilon_{Q_{x}^D,P_{y}}}"></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\%\Delta Q_{x}^D}{\%\Delta P_{y} }}"></td>
                        </tr>
                        <tr style="height:100px">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\partial Q_{x}^D}{\partial P_{y}} \times \frac{P_{y}}{Q_{x}^D}}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <p>Income Elasticity</p>
                    <hr/>
                    <table>
                        <tr style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\epsilon_{Q_{x}^D,I}}"></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\%\Delta Q_{x}^D}{\%\Delta I }}"></td>
                        </tr>
                        <tr style="height:100px">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\partial Q_{x}^D}{\partial I} \times \frac{I}{Q_{x}^D}}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section>
            <h2>Example: <span rendered-math expression="\displaystyle{Q_{x}^D(P_{x},P{_y},I) = \frac{I}{P_{x} + P_{y}}}"></span></h2>
            <hr/>
            <div class="row">
                <div class="col-md-5">
                    <p>(Own) Price Elasticity</p>
                    <hr/>
                    <table>
                        <tr style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\epsilon_{Q_{x}^D,P_{x}}}"></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\partial Q_{x}^D}{\partial P_{x}} \times \frac{P_{x}}{Q_{x}^D}}"></td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= -\frac{I}{(P_{x} + P_{y})^2} \times \frac{P_{x}(P_{x} + P_{y})}{I}}"></td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= -\frac{P_{x}}{P_{x} + P_{y}}}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <p>Cross Price Elasticity</p>
                    <hr/>
                    <table>
                        <tr style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\epsilon_{Q_{x}^D,P_{y}}}"></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\partial Q_{x}^D}{\partial P_{y}} \times \frac{P_{y}}{Q_{x}^D}}"></td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= -\frac{I}{(P_{x} + P_{y})^2} \times \frac{P_{y}(P_{x} + P_{y})}{I}}"></td>
                        </tr>
                        <tr style="height:100px" class="fragment">
                            <td></td>
                            <td rendered-math
                                expression="\displaystyle{= -\frac{P_{y}}{P_{x} + P_{y}}}"></td>
                        </tr>
                    </table>
                </div>
         </div>
            <hr/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p>Income Elasticity</p>
                    <hr/>
                    <table>
                        <tr style="height:100px">
                            <td rendered-math
                                expression="\displaystyle{\epsilon_{Q_{x}^D,I}}"></td>
                            <td rendered-math
                                expression="\displaystyle{= \frac{\partial Q_{x}^D}{\partial I} \times \frac{I}{Q_{x}^D}}"></td>
                        </tr>
                        <tr style="height:100px">
                            <td></td>
                            <td class="fragment" rendered-math
                                expression="\displaystyle{= \frac{1}{P_{x} + P_{y}} \times \frac{I(P_{x} + P_{y})}{I}}"></td>
                            <td class="fragment" rendered-math expression="\displaystyle{=1}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4"></div>
            </div>
        </section>
        <section>
            <p>Table 2.6: Own-Price and Cross-Price Elasticities of Demand<br/>for Selected Makes of Automobiles</p>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/besanko_5e_table_02_06.jpg') }}"
                 height="354" width="1050">

        </section>
        <section>
            <p>Table 2.7: Own-Price, Cross-Price, and Income Elasticities of Demand<br/>for Coca-Cola and Pepsi</p>
            <img src="{{ url_for('static', filename='images/econ50/lecture2/besanko_5e_table_02_07.jpg') }}"
                 height="285" width="1050">
            <hr/>
            <div class="row">
                <div class="col-md-4">Because (own) price elasticity is...</div>
                <div class="col-md-4 fragment">Between <span rendered-math expression="-1"></span> and <span rendered-math
                                                                                                    expression="-\infty"></span></div>
                <div class="col-md-4 fragment">Demand is <b>elastic</b>.</div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">Because cross-price elasticity is...</div>
                <div class="col-md-4 fragment">positive...</div>
                <div class="col-md-4 fragment">these are <b>substitutes</b>.</div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">Because income elasticity is...</div>
                <div class="col-md-4 fragment">positive</div>
                <div class="col-md-4 fragment">these are <b>normal goods</b>.</div>
            </div>

        </section>
        <section>
            <h2>Price Elasticity of Supply</h2>
            <hr/>
            <h2>The percentage change in the quantity supplied of a good</h2>

            <h2>per percentage change in the price of that good</h2>
            <hr/>
            <h2 class="fragment" rendered-math
                expression="\displaystyle{\epsilon_{Q^S,P} = \frac{\%\Delta Q^S}{\%\Delta P} }"></h2>
        </section>
        <section>
            <clicker-question>
                <h2>Suppose <i>supply</i> is described by the curve <span rendered-math
                                                                          expression="Q^S(P) = 4P"></span></h2>

                <h2>Which of the following is true?</h2>

                <clicker-option letter="A">The price elasticity of supply is <span rendered-math
                                                                                   expression="4"></span> at every point on the curve.</clicker-option>
                <clicker-option letter="B">The price elasticity of supply is <span rendered-math
                                                                                   expression="\frac{1}{4}"></span> at every point
                    on the curve.
                </clicker-option>
                <clicker-option letter="C">Supply is more elastic as we move up and to the right.</clicker-option>
                <clicker-option letter="D">Supply is more elastic as we move down and to the left.</clicker-option>
                <clicker-option letter="E">None of the above.</clicker-option>
            </clicker-question>
            <clicker-file></clicker-file>
        </section>


    </section>
    <section>
        <section>
            <h1>Elasticity in the Long and Short Run</h1>
        </section>
        <section>
            <h2>Remember: Elasticity is all about substitutability</h2>
            <hr/>
            <p>In the long run, consumers and firms have more substitutes available;<br/>so elasticity tends to be greater in the long run than the short run.</p>
            <div class="row">
                <div class="col-md-6 fragment">
                    <img src="{{ url_for('static', filename='images/econ50/lecture2/besanko_5e_fig_02_18.jpg') }}"
                         height="429" width="473">

                    <p>Fig 2.18: Short-Run and Long-Run<br/>Demand Curves for Natural Gas</p>

                </div>
                <div class="col-md-6 fragment">
                    <img src="{{ url_for('static', filename='images/econ50/lecture2/besanko_5e_fig_02_19.jpg') }}"
                         height="429" width="556">

                    <p>Fig. 2.19: Short-Run and Long-Run<br/>Supply Curves for Semiconductors</p>

                </div>
            </div>
        </section>
    </section>
    <section>
        <h2>Summary</h2>
        <ul>
            <hr/>
            <li class="fragment"><b>ELASTICITY IS NOT SLOPE</b></li>
            <hr/>
            <li class="fragment">Be able to <b>conceptualize</b> elasticity in several ways:<ul>
                <li><i>perfectly elastic</i> vs. <i>perfectly inelastic</i></li>
                <li><i>more elastic</i> vs. <i>less inelastic</i></li>
                <li><i>graphically</i> (the shape of a curve) vs. <i>numerically</i> (a precise number)</li>
            </ul></li>
            <hr/>
            <li class="fragment">Be able to <b>calculate</b> elasticity for different functional forms:
                <ul>
                    <li>linear (e.g., <span rendered-math expression="Q^D = a - bP"></span>)</li>
                    <li>multiplicative (e.g., <span rendered-math expression="Q^D = aP^{-b}"></span>) - using natural log trick</li>
                </ul>
            </li>
            <hr/>
            <li class="fragment">Note that all elasticities are defined in similar ways (% change / % change)...but don't confuse them with each other!
                <ul>
                    <li>For example, <i>income</i> and <i>price</i> elasticities give us different information</li>
                </ul>
            </li>
            <hr/>
            <li class="fragment">Elasticity is usually not <i>constant</i> - so it may be quite different in different portions of the same demand (or supply) curve.
                <span class="fragment">Also, <b>ELASTICITY IS NOT SLOPE</b>.</span></li>


        </ul>
    </section>
{% endblock %}