{% extends 'slides/slide-template.html' %}

{% block slides %}

    <section>
        <h2>Econ 50</h2>
        <br/>
        <hr/>
        <br/>

        <h2>Lecture 7</h2>

        <h1>Comparative Statics II: <br/>Income and Substitution Effects</h1>
        <br/>
        <hr/>
        <br/>

        <h3>January 28, 2015</h3>
        <hr>
        <br/>

        <p style="color:grey">Controls: N for next slide | P for previous slide | ESC for map | refresh if glitchy</p>

    </section>
    <section>
        <h1>Today's Agenda</h1>
        <hr/>
        <h2 class="fragment">Logistics and Context</h2>
        <h2 class="fragment">First Click: Price- and Income-Consumption Curves</h2>
        <h2 class="fragment">Finish Kinks & Corners: Budget Constraints</h2>
        <h2 class="fragment">Motivation: Falling Gas Prices</h2>
        <h2 class="fragment">Income and Substitution Effects: Intuition</h2>
        <h2 class="fragment">Two New and Useful Utility Functions</h2>
        <hr/>
        <h2 class="fragment">10 minute break</h2>
        <hr/>
        <h2 class="fragment">Slutsky Decomposition Diagram</h2>

    </section>
    <section>
        <section>
            <h1>Logistics and Context</h1>
        </section>
        <section>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/app_economy.png') }}">
            <p>More info: <a href="http://siepr.stanford.edu/policyforum">http://siepr.stanford.edu/policyforum</a>. (Don't miss section!)</p>
        </section>
        <section>
            <h1>Homework 3: Due This Friday!</h1>
            <p>It's a hard one - use office hours!</p>
            <br/>
            <table class="table">
                <tr>
                    <td>Prof. Makler</td>
                    <td>Mondays, 11:00am-12:30pm<br/>
                        Wednesdays, 2:00-3:30</td>
                    <td>Landau 224</td>
                </tr>
                <tr>
                    <td>Connor Scherer</td>
                    <td>Wednesdays, 3-5</td>
                    <td>Bldg 200, Classroom 030</td>
                </tr>
                <tr>
                    <td>Michael Zhang</td>
                    <td>Thursdays, 3-5</td>
                    <td>Bldg 200, Classroom 203</td>
                </tr>
                <tr>
                    <td>Rui Xu</td>
                    <td>Thursdays, 5-7</td>
                    <td>Bldg 200, Classroom 034</td>
                </tr>
            </table>
            </section>
        <section>
            <h1>Midterm: Monday, February 9</h1>
            <hr/>
            <p>Closed notes, closed book, simple calculators only (no phones, programmable, etc.)</p>
            <p>Don't wait till the last minute to ask Piazza questions!</p>
            <p>If you have an OAE letter and have not yet given it to me, please get it to me ASAP.</p>
        </section>
    </section>
    <section>
        <section><h1>First Click</h1>
        <hr/>
        <h2>Let's get our brains in gear...</h2>
        </section>
        <section>
            <h2>Which of these diagrams shows the demand curve for X,<br/>for a consumer with a simple linear budget constraint,<br/>if there exists a perfect substitute for X?</h2>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/demand_with_substitutes_clicker.png') }}">
        </section>
        <section>
            <h2>Which of these diagrams shows the demand curve for X,<br/>for a consumer with a sumple linear budget constraint<br/>and preferences summarized by <span rendered-math>u(x,y) = 2x - y</span>?</h2>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/demand_with_bad_clicker.png') }}">
        </section>
        <section>
            <h2>Suppose preferences are smooth, monotonic and strictly convex, and the budget constraint is as shown in green.</h2>
            <h2>Which point <i>cannot</i> be optimal?</h2>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/kinked_optimality_clicker.png') }}">
        </section>
        <section>
            <h2>(Here's the diagram from the last question,<br/> with some reasonable smooth, convex indifference curves:)</h2>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/kinked_optimality_clicker_soln.png') }}">
            <p>Bonus question: What preferences have we seen<br/>that would allow C to be an optimal choice?</p>
        </section>

    </section>
    <section>
        <section><h1>Wrapping up Kinks and Corners:</h1>
            <hr/>
            <h2>Optimal Choice with</h2>
            <h2>Kinked Budget Constraints</h2>
            <hr/>
            <p class="fragment">(Bottom line: keep using common sense!)</p>
        </section>
        <section>
            <h1>Types of Kinked Budget Constraints</h1>
            <hr/>
            <h2 class="fragment">Subsidy or Gift</h2>
            <h2 class="fragment">Quantity Price Increase (e.g., cell data plans)</h2>

            <h2 class="fragment">Quantity Discount</h2>

            <h2 class="fragment">Differential Buying/Selling Prices</h2>
            <h3 class="fragment">(or savings/borrowing interest rates - <br/>next week we'll discuss intertemporal decisions)</h3>

        </section>
        <section>
            <h2>Budget Constraint with a Subsidy: Case I</h2>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/besanko_5e_fig_04_11.jpg') }}">
        </section>
        <section>
            <h2>Budget Constraint with a Subsidy: Case II</h2>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/besanko_5e_fig_04_12.jpg') }}">
        </section>
        <section>
            <h2>Budget Constraint with Quantity Price Increase:<br/>Cell Phone Plan Options</h2>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/besanko_5e_fig_04_14.jpg') }}">
        </section>
        <section>
            <h2>Budget Constraint with Quantity Discount</h2>
            <img src="{{ url_for('static', filename='images/econ50/lecture7/besanko_5e_fig_04_17.jpg') }}">
        </section>
        <section>
            <h1>Solving Kinked Budget Constraint Problems</h1>
            <hr/>
            <p><b>Step 1:</b>Find the utility-maximizing point on each segment of the constraint.</p>
            <ul>
                <li class="fragment">If the utility function is smooth (differentiable), solve the normal constrained optimization
                    problem, and see if the result occurs within the segment.</li>
                <li class="fragment">If the utility function isn't smooth, use the logic you would otherwise use.</li>
                <li class="fragment">For example, perfect substitutes will tend to have a solution at a kink or a corner;<br/>perfect complements will involve purchasing goods in a particular proportion.</li>
            </ul>
            <hr/>
            <p><b>Step 2: </b>Compare the best along each segment, to find the overall best.</p>
            <ul>
                <li class="fragment">Drawing indifference curves carefully through the kinks and corners can help!</li>
            </ul>

        </section>
    </section>

    <section>
        <section>
            <h1>Motivation:</h1>
            <h2>Why Income and Substitution Effects?</h2>
        </section>
        <section>
            <h2>NYT: <a
                    href="http://www.nytimes.com/2015/01/18/business/economy/lower-oil-prices-offer-a-bonanza-to-us-workers.html">Lower
                Oil Prices Provide Benefits to U.S. Workers</a></h2>
            <hr/>
            <img src="{{ url_for('static',filename='images/econ50/lecture7/nyt_gas_prices.png') }}">
        </section>
        <section>
            <h2>Effects of Drop in Oil Prices on Consumers</h2>
            <hr/>
            <table>
                <tr class="fragment">
                    <td width="30%">Consumers <br/>are able to afford<br/> more of other things</td>
                    <td>“Oil prices, gas prices, food prices
                        — luckily it’s going down, which is great,” Ms. Smith said, explaining that when prices were
                        higher she
                        had to scale back on groceries to save money for heating oil. “I hope it keeps going.”
                    </td>
                </tr>
                <tr>
                    <td style="color:white">-</td>
                    <td style="color:white">-</td>

                </tr>
                <tr class="fragment">
                    <td>Consumers (and gov'ts)<br/>are able to afford<br/>more heating oil</td>
                    <td>With oil prices down, at least for now, the aid that agencies dole out either as part of the
                        federal low-income home energy assistance program, Liheap, or other efforts, goes much
                        further...

                        “This year, we’ve been able to get people a full 100 gallons,” said Linda Dudley, assistant
                        manager of the heat program at Waldo Community Action Partners in Belfast, on the coast.
                    </td>
                </tr>

            </table>
        </section>
        <section>
            <h2>Effects of Drop in Oil Prices on Producers</h2>
            <hr/>
            <p>“What might be called an energy shock in reverse is creating losers as well as winners.”</p>

            <table>
                <tr class="fragment">
                    <td width="30%">Oil companies<br/>are suffering.</td>
                    <td>States like Texas and North Dakota, which boomed as oil prices mostly stayed above $90 a barrel
                        from 2011 to mid-2014, are now feeling a chill. So are industries that supply pipes and other
                        material to energy drillers and frackers, including steel makers and sand producers.
                    </td>
                </tr>
                <tr>
                    <td style="color:white">-</td>
                    <td style="color:white">-</td>

                </tr>
                <tr class="fragment">
                    <td>Other industries are benefitting</td>
                    <td>For the overall economy, the tailwind generated by falling crude prices is expected to be
                        particularly welcome as growth appears to be slackening overseas.
                    </td>
                </tr>
            </table>

        </section>
        <section>
            <h2>Effects of Drop in Oil Prices on the Labor Market</h2>
            <hr/>

            <table>
                <tr class="fragment">
                    <td width="30%">Labor Demand Decisions</td>
                    <td>Consumers typically spend the money they save on fuel in sectors that are more
                        “employment-heavy” than the energy industry, Mr. Gapen said, like dining, travel and retail. He
                        noted that stores employ about 13 percent of American workers, compared with the less than 1
                        percent of Americans who work in oil and gas extraction and related fields.
                    </td>
                </tr>
                <tr>
                    <td style="color:white">-</td>
                    <td style="color:white">-</td>

                </tr>
                <tr class="fragment">
                    <td>Labor Supply Decisions</td>
                    <td>For Ms. Smith, the lower oil and gas prices mean she is talking with her husband about possibly
                        quitting the second job she took on after they fell behind on bills last winter...She works 60
                        to
                        80 hours a week and worries that she is not spending enough time with the couple’s four
                        children, including a grandchild they are raising.
                    </td>
                </tr>
            </table>

        </section>
    </section>


    <section>
        <section>
            <h1>Income and Substitution Effects</h1>
            <hr/>
            <h2>Measure the <b>ways</b> in which <br/>a consumer responds to a change in price</h2>
        </section>
        <section>
            <h1>Remember: For Interior Solutions (no kinks/corners)</h1>
            <hr/>
            <h2><b>Tangency Condition</b>: <span rendered-math>MRS_{x,y} = \frac{P_x}{P_y}</span> </h2>

            <h2><b>Budget Line Condition</b>: <span rendered-math>P_xx + P_yy = I</span></h2>

        </section>
        <section>
            <h1>What happens when the price changes?</h1>
            <hr/>
            <table class="table">
                <tr>
                    <td class="fragment" width="20%">It changes the <br/><b>price ratio</b>...</td>
                    <td class="fragment" width="25%">...which affects the <b>tangency condition</b>.</td>
                    <td class="fragment">One good will be <b>relatively cheaper</b> than before the price change, the other good will be <b>relatively more expensive</b>.</td>
                </tr>
                <tr>
                    <td style="color:white">-</td>
                    <td style="color:white">-</td>

                </tr>

                <tr>
                    <td class="fragment">It changes your <b>budget set</b>...</td>
                    <td class="fragment">...which affects the <b>budget line</b>.</td>
                    <td class="fragment">A decrease in price allows your <b>income to buy more</b> than you could before the price change; an increase in price means you would need <b>more income to afford your original bundle</b>.</td>
                </tr>
            </table>
        </section>
        <section>
            <h1>FORMAL DEFINITIONS</h1>
            <hr/>
            <h2>The <b>substitution effect</b> is the change in the amount of a good that would be consumed as the <b>price of that good changes</b>, holding constant <b>all other prices</b> and the <b>level of utility</b>.</h2>
            <hr/>
            <h2>The <b>income effect</b> is the change in the amount of a good<br/>that a consumer would buy as <b>purchasing power changes</b>,<br/>holding constant <b>all prices</b>.</h2>
        </section>
        <section>
            <h1>INFORMAL DEFINITIONS</h1>
            <hr/>
            <div class="row">
                <div class="col-md-6 fragment">
                    <p>Suppose the price of a good goes down.</p>

                    <p class="fragment">You could now afford to be<br/><b>just as happy as you were before</b><br>(move <b>along</b> your indifference curve)</p>

                    <p class="fragment">by buying more of that good, and less of<br/>other, now relatively more
                        expensive goods<br/><b>saving some money in the meantime</b>.</p>
                    <hr/>
                    <p class="fragment">This change in consumption would be the <br/><b>substitution effect</b>.
                    </p>
                </div>
                <div class="col-md-6 fragment">
                    <p class="fragment">...but suppose you don't save the money.</p>
                    <p class="fragment">You can spend that money to be<br/><b>happier than you were before</b><br/>(move to a <b>higher</b> indifference curve)</p>
                    <p class="fragment">by buying more of one or both goods<br/>(depending on whether they're normal goods or inferior goods).</p>
                    <hr/>
                    <p class="fragment">This change in consumption would be the <b>income effect</b>.</p>
                </div>
            </div>

        </section>
        <section>
            <h1>Two New Utility Functions</h1>
            <hr/>
            <table>
                <tr>
                    <td>Constant Elasticity of Substitution (CES)</td>
                    <td>Has a parameter for <b>substitutability</b>.<br/>
                    In fact, Cobb-Douglas, perfect complements, and perfect substitutes are all special cases of this function!</td>
                </tr>
                <tr>
                    <td style="color:white">-</td>
                    <td style="color:white">-</td>
                </tr>
                <tr>
                    <td>Inferior Good Utility Function</td>
                    <td>Has a negative Income-Consumption Curve (over a relevantregion)<br/>Even displays "Giffen Good" characteristics for high incomes!</td>
                </tr>
            </table>
        </section>
        <section>
            <h1>Constant Elasticity of Substitution</h1>
            <hr/>
            <h2>The CES Utility Function: <span rendered-math>u(x,y) = \left(a x^r + by^r\right)^\frac{1}{r}</span></h2>
            <hr/>
            <h2 rendered-math>MRS_{x,y} = \frac{MU_x}{MU_y} = \frac{ax^{r-1}}{by^{r-1}}</h2>
            <ul>
                <li class="fragment">The parameters <span rendered-math>a</span> and <span rendered-math>b</span> measure how much the consumer likes goods
                    <span rendered-math>X</span> and <span rendered-math>Y</span>.</li>
                <li class="fragment">The parameter <span rendered-math>r \le 1</span> adjusts the complementarity or substitutability of the goods:</li>
                <ul><li class="fragment">When <span rendered-math>r = 1</span>, the goods are perfect substitutes: <span rendered-math>MRS = \frac{a}{b}</span>.</li>
                <li class="fragment">As <span rendered-math>r \rightarrow 0</span> in the limit, the goods are Cobb-Douglas: <span
                        rendered-math>MRS \rightarrow \frac{ay}{bx}</span>.</li>
                <li class="fragment">As <span rendered-math>r \rightarrow -\infty</span> in the limit, the goods are perfect complements.</li>
                    <li class="fragment">If <span rendered-math>a = b = 1</span> and
                        <span rendered-math>r = \frac{1}{2}</span>, it becomes our "weak substitutes" example:
                        <span rendered-math>u(x,y) = \left(\sqrt x + \sqrt y\right)^2</span>.
                    </li>
                </ul>

            </ul>
        </section>
        <section>
            <h2>The CES Utility Function</h2>
            {% raw %}
            <model>


                <!-- Model parameters -->
                <param name="px" value="3"/>
                <param name="py" value="2"/>
                <param name="income" value="60"/>
                <param name="alpha" value="0.5"/>
                <param name="s" value="0"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="CES"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <div class="row">


                    <div class="col-md-8">

                        <graph height="700" width="700">
                            <axis dim="x" min="0" max="50" title="Good X"></axis>
                            <axis dim="y" min="0" max="50" title="Good Y"></axis>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).setLevel([5,5])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([10,10])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([15,15])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([20,20])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([25,25])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([30,30])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([35,35])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([40,40])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([45,45])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([50,50])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([55,55])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([60,60])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <line fn="functions.b.updateParams({px:params.px, py:params.py, income:params.income})"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px, params.py)"
                                   color="green"></curve>
                            <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                   droplines="both" xlabel="x^*" ylabel="y^*"></point>


                        </graph>


                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Budget Parameters</h6>
                            <hr/>
                            <p rendered-math expression="P_{x}: \${{ params.px | number:2 }}"></p>
                            <slider value="params.px" min="1" max="6" precision="0.25"></slider>
                            <p rendered-math expression="P_{y}: \${{ params.py | number:2 }}"></p>
                            <slider value="params.py" min="1" max="6" precision="0.25"></slider>
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="5" max="120" precision="1"></slider>
                        </div>
                        <hr/>
                        <div class="well">
                            <h6>Utility Parameters</h6>
                            <hr/>
                            <p>Preference for X</p>
                            <slider value="params.alpha" min="0.1" max="0.9" precision="0.01"></slider>
                            <p>Substitutability</p>
                            <slider value="params.s" min="-1" max="1" precision="0.1"></slider>
                            <toggle param="params.showIndifferenceMap" init="false">{{ params.showIndifferenceMap ?
                                "Hide" :
                                "Show" }} Indifference Map
                            </toggle>
                        </div>

                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            {% raw %}
            <model>


                <!-- Model parameters -->
                <param name="px" value="3"/>
                <param name="py" value="2"/>
                <param name="income" value="60"/>
                <param name="alpha" value="0.5"/>
                <param name="s" value="0"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="CES"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <div class="row">


                    <div class="col-md-8">
                        <div style="position:absolute;top:0px;left:0px;width:350px;height:350px;">

                            <graph height="350" width="350">
                                <axis dim="x" min="0" max="65" title="Quantity of X"></axis>
                                <axis dim="y" min="0" max="65" title="Quantity of Y"></axis>
                                <line fn="functions.b.updateParams({px:params.px, py:params.py, income:params.income})"></line>
                                <curve fn="functions.u.updateParams({alpha:params.alpha,s:params.s}).optimalIndifferenceCurve(params.income, params.px, params.py)"
                                       color="green" label="U^*"></curve>
                                <curve fn="functions.u.priceConsumptionCurve({good:'x', income: params.income, otherPrice: params.py, minPrice:0.1, maxPrice:50, samplePoints: 200}) "
                                       color="blue" label="PCC_X" show="params.showPCCX"></curve>
                                <curve fn="functions.u.priceConsumptionCurve({good:'y', income: params.income, otherPrice: params.px, minPrice:50, maxPrice:0.1, samplePoints: 200}) "
                                       color="red" label="PCC_Y" show="params.showPCCY"></curve>
                                <curve fn="functions.u.incomeConsumptionCurve({maxIncome:200, px:params.px, py:params.py, samplePoints: 50})"
                                       color="darkorange" label="ICC" show="params.showICC"></curve>
                                <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                       droplines="vertical" xlabel="x^*" color="blue"></point>
                                <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                       droplines="horizontal" ylabel="y^*" color="red"></point>
                                <point point="functions.u.optimalBundle(params.income, params.px, params.py)"></point>

                            </graph>

                        </div>
                        <div style="position:absolute;top:350px;left:0px;width:350px;height:350px;">
                            <graph height="350" width="350">
                                <axis dim="x" min="0" max="65" title="Quantity of X"></axis>
                                <axis dim="y" min="0" max="10" title="Price of X"></axis>
                                <curve fn="functions.u.updateParams({alpha:params.alpha,s:params.s}).demandCurve({maxPrice: 10, income: params.income, otherPrice: params.py, samplePoints: 200})"
                                       color="blue" label="D_X"></curve>
                                <point point="[functions.u.optimalBundle(params.income, params.px, params.py)[0],params.px]"
                                       droplines="both" xlabel="x^*(P_X)" ylabel="P_X"></point>
                            </graph>
                        </div>
                        <div style="position:absolute;top:350px;left:350px;width:350px;height:350px;">
                            <graph height="350" width="350">
                                <axis dim="x" min="0" max="65" title="Quantity of Y"></axis>
                                <axis dim="y" min="0" max="10" title="Price of Y"></axis>
                                <curve fn="functions.u.updateParams({alpha:params.alpha,s:params.s}).demandCurve({good:'y',maxPrice: 10, income: params.income, otherPrice: params.px, samplePoints: 200})"
                                       label="D_Y"
                                       color="red"></curve>
                                <point point="[functions.u.optimalBundle(params.income, params.px, params.py)[1],params.py]"
                                       droplines="both" xlabel="y^*(P_Y)" ylabel="P_Y"></point>
                            </graph>
                        </div>
                        <div style="position:absolute; top:0px;left:350px;width:400px;height:350px">
                            <p>CES Demand:</p>
                            <div>
                                <toggle param="params.showPCCX">{{ params.showPCCX ? 'Hide' : 'Show' }} <span
                                        rendered-math>PCC_X</span></toggle>
                            </div>
                            <div>
                                <toggle param="params.showPCCY">{{ params.showPCCY ? 'Hide' : 'Show' }} <span
                                        rendered-math>PCC_Y</span></toggle>
                            </div>

                        </div>



                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Budget Parameters</h6>
                            <hr/>
                            <p rendered-math expression="P_{x}: \${{ params.px | number:2 }}"></p>
                            <slider value="params.px" min="1" max="6" precision="0.25"></slider>
                            <p rendered-math expression="P_{y}: \${{ params.py | number:2 }}"></p>
                            <slider value="params.py" min="1" max="6" precision="0.25"></slider>
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="5" max="120" precision="1"></slider>
                        </div>
                        <hr/>
                        <div class="well">
                            <h6>Utility Parameters</h6>
                            <hr/>
                            <p>Preference for X</p>
                            <slider value="params.alpha" min="0.1" max="0.9" precision="0.01"></slider>
                            <p>Substitutability</p>
                            <slider value="params.s" min="-1" max="1" precision="0.1"></slider>
                        </div>

                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            <h1>PRICE-CONSUMPTION CURVES<br/>AND SUBSTITUTABILITY</h1>
            <hr/>
            <div class="row">
                <div class="col-md-6 fragment">
                    <p>If price-consumption curves<br/>are <b>upward-sloping</b>,</p>
                    <p>it means that the quantities<br/>of goods X and Y</p>
                    <p>move <b>in the same direction</b><br/>when the price changes;</p>
                    <p>so they're <b>complements</b>.</p>

                </div>
                <div class="col-md-6 fragment">
                    <p>If price-consumption curves<br/>are <b>downward-sloping</b>,</p>

                    <p>it means that the quantities<br/>of goods X and Y</p>

                    <p>move <b>in opposite directions</b><br/>when the price changes;</p>

                    <p>so they're <b>substitutes</b>.</p>

                </div>
            </div>
             </section>
        <section>
            <h1>An Inferior/Giffen Good:</h1>
            <hr/>
            <h2 rendered-math>u(x,y) = a \ln (x - x_\text{min}) - b \ln (y_\text{max} - y)</h2>
            <hr/>
            <p>The <span rendered-math>x_\text{min}</span> parameter shows that there is a "subsistence level" of good X.</p>
            <p>The <span rendered-math>y_\text{max}</span> parameter shows that there is a "saturation level" of good Y.</p>
            <p>Displays negative-sloped Income-Consumption Curve nearly everywhere, and Giffen Good behavior for high levels of income.</p>
            <hr/>
            <p class="fragment">Not a standard utility function! Violates all kinds of assumptions! <span
                    class="fragment highlight-red">DO NOT MEMORIZE!</span></p>

        </section>
        <section>
            <h2>When Good X is an Inferior Good (sometimes Giffen!)</h2>
            {% raw %}
            <model>


                <!-- Model parameters -->
                <param name="px" value="1.5"/>
                <param name="py" value="1.5"/>
                <param name="income" value="60"/>
                <param name="alpha" value="1"/>
                <param name="delta" value="1"/>
                <param name="xmin" value="10"/>
                <param name="ymax" value="40"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="Inferior"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <div class="row">


                    <div class="col-md-8">

                        <graph height="700" width="700">
                            <axis dim="x" min="0" max="45" title="{{ params.xLabel }}"></axis>
                            <axis dim="y" min="0" max="45" title="Good Y"></axis>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, delta:params.delta, xmin: params.xmin, ymax: params.ymax}).setLevel([10,10])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([12.5,12.5])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([15,15])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([17.5,17.5])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([20,20])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([22.5,22.5])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([25,25])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([27.5,27.5])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([30,30])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([32.5,32.5])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([35,35])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <curve fn="functions.u.setLevel([37.5,37.5])"
                                   color="#AAAAAA" show="params.showIndifferenceMap"></curve>
                            <line fn="functions.b.updateParams({px:params.px, py:params.py, income:params.income})"></line>
                            <curve fn="functions.u.optimalIndifferenceCurve(params.income, params.px, params.py)"
                                   color="green"></curve>
                            <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                   droplines="both" xlabel="x^*" ylabel="y^*"></point>
                            <curve fn="functions.u.priceConsumptionCurve({good:'x', income: params.income, otherPrice: params.py, minPrice:0.5, maxPrice:25, samplePoints: 250}) "
                                   color="blue" label="PCC_X" ind="y" show="params.showPCCX"></curve>
                            <curve fn="functions.u.incomeConsumptionCurve({minIncome: 0, maxIncome:100, px:params.px, py:params.py, samplePoints: 50})"
                                   color="darkorange" label="ICC" ind="y" show="params.showICC"></curve>


                        </graph>


                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Budget Parameters</h6>
                            <hr/>
                            <p rendered-math expression="P_{x}: \${{ params.px | number:2 }}"></p>
                            <slider value="params.px" min="1" max="2" precision="0.01"></slider>
                            <!--<p rendered-math expression="P_{y}: \${{ params.py | number:2 }}"></p>
                            <slider value="params.py" min="1.5" max="2.5" precision="0.01"></slider>-->
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="50" max="100" precision="1"></slider>
                        </div>
                        <hr/>
                        <toggle param="params.showPCCX">{{ params.showPCCX ? 'Hide' : 'Show' }} <span
                                rendered-math>PCC_X</span></toggle>
                        <toggle param="params.showICC">{{ params.showICC ? 'Hide' : 'Show' }} <span
                                rendered-math>ICC</span></toggle>
                        <toggle param="params.showIndifferenceMap" init="false">{{ params.showIndifferenceMap ? "Hide" :
                            "Show" }} Indifference Map
                        </toggle>
                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            {% raw %}
            <model>


                <!-- Model parameters -->
                <param name="px" value="1.5"/>
                <param name="py" value="1.5"/>
                <param name="income" value="60"/>
                <param name="alpha" value="1"/>
                <param name="delta" value="1"/>
                <param name="xmin" value="10"/>
                <param name="ymax" value="40"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="Inferior"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <div class="row">


                    <div class="col-md-8">
                        <div style="position:absolute;top:0px;left:0px;width:350px;height:350px;">

                            <graph height="350" width="350">
                                <axis dim="x" min="0" max="45" title="{{ params.xLabel }}"></axis>
                                <axis dim="y" min="0" max="45" title="Good Y"></axis>
                                <line fn="functions.b.updateParams({px:params.px, py:params.py, income:params.income})"></line>
                                <curve fn="functions.u.updateParams({alpha:params.alpha,delta:params.delta, xmin: params.xmin, ymax: params.ymax}).optimalIndifferenceCurve(params.income, params.px, params.py)"
                                       color="green" label="U^*" ind="y"></curve>
                                <curve fn="functions.u.incomeConsumptionCurve({minIncome: 0, maxIncome:100, px:params.px, py:params.py, samplePoints: 50})"
                                       color="darkorange" label="ICC" ind="y" show="params.showICC"></curve>
                                <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                       droplines="vertical" xlabel="x^*" color="blue"></point>
                                <point point="functions.u.optimalBundle(params.income, params.px, params.py)"
                                       droplines="horizontal" ylabel="y^*" color="red"></point>
                                <point point="functions.u.optimalBundle(params.income, params.px, params.py)"></point>

                            </graph>

                        </div>
                        <div style="position:absolute;top:350px;left:350px;width:350px;height:350px;">
                            <graph height="350" width="350">
                                <axis dim="x" min="0" max="45" title="Quantity of X"></axis>
                                <axis dim="y" min="0" max="100" title="Income"></axis>
                                <curve fn="functions.u.updateParams({alpha:params.alpha,delta:params.delta, xmin: params.xmin, ymax: params.ymax}).engelCurve({maxIncome:140, px:params.px, py:params.py, samplePoints: 50})"
                                       color="blue" label="\text{Engel}_X"></curve>
                                <point point="[functions.u.optimalBundle(params.income, params.px, params.py)[0],params.income]"
                                       droplines="both" xlabel="x^*(I)" ylabel="I"></point>
                            </graph>
                        </div>
                        <div style="position:absolute;top:350px;left:0px;width:350px;height:350px;">
                            <graph height="350" width="350">
                                <axis dim="x" min="0" max="45" title="Quantity of X"></axis>
                                <axis dim="y" min="0" max="3" title="Price of X"></axis>
                                <curve fn="functions.u.updateParams({alpha:params.alpha,delta:params.delta, xmin: params.xmin, ymax: params.ymax}).demandCurve({minPrice: 0.5, maxPrice: 2.5, income: params.income, otherPrice: params.py, samplePoints: 200})"
                                       color="blue" label="D_X"></curve>
                                <point point="[functions.u.optimalBundle(params.income, params.px, params.py)[0],params.px]"
                                       droplines="both" xlabel="x^*(P_X)" ylabel="P_X"></point>
                            </graph>
                        </div>

                        <div style="position:absolute; top:0px;left:350px;width:400px;height:350px">
                            <p>Inferior and Giffen Demand and Engel Curves! Bizarro!</p>
                            <div>
                                <toggle param="params.showICC">{{ params.showICC ? 'Hide' : 'Show' }} <span
                                        rendered-math>ICC</span></toggle>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Budget Parameters</h6>
                            <hr/>
                            <p rendered-math expression="P_{x}: \${{ params.px | number:2 }}"></p>
                            <slider value="params.px" min="1" max="2" precision="0.01"></slider>
                            <!--<p rendered-math expression="P_{y}: \${{ params.py | number:2 }}"></p>
                            <slider value="params.py" min="1.5" max="2.5" precision="0.01"></slider>-->
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="50" max="70" precision="1"></slider>
                        </div>
                        <hr/>
                        <blockquote>Side note: there are lots of parameters that make this graph wig out! It's a <b>really weird</b> utiity function. Don't try to understand it too much...</blockquote>
                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            <h1>So why did I subject you to that?</h1>
            <hr/>
            <h2>After the break: Slutsky Diagrams!</h2>
            <hr/>
            <p>We'll use these two functions <br/>to examine price changes when:</p>
            <p>(a) goods are complements</p>
            <p>(b) goods are substitutes</p>
            <p>(c) goods are neutral (Cobb-Douglas)</p>
            <p>(d) goods are inferior or Giffen</p>
        </section>

    </section>
    <section>
        <h1>Ten Minute Break</h1>
    </section>

    <section>
        <section>
            <h1>Remember our story...</h1>
            <hr/>
            <div class="row">
                <div class="col-md-6 fragment">
                    <p>Suppose the price of a good goes down.</p>

                    <p class="fragment">You could now afford to be<br/><b>just as happy as you were before</b><br>(move
                        <b>along</b> your indifference curve)</p>

                    <p class="fragment">by buying more of that good, and less of<br/>other, now relatively more
                        expensive goods<br/><b>saving some money in the meantime</b>.</p>
                    <hr/>
                    <p class="fragment">This change in consumption would be the <br/><b>substitution effect</b>.
                    </p>
                </div>
                <div class="col-md-6 fragment">
                    <p class="fragment">...but suppose you don't save the money.</p>

                    <p class="fragment">You can spend that money to be<br/><b>happier than you were before</b><br/>(move
                        to a <b>higher</b> indifference curve)</p>

                    <p class="fragment">by buying more of one or both goods<br/>(depending on whether they're normal
                        goods or inferior goods).</p>
                    <hr/>
                    <p class="fragment">This change in consumption would be the <b>income effect</b>.</p>
                </div>
            </div>

        </section>
        <section>
            <h1>The Slutsky Decomposition Diagram</h1>
            <hr/>
            <table class="table">
                <tr style="background-color:darkblue; color:white">
                    <td>Point</td>
                    <td>Description</td>
                    <td>Utility</td>
                    <td>Price</td>
                    <td>Income</td>


                </tr>
                <tr>
                    <td>A</td>
                    <td>Initial bundle</td>
                    <td>Initial utility</td>
                    <td>Initial price</td>
                    <td>Actual income</td>


                </tr>
                <tr class="fragment">
                    <td>B</td>
                    <td>"Decomposition" bundle</td>
                    <td style="background-color:lightgreen" class="fragment">Initial utility</td>
                    <td style="background-color:lightgreen" class="fragment">Final price</td>
                    <td style="background-color:lightgreen" class="fragment">Compensated income</td>

                </tr>
                <tr>
                    <td>C</td>
                    <td>Final bundle</td>
                    <td>Final utility</td>
                    <td>Final price</td>
                    <td>Actual income</td>
                </tr>
            </table>

        </section>
        <section>
            <img src="{{ url_for('static',filename='images/econ50/lecture7/slutzky1.png') }}">
            <p>Point A is the optimal bundle for the consumer's income with the original price of X.</p>
        </section>
        <section>
            <img src="{{ url_for('static',filename='images/econ50/lecture7/slutzky2.png') }}">

            <p>Point C is the optimal bundle for the consumer's income with at the new price of X.</p>

        </section>
        <section>
            <img src="{{ url_for('static',filename='images/econ50/lecture7/slutzky3.png') }}">
            <p>Point B is the "decomposition point" on the original indifference curve <span rendered-math>(U_1)</span>.</p>
            <p>At the new price of X, the consumer could afford it with less income <span rendered-math>(BL_d)</span>.</p>
        </section>
        <section>
            <h1>Let's generate the Slutztky Diagram for a simple CES utility function</h1>
            <hr/>
            <h2 rendered-math>u(x,y) = \left(x^r + y^r\right)^\frac{1}{r}</h2>
            <h2 rendered-math>I = 60</h2>

            <h2 rendered-math>P_{x_1} = 3</h2>
            <h2 rendered-math>P_{x_2} = 1</h2>
            <h2 rendered-math>P_y = 1</h2>
            <hr/>


            <p>Initial budget line <span rendered-math>(BL_1)</span>: <span rendered-math>3x + y = 60</span></p>

            <p>New budget line <span rendered-math>(BL_2)</span>: <span rendered-math>2x + y = 60</span></p>
        </section>
        <section>
            <h2>Slutsky Diagram for a CES Utility Function</h2>
            {% raw %}
            <model>


                <!-- Model parameters -->
                <param name="px1" value="3"/>
                <param name="px2" value="1"/>
                <param name="py" value="1"/>
                <param name="income" value="60"/>
                <param name="alpha" value="0.5"/>
                <param name="s" value="-0.2"/>


                <!-- Model functions -->
                <function name="u" category="utility" form="CES"></function>
                <function name="b" category="budget" form="SimpleBudgetConstraint"></function>

                <div class="row">


                    <div class="col-md-8">

                        <graph height="700" width="700">
                            <axis dim="x" min="0" max="70" title="" ticks="0"></axis>
                            <axis dim="y" min="0" max="70" title="" ticks="0"></axis>
                            <line fn="functions.b.updateParams({px:params.px1, py:params.py, income:params.income})" color="blue"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px1, params.py)"
                                   color="darkblue" label="U_1"></curve>
                            <point point="functions.u.optimalBundle(params.income, params.px1, params.py)"
                                   droplines="both" xlabel="x_A" ylabel="y_A" label="A"></point>
                            <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:params.income})" color="red"></line>
                            <curve fn="functions.u.updateParams({alpha:params.alpha, s:params.s}).optimalIndifferenceCurve(params.income, params.px2, params.py)"
                                   color="darkred" label="U_2"></curve>
                            <point point="functions.u.optimalBundle(params.income, params.px2, params.py)"
                                   droplines="both" xlabel="x_C" ylabel="y_C" label="C"></point>
                            <point point="functions.u.decompositionBundle(params.income, params.px1, params.px2, params.py)"
                                   droplines="both" xlabel="x_B" ylabel="y_B" label="B" show="params.showDecompositionPoint"></point>
                            <line fn="functions.b.updateParams({px:params.px2, py:params.py, income:functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)})"
                                  color="red" show="params.showDecompositionPoint"></line>
                            <point color="purple" point="[0,params.income/params.py]" droplines="none" ylabel="\displaystyle{\frac{I}{P_y}}"></point>
                            <point color="red" point="[params.income/params.px2,0]" droplines="none" xlabel="\displaystyle{\frac{I}{P_{x_2}}}"></point>
                            <point color="blue" point="[params.income/params.px1,0]" droplines="none" xlabel="\displaystyle{\frac{I}{P_{x_1}}}"></point>
                            <point color="red" point="[functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)/params.px2,0]" droplines="none"
                                   xlabel="\displaystyle{\frac{I_d}{P_{x_2}}}" show="params.showDecompositionPoint"></point>
                            <point color="red"
                                   point="[0,functions.u.compensatedIncome(params.income,params.px1,params.px2,params.py)/params.py]"
                                   droplines="none"
                                   ylabel="\displaystyle{\frac{I_d}{P_{y}}}" show="params.showDecompositionPoint"></point>


                        </graph>


                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <h6>Budget Parameters</h6>
                            <hr/>
                            <p style="color:blue" rendered-math expression="P_{x_1}: \${{ params.px1 | number:2 }}"></p>
                            <slider value="params.px1" min="1" max="6" precision="0.05"></slider>
                            <p style="color:red" rendered-math expression="P_{x_2}: \${{ params.px2 | number:2 }}"></p>
                            <slider value="params.px2" min="1" max="6" precision="0.05"></slider>
                            <p>Income: ${{ params.income | number:0}}</p>
                            <slider value="params.income" min="5" max="120" precision="1"></slider>
                        </div>
                        <hr/>
                        <div class="well">
                            <h6>Utility Parameters</h6>
                            <hr/>
                            <p>Substitutability</p>
                            <slider value="params.s" min="-1" max="1" precision="0.1"></slider>
                            <toggle param="params.showDecompositionPoint" init="false">{{ params.showDecompositionPoint ?
                                "Hide" :
                                "Show" }} Decomposition Point
                            </toggle>
                        </div>

                    </div>
                </div>
            </model>
            {% endraw %}
        </section>
        <section>
            <h2>Slutsky Diagram for an Inferior Good</h2>
            <img src="{{ url_for('static',filename='images/econ50/lecture7/besanko_5e_fig_05_08.jpg') }}">
            <p>Income effect => increase Y, decrease X</p>
        </section>
        <section>
            <h2>Slutsky Diagram for a Giffen Good</h2>
            <img src="{{ url_for('static',filename='images/econ50/lecture7/besanko_5e_fig_05_09.jpg') }}">
            <p>Income effect => increase Y, decrease X so much it's less than the initial X.</p>
        </section>




    </section>

    <section>
        <h2>Summary: Income and Substitution Effects</h2>
        <hr/>
        <p class="fragment">Substitution Effect: Hold utility constant, minimize cost:<br/>Initial Point => Decomposition Point</p>
        <p class="fragment">Income Effect: Hold prices constant, increase utility:<br/>Decomposition Point => Final Point</p>
        <p class="fragment">With substitutes, the substitution effect dominates</p>
        <p class="fragment">With complements, the income effect dominates</p>
        <p class="fragment">With inferior goods, the income effect is negative for the inferior good</p>
        <p class="fragment">With Giffen goods, the income effect is <b>so negative</b><br/>that the result of a decrease in price is to decrease consumption.</p>
    </section>

{% endblock %}