{% extends 'layouts/econ50-layout.html' %}

{% block body %}

<div ng-controller="KineticGraphCtrl" class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Econ 50: Economic Analysis I</h1>
        </div>
        <div class="col-md-6">
            <p align="right" style="margin-top:20px">Stanford University, Winter&nbsp;2016<br/>Prof. <a href="mailto:cmakler@stanford.edu">Chris Makler</a></p>
        </div>
    </div>
    <hr/>
    <h3>Web Resources</h3>
    <div class="alert alert-warning">Note: all <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/">lecture notes</a>, <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Sections/">section notes</a>, and <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Homeworks/">homeworks</a> have been moved to Coursework; the links below redirect there now.</div>
    <p>This website is for <b>course materials</b> (slides, interactive graphs, and readings).</p>
    <p>We will use <a href="https://coursework.stanford.edu/portal/site/W16-ECON-50-01">this Coursework site</a> for all <b>class logistics</b> (homework, sections, etc.) as well as posting all <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/">course materials</a> (lecture notes, section notes, old exams, etc.)</p>
    <p>We will use <a href="https://piazza.com/stanford/winter2016/econ50">this piazza site</a> for <b>class communication</b> (announcements, class discussions, prof/TA communication, etc).</p>
    <hr/>
    <h3>Textbooks</h3>
    <p>The required readings will be drawn from <b>Besanko and Braeutigam, <i>Microeconomics</i>, 5e</b> (abbreviated B&B). Available at the bookstore, on <a href="http://www.amazon.com/Microeconomics-David-Besanko/dp/1118572270">Amazon</a>, and on <a href="http://www.scribd.com/doc/214097045/Microeconomics-5th-Edition-Besanko-Et-Al-2014">scribd</a>. Note that this book is at a more basic level than the level of the course; it is necessary but not sufficient to understand the material at the level of this book.</p>
    <p>If you're serious about econ, it may be helpful to pick up a copy of <b>Varian, <i>Intermediate Microeconomics: A Modern Approach</i>, 8e.</b> Available on reserve at the library or at <a href="http://www.amazon.com/Intermediate-Microeconomics-Modern-Approach-Edition/dp/0393934241">Amazon</a>. Note that this book is at a slightly more advanced level than the level of the course, and the terminology may not match up exactly with what we're doing in class.</p>
    <hr/>
    <h3 style="page-break-before: always">Schedule</h3>
    <h4 style="padding-top:15px; padding-bottom:5px">Part I: Modeling Tools</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="info">
                <td width="10%">Date</td>
                <td width="50%">Title</td>
                <td width="20%" align="center">B&B</td>
                <td width="20%" align="center">Varian</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jan 5</td>
                <td><b>Lecture 1: Introduction to Constrained Optimization</b><br/>
                <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture1Slides.pdf">Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture1/group') }}">Group work</a><br/>
                Interactive graphs: <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture1/fence_problem') }}">Fence Problem</a><br/>
                Group work solutions: <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture1/group1.pptx') }}">Slides for question 1</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture1GroupWorkSolutions.pdf">Methods for Solving the Fence Problem</a></td>
                <td align="center">1.2</td>
                <td align="center">-</td>
            </tr>
            <tr>
                <td>Jan 7</td>
                <td><b>Lecture 2: Supply and Demand, with More Math than Econ 1</b><br/>
                    <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture2Slides.pdf">Slides</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture2Notes.pdf">Notes for Missing Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture2/group') }}">Group work</a><br/>
                Interactive graphs: <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture2/supply_and_demand') }}">Supply and Demand</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture2/complements_and_substitutes') }}">Complements and Substitutes</a><br/>
                Group work solutions: <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture2/GroupWork2.pdf') }}">Solution for question 1</a></td>
                <td align="center">2.1 (also bits of 5.4, 9.5)</td>
                <td align="center">-</td>
            </tr>
            <tr>
                <td>Jan 12</td>
                <td><b>Lecture 3: Elasticity</b><br/>
                <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture3Slides.pdf">Slides</a>  | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture3/group') }}">Group work</a><br/>
                Interactive graphs:
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture3/elasticity_midpoint') }}">Midpoint method</a> |
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture3/linear_demand_point_elasticity') }}">Point elasticity along a linear demand curve</a> |
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture3/constant_elasticity_demand') }}">Point elasticity along a constant elasticity demand curve</a> (also available
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture3/constant_elasticity_demand_formula') }}">with formula</a>) |
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture3/linear_supply_point_elasticity') }}">Point elasticity along a linear supply curve</a> |
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture3/constant_elasticity_supply') }}">Point elasticity along a constant elasticity supply curve</a><br/>
                Group work solutions: <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture3GroupWorkSolutions.pdf">Group work solutions</a></td>
                <td align="center">2.2</td>
                <td align="center">15.6-15.11, Ch. 15 Appendix</td>
            </tr>
            <tr>
                <td>Jan 12</td>
                <td><b>Optional Math Review</b><br/>7pm in 380-380f<br/><a href="{{ url_for('courses', path='stanford/W16-ECON-50/derivations/MathReviewNotes.pdf') }}">Notes from math review</a></td>
                <td align="center">-</td>
                <td align="center">-</td>
            </tr>
        </tbody>
    </table>
    <div style="page-break-inside: avoid">
        <h4 style="padding-top:15px; padding-bottom:5px">Part II: Consumer Choice</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="info">
                <td width="10%">Date</td>
                <td width="50%">Title</td>
                <td width="20%" align="center">B&B</td>
                <td width="20%" align="center">Varian</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jan 14</td>
                <td><b>Lecture 4: Preferences and Indifference Curves</b><br/>
                <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture4Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture4AnnotatedSlides.pdf">Annotated Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture4/group') }}">Group work</a><br/>
                Interactive graphs:
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture4/indifference_curves') }}">Indifference curves</a><br/>Group work solutions: <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture4GroupWorkSolutions.pdf">Group work solutions</a></td>
                <td align="center">Ch. 3</td>
                <td align="center">Ch. 3</td>
            </tr>
            <tr>
                <td>Jan 15</td>
                <td><i>Section 1; Homework 1 due</i><br/>
                <a href="{{ url_for('courses', path='stanford/W16-ECON-50/homework1/Homework1.pdf') }}">HW problems</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/homework1/Homework1_solutions.pdf') }}">HW solutions</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/section1/Section1.pdf') }}">Section problems</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/section1/Section1_solutions.pdf') }}">Section solutions</a></td>
                <td align="center">-</td>
                <td align="center">-</td>
            </tr>
            <tr>
                <td>Jan 19</td>
                <td><b>Lecture 5: Utility Functions</b><br/>
                    <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture5Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture5AnnotatedSlides.pdf">Annotated Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture5/group') }}">Group work</a><br/>
                Interactive graphs:
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture5/indifference_curves_math') }}">Indifference curves</a></td>
                </td>
                <td align="center">Ch. 3</td>
                <td align="center">Ch. 4</td>
            </tr>
            <tr>
                <td>Jan 21</td>
                <td><b>Lecture 6: Budget Constraints and Optimal Choice</b><br/>
                    <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture6Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture6AnnotatedSlides.pdf">Annotated Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture6/group') }}">Group work</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture6GroupWorkSolutions.pdf">Group Work Problem 3 Solutions</a><br/>
                Interactive graphs:
                    <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture6/utility_max', course='econ50') }}">Utility maximization</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture6/utility_max_mrs', course='econ50') }}">MRS and the Price Ratio</a></td>
                <td align="center">4.1, 4.2</td>
                <td align="center">Ch. 2, Ch. 5</td>
            </tr>
            <tr>
                <td>Jan 22</td>
                <td><i>Section 2; Homework 2 due</i><br/>
                <a href="{{ url_for('courses', path='stanford/W16-ECON-50/homework2/Homework2.pdf') }}">HW problems</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/homework2/Homework2_solutions.pdf') }}">HW solutions</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/section2/Section2.pdf') }}">Section problems</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/section2/Section2_solutions.pdf') }}">Section solutions</a></td>
                <td align="center">-</td>
                <td align="center">-</td>
            </tr>
        <tr>
                <td>Jan 26</td>
                <td><b>Lecture 7: Kinks and Corners, with Applications [Note: no revealed preference]</b><br/>
                <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture7Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture7AnnotatedSlides.pdf">Annotated Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture7/group') }}">Group work</a> | <a href="https://docs.google.com/spreadsheets/d/1aZkzXKnoGuZiqdecFw-5Gjp0PKasIbrRTQDPI_skWBU/edit?usp=sharing">Game result data</a><br/>
                Interactive graphs: Endowment budgets with <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture7/utility_max_endowment_budget', course='econ50') }}">one price</a>, <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture7/utility_max_endowment_budget_different_prices', course='econ50') }}">different prices</a>, and showing <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture7/utility_max_endowment_mrs', course='econ50') }}">MRS vs Price Ratio</a> |
                <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture7/utility_max_intertemporal_mrs', course='econ50') }}">Intertemporal Consumption Budget</a></td>

                <td align="center">4.3, Ch. 4 Appendix 2</td>
                <td align="center">9.1-9.4, 10.1-10.3</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div style="page-break-inside: avoid">
    <h4 style="padding-top:15px; padding-bottom:5px">Part III: Demand</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="info">
                <td width="10%">Date</td>
                <td width="50%">Title</td>
                <td width="20%" align="center">B&B</td>
                <td width="20%" align="center">Varian</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jan 28</td>
                <td><b>Lecture 8: Deriving the Demand Curve</b><br/>
                    <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture8Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture8AnnotatedSlides.pdf">Annotated Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture8/group') }}">Group work</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture8GroupWorkSolutions.pdf">Group work solutions</a><br/>
                Interactive graphs: <a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='utility_max', course='econ50') }}">Utility maximization subject to a budget constraint</a> | <a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='utility_and_demand', course='econ50') }}">Utility and demand</a> | <a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='utility_demands_engel', course='econ50') }}">Demand and Engel curves</a></td>
                <td align="center">5.1</td>
                <td align="center">Ch. 6</td>
            </tr>
            <tr>
                <td>Jan 29</td>
                <td><i>Section 3; Homework 3 due</i><br/>
                <a href="{{ url_for('courses', path='stanford/W16-ECON-50/homework3/Homework3.pdf') }}">HW problems</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/homework3/Homework3_solutions.pdf') }}">HW solutions</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/section3/Section3.pdf') }}">Section problems</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/section3/Section3_solutions.pdf') }}">Section solutions</a></td>

                <td align="center">-</td>
                <td align="center">-</td>
            </tr>
            <tr>
                <td>Feb 2</td>
                <td><b>Lecture 9: Income and Substitution Effects</b><br/>
                    <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture9Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture9AnnotatedSlides.pdf">Annotated Slides</a> (with group work solutions) | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture9/group') }}">Group work</a><br/>
                Interactive graph: <a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='slutsky_decomposition', course='econ50') }}">Slutsky Decomposition</a></td>
                <td align="center">5.2</td>
                <td align="center">Ch. 8</td>
            </tr>
            <tr>
                <td>Feb 4</td>
                <td><b>Lecture 10: Welfare Analysis: Consumer Surplus, Compensating Variation, and Equivalent Variation</b><br/>
                <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture10Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture10AnnotatedSlides.pdf">Annotated Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture10/group') }}">Group work</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture10GroupSolutions.pdf">Group work sample solutions</a><br/>
                Interactive graphs: <a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='utility_max_and_cost_min', course='econ50') }}">Utiity maximization and cost minimization</a> | <a href="{{ url_for('graphs', subject='micro', topic='consumer_theory', graphname='marshallian_and_hicksian_demand', course='econ50') }}">Marshallian and Hicksian Demand</a></td>
                <td align="center">5.3</td>
                <td align="center">Ch. 14 (esp. 14.7 and 14.8)</td>
            </tr>
            <tr>
                <td>Feb 5</td>
                <td><i>Section 4</i><br/>
                <a href="{{ url_for('courses', path='stanford/W16-ECON-50/section4/Section4.pdf') }}">Section problems</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/section4/Section4_solutions.pdf') }}">Section solutions</a></td>
                <td align="center">-</td>
                <td align="center">-</td>
            </tr>
        <tr>
                <td>Feb 9</td>
                <td><b>Lecture 11: Review of Consumer Theory; Revealed Preference; Labor Supply; Units</b><br/><i><a href="https://coursework.stanford.edu/samigo-app/servlet/Login?id=68ef214d-487b-44bb-80f5-00733617f96c1454111677368">Homework 4</a> due</i> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/homework4/Homework4.pdf') }}">HW problems</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/homework4/Homework4_solutions.pdf') }}">HW solutions</a><br/>
                    <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture11Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture11AnnotatedSlides.pdf">Annotated Slides</a></td>
                <td align="center">4.4, 5.5</td>
                <td align="center">Ch. 7; 9.8, 9.8</td>
            </tr>
        </tbody>
    </table>
        </div>
    <div style="page-break-inside: avoid">
    <h4 style="padding-top:15px; padding-bottom:5px">Midterm</h4>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <td>Feb 11</td>
                <td><b>Midterm</b> - 11:30-1:20 in 320-105 (NOT IN CLASS)<br/>
                Last year's midterm: <a href="{{ url_for('courses', path='stanford/W16-ECON-50/midterm/Econ50Winter15MidtermPart1.pdf') }}">Part I</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/midterm/Econ50Winter15MidtermPart2.pdf') }}">Part II</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/midterm/Econ50Winter15MidtermPart1Solution.pdf') }}">Part I Solutions</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/midterm/Econ50Winter15MidtermPart2Solution.pdf') }}">Part II Solutions</a><br/>
                Previous midterms are available on <a href="https://coursework.stanford.edu/portal/site/W16-ECON-50-01/page/b654c2a1-e8da-46ec-9bf3-6b11e8326051">Coursework</a> under the Materials tab (since they're for other professors, I don't want to post them on a non-password-protected site)<br/>
                Student-suggested <a href="{{ url_for('courses', path='stanford/W16-ECON-50/midterm/IntuitionQuestionsForMidterm.pdf', updated=true) }}">intuition questions</a> (one will be on the exam)<br/>
                This year's midterm: <a href="{{ url_for('courses', path='stanford/W16-ECON-50/midterm/Econ50Winter16Midterm.pdf') }}">Questions</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/midterm/Econ50Winter16MidtermSolutions.pdf') }}">Solution Sketches</a></td>
            </tr>
        </tbody>
    </table>
        </div>
    <div style="page-break-inside: avoid">
    <h4 style="padding-top:15px; padding-bottom:5px">Part IV: Producer Choice</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="info">
                <td width="10%">Date</td>
                <td width="50%">Title</td>
                <td width="20%" align="center">B&B</td>
                <td width="20%" align="center">Varian</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Feb 16</td>
                <td><b>Lecture 12: Inputs and productions functions</b><br/>
                <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture12Slides.pdf">Slides</a>  | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture12AnnotatedSlides.pdf">Annotated Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture12/Lecture12Derivations.pdf', updated=true) }}">Derivations</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture12/group') }}">Group work</a><br/>
                Interactive graph: <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture12/isoquants') }}">Isoquants</a></td>
                <td align="center">Ch. 6</td>
                <td align="center">Ch. 18</td>
            </tr>
            <tr>
                <td>Feb 18</td>
                <td><b>Lecture 13: Costs and cost minimization</b><br/>
                <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture13Slides.pdf">Slides</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture13AnnotatedNotes.pdf">Annotated Slides</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture13Derivations.pdf">Derivations and Group Work Solutions</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture13/group') }}">Group work</a><br/>
                    <a href="{{ url_for('graphs', subject='micro', topic='producer_theory', graphname='cost_minimization', course='econ50') }}">Cost Minimization</a> | <a href="{{ url_for('graphs', subject='micro', topic='producer_theory', graphname='expansion_paths', course='econ50') }}">Expansion Paths</a> | <a href="{{ url_for('graphs', subject='micro', topic='producer_theory', graphname='expansion_paths_and_cost_curves', course='econ50') }}">Expansion Paths and Cost Curves</a> </td>
                <td align="center">Ch. 7</td>
                <td align="center">Ch. 20</td>
            </tr>
            <tr>
                <td>Feb 19</td>
                <td><i>Section 5; Homework 5 due</i><br/>
                <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Sections/Section5.pdf">Section problems</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Sections/Section5Solutions.pdf">Section Solutions</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Homeworks/Homework5.pdf">Homework Problems</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Homeworks/Homework5_solutions.pdf">Homework Solutions</a> (including review questions)</td>
                <td align="center">-</td>
                <td align="center">-</td>
            </tr>

        </tbody>
    </table>
        </div>
    <div style="page-break-inside: avoid">

    <h4 style="padding-top:70px; padding-bottom:5px" id="supply">Part V: Deriving Supply</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="info">
                <td width="10%">Date</td>
                <td width="50%">Title</td>
                <td width="20%" align="center">B&B</td>
                <td width="20%" align="center">Varian</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Feb 23</td>
                <td><b>Cost curves</b><br/><a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture14Slides.pdf">Slides</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture14AnnotatedNotes.pdf">Annotated Slides</a> | <a href="https://coursework.stanford.edu/access/content/group/W16-ECON-50-01/Lecture%20Notes/Lecture14Derivations.pdf">Derivations</a> | Group work: <a href="http://desmos.com">desmos.com</a><br/>
                    Interactive graph: <a href="{{ url_for('graphs', subject='micro', topic='producer_theory', graphname='cost_curves', course='econ50') }}">Cost Curves</a></td>
                <td align="center">Ch. 8</td>
                <td align="center">Ch. 21</td>
            </tr>
            <tr>
                <td>Feb 25</td>
                <td><b>Profit maximization for the competitive firm</b><br/>
                <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture15/Lecture15Slides.pdf') }}">Slides</a> | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture15/group') }}">Group work</a><!-- | <a href="{{ url_for('courses', path='stanford/W16-ECON-50/lecture15/Lecture15Derivations.pdf') }}">Derivations (and group work solutions)</a><br/>-->
                Interactive graph: <a href="{{ url_for('graphs', subject='micro', topic='market_structures', graphname='competitive_profit_max', course='econ50') }}">Cost Curves and Profit Maximization</a></td>
                <td align="center">9.1, 9.2,<br/>9.3 (supply curve section)<br/><div class="alert alert-danger"><a href="https://coursework.stanford.edu/samigo-app/servlet/Login?id=68ef214d-487b-44bb-80f5-00733617f96c1455994253751">Review questions</a><br/><b>Due online before lecture</b></div></td>
                <td align="center">Ch. 22</td>
            </tr>
            <tr>
                <td>Feb 26</td>
                <td><i>Section 6; <a href="https://coursework.stanford.edu/samigo-app/servlet/Login?id=68ef214d-487b-44bb-80f5-00733617f96c1455949249211">Homework 6 due</a></i></td>
                <td align="center">-</td>
                <td align="center">-</td>
            </tr>
            <tr>
                <td>Mar 1</td>
                <td>Short-run and long-run equilibrium</td>
                <td align="center">9.3 (equilibrium section), 9.4, 9.5</td>
                <td align="center">Ch. 23</td>
            </tr>
            <tr>
                <td>Mar 3</td>
                <td>Competitive markets; applications and extensions</td>
                <td align="center">Ch. 10</td>
                <td align="center">Ch. 16</td>
            </tr>
        <tr>
                <td>Mar 4</td>
                <td><i>Section 7; Homework 7 due</i></td>
                <td align="center">-</td>
                <td align="center">-</td>
            </tr>

        </tbody>
    </table>
        </div>
    <div style="page-break-inside: avoid">
    <h4 style="padding-top:15px; padding-bottom:5px">Part VI: Market Power</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="info">
                <td width="10%">Date</td>
                <td width="50%">Title</td>
                <td width="20%" align="center">B&B</td>
                <td width="20%" align="center">Varian</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mar 8</td>
                <td>Monopoly (and monopsony)</td>
                <td align="center">Ch. 11</td>
                <td align="center">Ch. 24</td>
            </tr>
            <tr>
                <td>Mar 10</td>
                <td>Summary, extensions, review</td>
                <td align="center">Chapters 6-11</td>
                <td align="center">-</td>
            </tr>
            <tr>
                <td>Mar 11</td>
                <td><i>Section 8; Homework 8 due</i></td>
                <td align="center">-</td>
                <td align="center">-</td>
            </tr>

        </tbody>
    </table>
    <h4 style="padding-top:15px; padding-bottom:5px">Final Exam</h4>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <td width="10%">Mar 11-15</td>
                <td width="90%">Review Sessions - Details TBA</td>
            </tr>
            <tr>
                <td>Mar 16</td>
                <td>Final Exam (12:15-3:15pm, Bishop Auditorium)</td>
            </tr>
        </tbody>
    </table>
    </div>

</div>

{% endblock %}



{% block js %}

    <script src="{{ url_for('static', filename='js/kg/kg-v0.02.js') }}"></script>

{% endblock %}