{% extends 'graphs/micro/consumer_theory/crra_utility_controls.html' %}

{% block belowControls %}
    {% raw %}
    <hr>
    <equation class="big" style="color: {{ color('growth') }}">\sigma = {{ (1/(params.rra)) | extendedReal:2 }}</equation>
    <hr/>
    <div highlight="uc">
    <equation class="big">u(c) = \frac{c^{1 - 1/\color{
        {{color('growth')}} }{\sigma}} - 1}{1 - 1/\color{
        {{color('growth')}} }{\sigma}} || = {{ model.utilityFormula()}}
    </equation>
    </div>
    <hr/>
    <div highlight='uca'>
    <equation class="big">u(c_A) = {{ model.utilityFormula(params.c)}} || = {{
        model.utilityAtQuantity(params.c) | number: 2}}
    </equation>
    </div>

    {% endraw %}
{% endblock %}

{% block extends_crra_controls %}
    <script>

    var utilityHorizontalLabel = {
                    type: 'KG.HorizontalDropline',
                    definition: {
                        name: 'uLabel',
                        className: 'utility',
                        coordinates: {x: 'params.c', y: 'model.utilityAtQuantity(params.c)'},
                        axisLabel: "u(c_A)",
                        interaction: {
                            highlight: 'uca'
                        }
                    }
            },
            utilityPoint = {
                type: 'KG.Point',
                definition: {
                    name: 'utilityAtQ',
                    className: 'utility',
                    coordinates: {x: 'params.c', y: 'model.utilityAtQuantity(params.c)'},
                    droplines: {
                        vertical: 'c_A'
                    },
                    interaction: {
                        xDrag: 'params.c',
                        highlight: 'c'
                    }
                }
            },
            marginalUtilitySlopeLine = {
                type: 'KG.Line',
                definition: {
                    name: 'marginalUtilityAtQuantitySlope',
                    className: 'demand dotted',
                    lineDef: {
                        point: {x: 'params.c', y: 'model.utilityAtQuantity(params.c)'},
                        slope: 'model.marginalUtilityAtQuantity(params.c)',
                        xDomainDef: {
                            min: 'params.c - 1',
                            max: 'params.c + 1'
                        }
                    },
                    label: {
                        text: "\\text{slope }=u'(c_A)",
                        align: 'right'
                    },
                    interaction: {
                        highlight: 'mu'
                    }
                }
            },
            marginalUtilityPoint = {
                type: 'KG.Point',
                definition: {
                    name: 'marginalUtilityAtQ',
                    className: 'demand',
                    coordinates: {x: 'params.c', y: 'model.marginalUtilityAtQuantity(params.c)'},
                    droplines: {
                        vertical: 'c_A'
                    },
                    interaction: {
                        xDrag: 'params.c',
                        highlight: 'c',
                    }
                }
            },
            marginalUtilityHorizontalLabel = {
                type: 'KG.HorizontalDropline',
                definition: {
                    name: 'muLabel',
                    className: 'demand',
                    coordinates: {x: 'params.c', y: 'model.marginalUtilityAtQuantity(params.c)'},
                    interaction: {
                        highlight: 'mu'
                    },
                    axisLabel: "u'(c_A)"
                }
            };

    scopeDefinition.views.push({
                type: 'KG.TwoVerticalGraphs',
                definition: {
                    element_id: 'utility',
                    xAxisDef: {min: 0, max: 10, title: '\\text{Consumption (units)}'},
                    topGraph: {
                        yAxisDef: {min: 0, max: 'model.utilityAtQuantity(10)', title: '\\text{Total Utility (utils)}'},
                        objects: [utilityFunctionView, utilityHorizontalLabel, utilityPoint, marginalUtilitySlopeLine]
                    },
                    bottomGraph: {
                        yAxisDef: {min: 0, max: 1, title: '\\text{Marginal Utility (utils/unit)}'},
                        objects: [marginalUtilityFunctionView, marginalUtilityHorizontalLabel, marginalUtilityPoint]
                    },
                    objects: []
                }
            })
    </script>
{% endblock %}