{% extends 'graphs/micro/consumer_theory/slutsky_decomposition.html' %}

{% block main %}
{% raw %}
<h1>Marshallian and Hicksian Demand: {{ model.utility.title }}</h1>
<hr/>
<div id="graph"></div>
    {% endraw %}
{% endblock %}

{% block belowControls %}
    <toggle param="showA" class="demand" show-hide="true"><span class="math">\text{Initial State }(A)</span></toggle>
                    <toggle param="showB" class="demand" show-hide="true"><span class="math">\text{Decomposition Bundle }(B)</span></toggle>
                    <toggle param="showC" class="demand" show-hide="true"><span class="math">\text{Final State }(C)</span></toggle>
    <toggle param="showE" class="demand" show-hide="true"><span class="math">\text{Equivalent State }(E)</span></toggle>
    <hr/>
    <toggle param="showMarshallian" class="demand" show-hide="true"><span class="math">\text{Marshallian Demand }(D^M_x)</span></toggle>
    <toggle param="showCS" class="demand" show-hide="true"><span class="math">\text{Consumer Surplus }(CS)</span></toggle>
    <hr/>
    <toggle param="showHicksian1" class="demand" show-hide="true"><span class="math">\text{Initial Hicksian Demand }(D^H_x(U_1))</span></toggle>
    <toggle param="showCV" class="demand" show-hide="true"><span class="math">\text{Compensating Variation }(CV)</span></toggle>
    <hr/>
    <toggle param="showHicksian2" class="demand" show-hide="true"><span class="math">\text{Final Hicksian Demand }(D^H_x(U_1))</span></toggle>
    <toggle param="showEV" class="demand" show-hide="true"><span class="math">\text{Equivalent Variation }(EV)</span></toggle>

{% endblock %}


{% block jsadjustments %}
        <script>

        scopeDefinition.params.showE = true;
        scopeDefinition.params.showCS = false;
        scopeDefinition.params.showCV = false;
        scopeDefinition.params.showEV = false;

        scopeDefinition.params.showMarshallian = true;
        scopeDefinition.params.showHicksian1 = true;
        scopeDefinition.params.showHicksian2 = true;


        bundleA.definition.droplines = {vertical: 'x^A'};
        bundleB.definition.droplines = {vertical: 'x^B'};
        bundleC.definition.droplines = {vertical: 'x^C'};
        bundleE.definition.droplines = {vertical: 'x^E'};

        console.log(bundleA);

        var marshallianDemand = {
                    type: 'KG.Curve',
                    definition: {
                        name: 'demandCurveX',
                        className: 'demand',
                        data: 'model.marshallianDemand1.demandCurveData({min: 0.1, max: 50, numSamplePoints: 201})',
                        label: {text: 'D^M'},
                        show: 'params.showMarshallian',
                        interaction: {
                            highlight: 'initialIncome'
                        }
                    }
                },
                hicksianDemand1 = {
                    type: 'KG.Curve',
                    definition: {
                        name: 'hicksDemand1',
                        className: 'utility',
                        data: 'model.hicksianDemand1.demandCurveData({min: 0.1, max: 50, numSamplePoints: 201})',
                        label: {text: 'D^H_x(U_1)'},
                        show: 'params.showHicksian1',
                        interaction: {
                            highlight: 'initialUtility'
                        }
                    }
                },
                hicksianDemand2 = {
                    type: 'KG.Curve',
                    definition: {
                        name: 'hicksDemand2',
                        className: 'utility',
                        data: 'model.hicksianDemand2.demandCurveData({min: 0.1, max: 50, numSamplePoints: 201})',
                        label: {text: 'D^H_x(U_2)'},
                        show: 'params.showHicksian2',
                        interaction: {
                            highlight: 'finalUtility'
                        }
                    }
                },
                demandBundleA = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundleA',
                        className: 'demand',
                        show: 'params.showA',
                        coordinates: {
                            x: 'model.initialBundle.x',
                            y: 'model.px'
                        },
                        label: {
                            text: 'A'
                        },
                        interaction: {
                            triggerHighlight: 'bundleA',
                            highlight: 'initialPrice initialUtility initialIncome BL1 bundleA'
                        },
                        droplines: {
                            vertical: 'x_A'
                        }

                    }
                },
                demandBundleC = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundleC',
                        show: 'params.showC',
                        className: 'demand',
                        coordinates: {
                            x: 'model.finalBundle.x',
                            y: 'model.px2'
                        },
                        label: {
                            text: 'C'
                        },
                        interaction: {
                            triggerHighlight: 'bundleC',
                            highlight: 'BL2 finalUtility finalPrice bundleC initialIncome'
                        },
                        droplines: {
                            vertical: 'x_C'
                        }

                    }
                },
                demandBundleB = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundleB',
                        show: 'params.showB',
                        className: 'utility',
                        coordinates: {
                            x: 'model.decompositionBundle.x',
                            y: 'model.px2'
                        },
                        label: {
                            text: 'B'
                        },
                        interaction: {
                            triggerHighlight: 'bundleB',
                            highlight: 'finalPrice initialUtility decomposition bundleB'
                        },
                        droplines: {
                            vertical: 'x_B'
                        }

                    }
                },
                demandBundleE = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundleE',
                        show: 'params.showE',
                        className: 'utility',
                        coordinates: {
                            x: 'model.compensatedBundle.x',
                            y: 'model.px'
                        },
                        label: {
                            text: 'E'
                        },
                        interaction: {
                            triggerHighlight: 'bundleE',
                            highlight: 'initialPrice finalUtility bundleE'
                        },
                        droplines: {
                            vertical: 'x_E'
                        }

                    }
                },
                priceLineX1 = {
                    type: 'KG.HorizontalLine',
                    definition: {
                        name: 'priceLineX1',
                        className: 'price',
                        y: 'model.px',
                        yInterceptLabel: 'P_x^1',
                        interaction: {
                            highlight: 'initialPrice'
                        }
                    }
                },
                priceLineX2 = {
                    type: 'KG.HorizontalLine',
                    definition: {
                        name: 'priceLineX2',
                        className: 'price',
                        y: 'model.px2',
                        yInterceptLabel: 'P_x^2',
                        interaction: {
                            highlight: 'finalPrice'
                        }
                    }
                },
                CS = {
                    type: 'KG.Area',
                    definition: {
                        name: 'CSArea',
                        className: 'demand',
                        data: 'model.marshallianDemand1.changeInSurplus({min: model.px, max: model.px2})',
                        show: 'params.showCS',
                        label: {text: 'CS', xOffset: -50},
                        interaction: {
                            highlight: 'initialIncome'
                        }
                    }
                },
                CV = {
                    type: 'KG.Area',
                    definition: {
                        name: 'CVArea',
                        className: 'utility',
                        data: 'model.hicksianDemand1.changeInSurplus({min: model.px, max: model.px2})',
                        show: 'params.showCV',
                        label: {text: 'CV', xOffset: -50},
                        interaction: {
                            highlight: 'initialUtility'
                        }
                    }
                },
                EV = {
                    type: 'KG.Area',
                    definition: {
                        name: 'EVArea',
                        className: 'utility',
                        data: 'model.hicksianDemand2.changeInSurplus({min: model.px, max: model.px2})',
                        show: 'params.showEV',
                        label: {text: 'EV', xOffset: -50},
                        interaction: {
                            highlight: 'finalUtility'
                        }
                    }
                };

        scopeDefinition.views.push({
            type: 'KG.TwoVerticalGraphs',
            definition: {
                element_id: 'graph',
                topGraph: {
                    xAxisDef: {min: 0, max: 50, title: '\\text{Units of Good X}', ticks: 0},
                    yAxisDef: {min: 0, max: 50, title: '\\text{Units of Good Y}', ticks: 0},
                    objects: [budgetLine1, budgetLine2, compensatedBudgetLine, decompositionBudgetLine, xIntercept1, xIntercept2, yIntercept, bundleA, bundleC, bundleB, bundleE, initialIndifferenceCurve, finalIndifferenceCurve]
                },
                bottomGraph: {
                    xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of X at }P_x', ticks: 0},
                    yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good X}', ticks: 0},
                    objects: [marshallianDemand, hicksianDemand1, hicksianDemand2, demandBundleA, demandBundleB, demandBundleC, demandBundleE, priceLineX1, priceLineX2, CS, CV, EV]
                },
                objects: []
            }
        });
        </script>
    {% endblock %}