{% extends 'layouts/eg-layout.html' %}

{% block body %}
{% raw %}

<div ng-controller="KineticGraphCtrl">
    <h1>Utility and Redistribution</h1>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <div id="utility"></div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <div class="row">
                    <div class="col-xs-3" style="text-align:right;font-size:12pt;padding-top:10px">Risk Aversion:
                    </div>
                    <div class="col-xs-9" id="rraSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3" style="text-align:right;font-size:12pt;padding-top:10px">Transfer <span class="math">(T)</span>:
                    </div>
                    <div class="col-xs-9" id="transferSlider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var scopeDefinition = {
        params: {
            rra: 0.8,
            cLow: 20,
            cHigh: 80,
            transfer: 0
        },
        graphParams: ['rra'],
        restrictions: [
            {
                expression: 'params.cLow',
                restrictionType: 'range',
                min: 1,
                max: 'params.cLow'
            },
            {
                expression: 'params.cHigh',
                restrictionType: 'range',
                min: 'params.cHigh',
                max: 100
            },
            {
                expression: 'params.transfer',
                restrictionType: 'range',
                min: 0,
                max: 'params.cHigh'
            }
        ],
        model: {
            type: 'EconGraphs.UtilityRedistribution',
            definition: {
                cLow: 'params.cLow',
                cHigh: 'params.cHigh',
                transfer: 'params.transfer',
                utilityType: 'ConstantRRA',
                utilityDef: {
                    rra: 'params.rra'
                }
            }

        },
        views: [
            {
                type: 'KG.Graph',
                definition: {
                    element_id: 'utility',
                    xAxisDef: {min: 0, max: 100, title: '\\text{Consumption (units)}', ticks: 0},
                    yAxisDef: {min: 0, max: 'model.utility.utilityAtQuantity(100)', title: '\\text{Total Utility (utils)}', ticks: 0},
                    objects: [
                        'model.utility.utilityFunctionView',
                        'model.utility.utilityAtQuantityPoint(params.cLow, {name: "L", className: "utilityOld", xAxisLabel: "c_L", yAxisLabel: "u(c_L)"})',
                        'model.utility.utilityAtQuantityPoint(params.cHigh, {name: "H", className: "utilityOld", xAxisLabel: "c_H", yAxisLabel: "u(c_H)"})',
                        'model.utility.utilityAtQuantityPoint(model.cLowNew, {name: "LT", xAxisLabel: "c_L\'", yAxisLabel: "u(c_L\')"})',
                        'model.utility.utilityAtQuantityPoint(model.cHighNew, {name: "HT", xAxisLabel: "c_H\'", yAxisLabel: "u(c_H\')"})',
                            'model.lowUtilityChangeArrow',
                            'model.highUtilityChangeArrow',
                            'model.lowConsumptionChangeArrow',
                            'model.highConsumptionChangeArrow'
                    ]
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'rraSlider',
                    param: 'rra',
                    precision: '0.01',
                    axisDef: {min: 0, max: 2, ticks: 0}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'transferSlider',
                    param: 'transfer',
                    precision: '1',
                    axisDef: {min: 0, max: 'params.cHigh'}
                }
            }

        ]
    }
</script>
{% endraw %}
{% endblock %}