{% extends 'graphs/micro/consumer_theory/utility_budget_controls.html' %}

{% block graphs %}
    {% raw %}
    <h1>Utility and Demand: {{ model.utility.title }}</h1>
    <hr/>
    <div id="utilityAndDemandX"></div>
    {% endraw %}
{% endblock %}

{% block jsadjustments %}
    <script>
    scopeDefinition.views.push({
        type: 'KG.TwoVerticalGraphs',
        definition: {
            element_id: 'utilityAndDemandX',
            topGraph: {
                xAxisDef: {min: 0, max: 50, title: '\\text{Units of Good X}'},
                yAxisDef: {min: 0, max: 50, title: '\\text{Units of Good Y}'},
                objects: [
                    {
                        type: 'KG.Line',
                        definition: {
                            name: 'BL',
                            className: 'budget',
                            linear: 'model.budget.budgetSegments[0].linear',
                            params: {
                                label: 'BL',
                                xInterceptLabel: "\\frac{I}{P_x}",
                                yInterceptLabel: "\\frac{I}{P_y}"
                            }
                        }
                    },
                    {
                        type: 'KG.FunctionPlot',
                        definition: {
                            name: 'indifference_curve',
                            className: 'utility',
                            params: {label: 'U^*'},
                            fn: "model.utility.utilityFunction.setLevel(model.utility.utility(model.bundle))"
                        }
                    },
                        {
                        type: 'KG.Point',
                        definition: {
                            name: 'bundle',
                            className: 'utility',
                            coordinates: {
                                x: 'model.bundle.x',
                                y: 'model.bundle.y'
                            },
                            params: {
                                xAxisLabel: 'x^*',
                                yAxisLabel: 'y^*'
                            }
                        }
                    }
                ]
            },
            bottomGraph: {
                xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of X at }P_x'},
                yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good X}'},
                objects: [
                    {
                        type: 'KG.Curve',
                        definition: {
                            name: 'demandCurveX',
                            className: 'demand',
                            data: 'model.demandCurveData({min: 0.1, max: 50, numSamplePoints: 201})',
                            params: {
                                label: 'D_x'
                            }
                        }
                    },
                    {
                        type: 'KG.Point',
                        definition: {
                            name: 'quantityDemandedAtPrice',
                            className: 'demand',
                            coordinates: {
                                x: 'model.bundle.x',
                                y: 'params.px'
                            },
                            params: {
                                yDragParam: 'px',
                                xAxisLabel: 'x^*'
                            }
                        }
                    },
                    {
                            type: 'KG.HorizontalLine',
                            definition: {
                                name: 'priceLineX',
                                className: 'price',
                                y: 'params.px',
                                yDrag: 'params.px',
                                params: {
                                    yInterceptLabel: 'P_x'
                                }
                            }
                        }
                ]
            },
            objects: [

            ]
        }
    });
    </script>
    {% block jsadjustments2 %}
    {% endblock %}
{% endblock %}