{% extends 'layouts/econgraphs.html' %}

{% block body %}

    <div ng-controller="KineticGraphCtrl">
        <div class="row">
            <div class="col-md-6">
                {% block graphs %}
                {% endblock %}
            </div>

            <div class="col-md-6">
                {% raw %}
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="well">
                    <div class="row">
                        <div class="subtitle col-xs-3">utility</div>
                        <div class="col-xs-3"><select ng-model="params.selectedUtility" ng-if="params.hasOwnProperty('selectedUtility')">
                    <option value="CobbDouglas">Cobb-Douglas</option>
                    <option value="Complements">Complements</option>
                    <option value="Substitutes">Substitutes</option>
                    <option value="CES">CES</option>
                    <option value="Quasilinear">Quasilinear</option>
                </select></div>
                        <div class="col-xs-6 math displayMath">u(x,y) = {{ model.utility.formula(false) }}<!-- = {{ model.utility.formula(true)}}--></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">\alpha = {{params.alpha | number: 2}}:
                        </div>
                        <div class="col-xs-9" id="alphaSlider"></div>
                    </div>
                    <div class="row" ng-if="params.selectedUtility == 'CES'" ng-init="render(true)">
                        <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">r = {{model.utility.r | number: 2}}:
                        </div>
                        <div class="col-xs-9" id="subSlider"></div>
                    </div>
                </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 well">
                            <p class="subtitle">Lower Budget Segment: Borrow</p>
                            <div class="row">
                                <div class="col-xs-3 math" highlight="rBorrow" style="text-align:right;font-size:12pt;padding-top:10px">r^B = {{params.rBorrow | number: 2}}\%:
                                </div>
                                <div class="col-xs-9" id="rBorrowSlider"></div>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                        <div class="col-md-5 well">
                            <p class="subtitle">Upper Budget Segment: Lend</p>
                            <div class="row">
                                <div class="col-xs-3 math" highlight="rLend" style="text-align:right;font-size:12pt;padding-top:10px">r^L = {{params.rLend | number: 2}}\%:
                                </div>
                                <div class="col-xs-9" id="rLendSlider"></div>
                            </div>
                        </div>
                    </div>
                {% endraw %}


                {% block belowControls %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block model %}

    <script>

        var cobbDouglasDefinition = {
                    type: 'EconGraphs.CobbDouglasUtility',
                    definition: {
                        xPower: 'params.alpha'
                    }
                },
                complementsDefinition = {
                    type: 'EconGraphs.ComplementsUtility',
                    definition: {
                        bundle: {x: 'params.alpha', y: '1-params.alpha'}
                    }
                },
                substitutesDefinition = {
                    type: 'EconGraphs.SubstitutesUtility',
                    definition: {
                        xCoefficient: 'params.alpha'
                    }
                },
                cesDefinition = {
                    type: 'EconGraphs.CESUtility',
                    definition: {
                        alpha: 'params.alpha',
                        sub: 'params.sub'
                    }
                },
                quasilinearDefinition = {
                    type: 'EconGraphs.QuasilinearUtility',
                    definition: {
                        alpha: 'params.alpha'
                    }
                },
                selectorDefinition = {
                    type: 'KG.Selector',
                    definition: {
                        selected: 'params.selectedUtility',
                        options: [
                            {
                                name: 'CobbDouglas',
                                label: 'Cobb\-Douglas',
                                selection: cobbDouglasDefinition
                            },
                            {
                                name: 'Complements',
                                label: 'Perfect Complements',
                                selection: complementsDefinition
                            },
                            {
                                name: 'Substitutes',
                                label: 'Perfect Substitutes',
                                selection: substitutesDefinition
                            },
                            {
                                name: 'CES',
                                label: 'CES',
                                selection: cesDefinition
                            },
                            {
                                name: 'Quasilinear',
                                label: 'Quasilinear',
                                selection: quasilinearDefinition
                            }
                        ]
                    }
                };




        var scopeDefinition = {
            params: {
                x: 5,
                alpha: 0.52,
                xe: 12,
                ye: 24,
                rBorrow: 4,
                rLend: 3,
                sub: 0.5,
                snapToOptimal: false,
                selectedUtility: 'CobbDouglas',
                showPreferred: false
            },
            graphParams: ['selectedUtility'],
            restrictions: [{
                expression: 'params.xe',
                restrictionType: 'range',
                min: 0,
                max: 30,
                precision: 1
            },
                {
                    expression: 'params.ye',
                    restrictionType: 'range',
                    min: 0,
                    max: 30,
                    precision: 1
                },
                {
                    expression: 'params.x',
                    restrictionType: 'range',
                    min: 0,
                    max: 'params.xe + params.ye/model.pxSell',
                    precision: 1
                }],
            model: {
                type: 'EconGraphs.MarshallianDemand',
                definition: {
                    x: 'params.x',
                    snapToOptimalBundle: true,
                    budget: {
                        type: 'EconGraphs.IntertemporalBudgetConstraint',
                        definition: {
                            c1: 'params.xe',
                            c2: 'params.ye',
                            rBorrow: 'params.rBorrow',
                            rLend: 'params.rLend'
                        }},
                    utility: selectorDefinition
                }
            },
            views: [
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'alphaSlider',
                        param: 'alpha',
                        precision: '0.001',
                        axisDef: {min: 0.5, max: 0.6}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'subSlider',
                        param: 'sub',
                        axisDef: {min: -1, max: 1, ticks: 0}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'rBorrowSlider',
                        param: 'rBorrow',
                        precision: '0.25',
                        axisDef: {min: 0, max: 50}
                    }
                },
                {
                    type: 'KG.Slider',
                    definition: {
                        element_id: 'rLendSlider',
                        param: 'rLend',
                        precision: '0.25',
                        axisDef: {min: 0, max: 50}
                    }
                }
            ]
        }
    </script>
{% endblock %}



{% block js %}
    <script>

        var selectedUtility = '{{ args.utilityFunction }}';

        if(selectedUtility == 'CobbDouglas') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = cobbDouglasDefinition;
        }

        if(selectedUtility == 'Leontief' || selectedUtility == 'PerfectComplements' || selectedUtility == 'Complements') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = complementsDefinition;
        }

        if(selectedUtility == 'Substitutes' || selectedUtility == 'PerfectSubstitutes') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = substitutesDefinition;
        }

        if(selectedUtility == 'Quasilinear') {
            delete scopeDefinition.params.selectedUtility;
            scopeDefinition.model.definition.utility = quasilinearDefinition;
        }

        var budgetSegmentSellX = {
                    type: 'KG.Line',
                    definition: {
                        name: 'budgetLineSellX',
                        className: 'budget',
                        linear: 'model.budget.budgetSegments[0].linear',
                        interaction: {
                            highlight: 'pxSell pyBuy'
                        },
                        yInterceptLabel: 'I_2 + (1+r^L)I_1'

                    }
                },
                budgetSegmentsSellY = {
                    type: 'KG.Line',
                    definition: {
                        name: 'budgetLineSellY',
                        className: 'budget',
                        linear: 'model.budget.budgetSegments[model.budget.budgetSegments.length - 1].linear',
                        interaction: {
                            highlight: 'pxBuy pySell'
                        },
                        xInterceptLabel: 'I_1 + \\frac{I_2}{1 + r^B}'
                    }
                },
                endowmentPoint = {
                    type: 'KG.Point',
                    definition: {
                        name: 'endowment',
                        className: 'budget',
                        coordinates: {
                            x: 'params.xe',
                            y: 'params.ye'
                        },
                        interaction: {
                            draggable: true,
                            highlight: 'endowment'
                        },
                        droplines: {
                            vertical: 'I_1',
                            horizontal: 'I_2'
                        }

                    }
                },
                bundlePoint = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundle',
                        className: 'utility',
                        show: '!params.snapToOptimal',
                        coordinates: {
                            x: 'params.x',
                            y: 'model.budget.yValue(params.x)'
                        },
                        interaction: {
                            xDrag: true,
                            highlight: 'bundle'
                        },
                        droplines: {
                            vertical: 'C_1',
                            horizontal: 'C_2'
                        }

                    }
                },
                bundleOptimalX = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundleX',
                        className: 'utility',
                        show: 'params.snapToOptimal',
                        coordinates: {
                            x: 'model.bundle.x',
                            y: 'model.bundle.y'
                        },
                        interaction: {
                            highlight: 'x'
                        },
                        droplines: {
                            vertical: 'C_1^*'
                        }
                    }
                },
                bundleOptimalY = {
                    type: 'KG.Point',
                    definition: {
                        name: 'bundleY',
                        className: 'utility',
                        show: 'params.snapToOptimal',
                        coordinates: {
                            x: 'model.bundle.x',
                            y: 'model.bundle.y'
                        },
                        interaction: {
                            highlight: 'y'
                        }
                        , droplines: {
                            horizontal: 'C_2^*'
                        }

                    }
                },
                indifferenceCurve = {
                    type: 'KG.FunctionPlot',
                    definition: {
                        name: 'indifference_curve',
                        className: 'utility',
                        fn: "model.utility.utilityFunction.setLevel(model.utility.utility(params.snapToOptimal ? model.bundle : {x: params.x, y: model.budget.yValue(params.x)}))",
                        interaction: {
                            highlight: 'utility'
                        },
                        label: {
                            text: 'params.snapToOptimal ? "U^*" : "U"'
                        }
                    }
                },offerCurve = {
                    type: 'KG.Curve',
                    definition: {
                        name: 'offerCurve',
                        show: 'params.showOffer',
                        data: 'model.priceConsumptionCurveData({good:"x"})',
                        className: 'demand',
                        interpolation: 'basis',
                        labelPosition: 'START',
                        label: {
                            text: 'PCC_x'
                        }
                    }
                },
                preferred = {
                    type: 'KG.FunctionPlot',
                    definition: {
                        name: 'preferredSet',
                        className: 'preferred',
                        fn: "model.utility.indifferenceCurveThroughBundleFn({x: params.snapToOptimal ? model.bundle.x : params.x, y: params.snapToOptimal ? model.bundle.y : model.budget.yValue(params.x)})",
                        area: 'ABOVE RIGHT',
                        show: 'params.showPreferred'
                    }
                }


    </script>

    {% block jsadjustments %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/kg/kg-v0.04.js') }}"></script>

{% endblock %}