{% extends 'graphs/micro/consumer_theory/utility_budget_controls.html' %}

{% block graphs %}
    {% raw %}
    <h1>Demand and Engel Curves: {{ model.utility.title }}</h1>
            <hr/>
            <div class="row">
                <div class="col-xs-6">
                    <div id="utilityAndX"></div>
                </div>
                <div class="col-xs-6">
                    <div id="incomeAndY"></div>
                </div>
            </div>
    {% endraw %}
{% endblock %}

{% block graphDefs %}
    {
                type: 'KG.TwoVerticalGraphs',
                definition: {
                    element_id: 'utilityAndX',

                    topGraph: {
                        xAxisDef: {min: 0, max: 50, title: '\\text{Units of Good X}'},
                        yAxisDef: {min: 0, max: 50, title: '\\text{Units of Good Y}'},
                        objects: [
                            "model.budget.budgetLine",
                            'model.utility.optimalBundlePoint(model.budget,{xAxisLabel:"x^*", yAxisLabel: "y^*"})',
                            'model.utility.optimalIndifferenceCurve(model.budget,{label: "U^*"})'

                        ]
                    },
                    bottomGraph: {
                        xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of X at }P_x'},
                        yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good X}'},
                        objects: [
                            'model.demandCurve({min: 0.01, max: 10, good: "x"},{label:"D_x"})',
                            'model.quantityAtPricePoint(params.px, {good: "x"},{yDrag: "params.px", xAxisLabel:"x^*", yAxisLabel: "P_x"})'
                        ]
                    },
                    objects: []
                }
            },
            {
                type: 'KG.TwoVerticalGraphs',
                definition: {
                    element_id: 'incomeAndY',
                    topGraph: {
                        xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of X and Y at }I'},
                        yAxisDef: {min: 1, max: 200, title: '\\text{Income}'},
                        objects: [
                            'model.engelCurve({min:1, max: 200, good:"x"},{label: "E_x"})',
                            'model.engelCurve({min:1, max: 200, good:"y"},{label: "E_y"})',
                            'model.quantityAtIncomePoint(params.income, {good: "x"},{yDrag: "params.income", yAxisLabel: "I", xAxisLabel: "x^*"})',
                            'model.quantityAtIncomePoint(params.income, {good: "y"},{yDrag: "params.income", yAxisLabel: "I", xAxisLabel: "y^*"})'
                        ]
                    },
                    bottomGraph: {
                        xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of Y at }P_y'},
                        yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good Y}'},
                        objects: [
                            'model.demandCurve({min: 0.01, max: 10, good: "y"},{label:"D_y"})',
                            'model.quantityAtPricePoint(params.py, {good: "y"},{yDrag: "params.py", xAxisLabel: "y^*", yAxisLabel: "P_y"})'
                        ]
                    },
                    objects: []
                }
            }
{% endblock %}