{% extends 'graphs/micro/consumer_theory/utility_budget_controls.html' %}

{% block graphs %}
    {% raw %}
    <h1>Utility Maximization: {{ model.utility.title }}</h1>
    <hr/>
    <div id="utility"></div>
    {% endraw %}
{% endblock %}

{% block belowControls %}
    <hr/>
            <toggle param="snapToOptimal" class="utility"><span ng-if="params.snapToOptimal">Make bundle draggable</span><span ng-if="!params.snapToOptimal">Snap to optimal bundle</span></toggle>
            <toggle param="showMRS" class="utility" ng-if="!params.snapToOptimal"><span ng-if="params.showMRS">Hide</span><span ng-if="!params.showMRS">Show</span> MRS line</toggle>
            <toggle param="showMap" class="utility"><span ng-if="params.showMap">Hide</span><span ng-if="!params.showMap">Show</span> indifference curve map</toggle>
{% endblock %}

    {% block jsadjustments %}
        <script>
        scopeDefinition.params.snapToOptimal = false;
        scopeDefinition.params.showMRS = false;
        scopeDefinition.views.push({
            type: 'KG.Graph',
            definition: {
                element_id: 'utility',
                square: true,
                xAxisDef: {min: 0, max: 50, title: '\\text{Units of Good X}'},
                yAxisDef: {min: 0, max: 50, title: '\\text{Units of Good Y}'},
                objects: [
                    "model.utility.indifferenceCurveFamily([5,10,15,20,25,30,35,40,45],{show: params.showMap})",
                    budgetLine,
                    bundlePoint,
                    indifferenceCurve,
                    MRSline,
                        PCCX, PCCY
                ]
            }
        });
        </script>
    {% endblock %}