{% extends 'graphs/micro/consumer_theory/utility_and_demand.html' %}

{% block graphs %}
    {% raw %}
    <h1>Demand and Engel Curves: {{ model.utility.title }}</h1>
    <hr/>
    <div class="row">
        <div class="col-xs-6">
            <div id="utilityAndDemandX"></div>
        </div>
        <div class="col-xs-6">
            <div id="incomeAndDemandY"></div>
        </div>
    </div>
    {% endraw %}
{% endblock %}

{% block jsadjustments2 %}
    <script>

        // objects for Engel curve diagram
        var engelCurveX = {
                    type: 'KG.Curve',
                    definition: {
                        name: 'engelCurveX',
                        className: 'engel',
                        data: 'model.engelCurveData({good:"x"})',
                        label: {
                            text: 'E_y'
                        }
                    }
                },
                engelCurveY = {
                    type: 'KG.Curve',
                    definition: {
                        name: 'engelCurveY',
                        className: 'engel',
                        data: 'model.engelCurveData({good:"y"})',
                        label: {
                            text: 'E_y'
                        }
                    }
                },
                XquantityDemandedAtI = {
                    type: 'KG.Point',
                    definition: {
                        name: 'XquantityDemandedAtI',
                        className: 'engel',
                        coordinates: {
                            x: 'model.bundle.x',
                            y: 'params.income'
                        },
                        droplines: {
                            vertical: 'x^*'
                        },
                        interaction: {
                            highlight: 'x'
                        }
                    }
                },
                YquantityDemandedAtI = {
                    type: 'KG.Point',
                    definition: {
                        name: 'YquantityDemandedAtI',
                        className: 'engel',
                        coordinates: {
                            x: 'model.bundle.y',
                            y: 'params.income'
                        },
                        droplines: {
                            vertical: 'y^*'
                        },
                        interaction: {
                            highlight: 'y'
                        }
                    }
                },
                incomeLine = {
                    type: 'KG.HorizontalLine',
                    definition: {
                        name: 'incomeLine',
                        className: 'price',
                        y: 'params.income',
                        interaction: {
                            yDrag: 'params.income',
                            highlight: 'income'
                        },
                        yInterceptLabel: 'I'
                    }
                };


        // objects for Y demand curve diagram
        var demandCurveY = {
                    type: 'KG.Curve',
                    definition: {
                        name: 'demandCurveY',
                        className: 'demand',
                        data: 'model.demandCurveData({min: 0.1, max: 50, numSamplePoints: 201, good:"y"})',
                        label: {text: 'D_y'}
                    }
                },
                quantityDemandedAtPriceY = {
                    type: 'KG.Point',
                    definition: {
                        name: 'quantityDemandedAtPriceY',
                        className: 'demand',
                        coordinates: {
                            x: 'model.bundle.y',
                            y: 'params.py'
                        },
                        interaction: {
                            highlight: 'y'
                        },
                        droplines: {
                            vertical: 'y^*'
                        }
                    }
                },
                priceLineY = {
                    type: 'KG.HorizontalLine',
                    definition: {
                        name: 'priceLineY',
                        className: 'price',
                        y: 'params.py',
                        interaction: {
                            yDrag: 'params.py',
                            highlight: 'py'
                        },
                        yInterceptLabel: 'P_y'
                    }
                };


        scopeDefinition.views.push({
                    type: 'KG.TwoVerticalGraphs',
                    definition: {
                        element_id: 'incomeAndDemandY',
                        topGraph: {
                            xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of X and Y at }I'},
                            yAxisDef: {min: 1, max: 200, title: '\\text{Income}'},
                            objects: [engelCurveX, engelCurveY, XquantityDemandedAtI, YquantityDemandedAtI, incomeLine]
                        },
                        bottomGraph: {
                            xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of Y at }P_y'},
                            yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good Y}'},
                            objects: [demandCurveY, quantityDemandedAtPriceY, priceLineY]
                        },
                        objects: []
                    }
                }
        );
    </script>
{% endblock %}
